<%form_for @collection,
	      :html => {:class => '', :style => 'display:'} do |f|%>
<%=f.hidden_field :product_ids%>

	<div id="container" class="narrow">
	
		<div class="heading unselectable">
			Click the items you have on you now.
			<br />
				<a href="javascript:void(0)" class="edit_555555_18 add_review" id="collection_title_initiate">
				Add a title to this set?
			</a>
	
<%=f.text_field :name,
			:class    => 'input',
      :style    => 'display:none'%>

		</div>
	      
	  <div id="items">
		</div> <!-- items -->
	    
	</div> <!-- container -->
	
	
	<div id='footer_onboarding'>
	
	  <%=submit_tag '',
	                :class  => 'done',
	                :name   => nil%>
	    
	</div>

<%end%>

<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Collections.New({
            currentUserJSON : <%=self.current_user.to_json(
                                  :only => [:id,:first_name,:last_name,
                                              :handle])%>,
                     source : '<%=@source%>',
                         el : $('#container')});

  </script>
<%end%>

