<!-- Generate presenters for the view -->
<%@user_presenter       = presenter_for(@collection.user)%>
<%@collection_presenter = presenter_for(@collection)%>

<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
      :locals => {
        :src    => 'collection_' + @collection.id.to_s,
        :target => collection_path(
                    @collection.user.handle,
                    @collection.id,
                    :src => 'footer')} unless logged_in?%>

<div id="container" class="wide">

	<div id="item">
	
		<div class="top_bar">

      <%=@collection_presenter.breadcrumb(
            @user_presenter.closet_title(true),
            @user_presenter.closet_path('collection'))%>
      
      <div class='social_buttons'>

	    <%=render :partial => 'facebook/like', 
	              :locals => {
	              	:style				=> '',
	                :url          => @collection_presenter.url('fb'),
	                :send_button  => false,
	                :width        => 70,
	                :faces        => false}%>
	                
	                
	         twitter tumblr stumble google+
	                
	     </div> <!-- social buttons -->
	     
		</div> <!-- top_bar -->

  
	  <%@collection.products.each do |product|%>
	
	      <%@product_presenter = presenter_for(product)%>
	      <div id="left" class="photo">
	        <%=@product_presenter.large_image%>
	      </div>
	
	      <%=blocker%>

	  <%end%>
  
  </div> <!-- item -->

  <!-- navigation to other products -->
  <%unless @next_collection.id == @prev_collection.id && 
            @next_collection.id == @collection.id%>

    <%=@collection_presenter.next(@prev_collection,@collection.user)%>
    <%=@collection_presenter.prev(@next_collection,@collection.user)%>
  
  <%end%>
  
  <div id="extras">
  
  	 <div id='feedback' class='feedback'>
      <%if logged_in?%>
      	<div class='buttons'>
          <a id='like_actionable' 
              href='javascript:void(0)' 
              class='button like'>
              <span class='in'>♥</span><span class='out'>Like</span>
          </a>
        </div>
      <%end%>

      <div id='feed_items'>
      </div>
     </div> <!-- feedback -->
  
      	
    <div id="comments_container">

      <div>
        <div id="comments">
        </div>
        <%=blocker%>
      </div>
    
    	<%if logged_in?%>
     
	      <div id="add_comment">
		      
		        <%=image_tag self.current_user.photo_url,
		            :class => "comment_photo_self slim_shadow_light",
		            :alt => ""%>
		
		        <%=text_area_tag "comment_data","Add a comment",
		            :class => "" %>
		          
	          <input id="comment_post" class="small_button" 
	                  value="Post" title="Post" type="button" alt=""> 
		      
	        <%=blocker%>
	      </div>
      
      <%end%> <!-- comment entry box -->


      
      <%=blocker%>
      
    </div> <!-- comments_container -->
   
   </div> <!-- extras -->
   
   <%=blocker%>
  
</div> <!-- container -->



  <%content_for :javascript do%>
    <script type="text/javascript">
      new Denwen.Views.Collections.Show({
                    collectionJSON  : <%=@collection.to_json()%>,
                    source          : '<%=@source%>'});
    </script>
  <%end%>

