
<div class="container well" id="container">
  <h2><%=@purchase.title%><h2>

  <%=image_tag @purchase.giant_url%>

  <h3>
    <%=link_to @purchase.user.full_name,
        admin_user_path(@purchase.user.handle)%>
  </h3>

  <h3>
    <%=link_to 'Link to Purchase Page',
          purchase_path(@purchase.user.handle,@purchase.handle)%>
  </h3>

  <br>

  <b>Endorsement</b>
  <h4>
    <%=@purchase.endorsement%>
  </h4>

  <br>

  <%if @purchase.product%>
    <b>Product Stats</b>
    <br>

    ExternalID: <%=@purchase.product.external_id%> <br>
    URL: <%=link_to @purchase.product.source_url,@purchase.product.source_url%>
  <%end%>

  <br>
  <br>

  <h3> Facebook - <%=@purchase.fb_action_id%></h3>
  <h3> Twitter - <%=@purchase.tweet_id%></h3>
  <h3> Tumblr - <%=@purchase.tumblr_post_id%></h3>

</div>
