<div class="container invite" id="container">

	<div class="preview-box">

	<p>
		<span class="fb-favicon"></span> Your invite will look like this on their Timeline:
	</p>

	<div class="fb-timeline border-box rounded-3">
	 	<div style="padding: 11px">
	 	
	 		<div class="user-block">
        <%=image_tag self.current_user.square_image_url,
            :class => "user-photo"%>
	 			<strong><%=user_full_name(self.current_user)%></strong><br />
	 			<span style="color: gray;">
          <%=Time.zone.now.strftime("%B %d")%> via Mine
        </span>
	 		</div> 
	 		
	 		<div class="above-content">
	 			I’d like us to share purchases using <%=CONFIG[:name]%> — 
        a simple service that will notify you when I buy something.
	 		</div>
	 		
	 		<div class="display-content">
	 			<div class="art-photo">
	 				<img src="/images/mine_70_2x.png" />
        </div>
        <strong>
          <div style="margin-bottom: 3px;">
            <%=CONFIG[:name]%> - Click to start yours.
          </div>
        </strong>
	 			<span style="color: gray;">
	 				Your <%=CONFIG[:name]%> is a place to log and 
          share purchases with friends. <br />
	 				It’s fun, and totally free. 
	 				<br />		
	 				<br />	 				
	 				<%=CONFIG[:host]%>
	 			</span>
	 		</div>
	 		
	 	</div> <!-- padding -->

	</div> <!-- /fb-timeline -->
	
	</div> <!-- /invite preview box -->
			
		
	<div id="friends_container">
			
			<div class="search-box relative">
	      <%=text_field_tag 'search_box', 
	          nil, 
	          :placeholder => "Type a friend's name", 
	          :autocomplete => :off,
	          :class => 'border-box enter-item-name'%>
	
	      <%=link_to  '&times;',
	          'javascript:void(0)',
	          :id    => 'x_button',
	          :class => 'close absolute',
	          :style => 'display: none;'%>
			</div> <!-- /search-box -->

			  
	  <!-- friends list -->
		<div id="contacts" class="relative">
			  <div class="loading blocks body" style="height: 60px;">
				</div>
		</div>
			 
	</div> <!-- friends container -->

</div> <!-- /container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Invites.New({
          source  : '<%=@source%>',
         friends  : <%=self.current_user.ifollowers.to_json(
                            :only => [:fb_user_id])%>,
          el      : $('#container')});
  </script>
<%end%>
