<%content_for :head do%>
  <%=render :partial => 'misc/meta',
      :locals => {
        :title => "Invite Friends to #{CONFIG[:name]}"}%>
<%end%>


<a id="facebook_tab"
  href="#facebook" 
  class="well-box tab dark rounded-8-top border-box relative 
          alias-smooth inline-block 
          <%=self.current_user.fb_authorized? ? 'on' : 'off'%>"
  style="width: 50%;">
	 Facebook<span class="rwd-hide"> Invite</span>
</a> <!-- /facebook tab -->

<a id="email_tab"
  href="#email" 
  class="well-box tab dark rounded-8-top border-box relative 
          alias-smooth inline-block
          <%=self.current_user.fb_authorized? ? 'off' : 'on'%>"
  style="width: 50%;">
	 <span class="rwd-hide">Invite by </span>Email
</a> <!-- /email tab -->

<div id="facebook_box"
  class="well-box rounded-8 facebook" 
  style="<%=self.current_user.fb_authorized? ? '' : 'display:none'%>">

	<div class="dark" style="font-size: 14px; padding: 6px 0 18px;">
			Send a personal invite to their Facebook inbox:
	</div>
        
	<span id="friends_container" 
		style="<%=self.current_user.fb_authorized? ? '' : 'display:none'%>">
		
		<div class="search-box relative">
      <%=text_field_tag 'search_box', 
          nil, 
          :placeholder => "Type a friend's name", 
          :autocomplete => :off,
          :class => 'enter txt l rounded-3 border-box'%>

      <%=link_to  '&times;',
          'javascript:void(0)',
          :id    => 'x_button',
          :class => 'close absolute',
          :style => 'display: none; font-size: 28px; top: 8px; right: 10px;'%>
		</div> <!-- /search-box -->

		  
	  <!-- friends list -->
		<div id="contacts" class="connections-box">
			<div id="feed-spinner" class="feed-loading dark">
			</div> 
		</div>
	
	</span> <!--/friends_container-->
	
	<%unless self.current_user.fb_authorized?%>
	
	  <div id="facebook_connect_box">
	    <a href="javascript:void(0)"
	        id="facebook_connect"
	        onclick="this.className += ' load';"
	        class="btn btn-large btn-facebook relative shaded"
	        style="width: 256px;">
	      <span class='hide-when-loading'>
	        <%=image_tag "social/f-box.png",
	            :class => "f-box"%>
	        View Facebook friend list
	      </span>
	      <i class='icon-loading icon-white'></i>
	    </a> 	
	  </div>
	<%end%>

			 
</div> <!-- /well-box facebook-->


<div id="email_box"
  class="well-box border-box rounded-8 email" 
  style="<%=self.current_user.fb_authorized? ? 'display:none' : ''%>">
	<div class="dark" style="font-size: 14px; padding: 6px 0 18px;">
		Invite up to 3 friends with a custom email:
	</div>
	
	<input id="email_1" 
    autocomplete="off" 
    class="txt m rounded-3 border-box email" 
		style="width: 50%; margin-bottom: 10px;" placeholder="1st friend's email" type="text"><br>
		
	<input id="email_2"
    autocomplete="off" 
    class="txt m rounded-3 border-box email" 
		style="width: 50%; margin-bottom: 10px;" placeholder="2nd friend's email" type="text"><br>
		
	<input id="email_3" 
    autocomplete="off" 
    class="txt m rounded-3 border-box email" 
		style="width: 50%; margin-bottom: 10px;" placeholder="3rd friend's email" type="text"><br>
	
	<textarea id="email_message"
    class="txt l rounded-3 unresizable border-box" style="margin: 0 0 12px;" 
		placeholder="Add a personal note (optional)" 
    rows="4" ></textarea>
	
	<button id="create_email_invite" 
    class="btn btn-silver shaded" 
    style="width: 100px;" 
    type="submit">
		<span class="hide-when-loading">
			Send Invites
		</span>
		<i class="icon-loading icon-white"></i>
	</button>
</div> <!-- /well-box email-->
	
	


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Invites.New({
          source  : '<%=@source%>',
         friends  : <%=self.current_user.ifollowers.to_json(
                            :only => [:fb_user_id])%>,
   invite_handle  : '<%=self.current_user.obfuscated_id%>',
          el      : $('#container')});
  </script>
<%end%>
