<div id="pic_bg" class="fixed_bg">

	<div id="container">
	
		<div id="box" class="rounded_5">
		
			<a href="" class="continue_top_right_corner"></a>
		
			<p class="heading">
				<span class="title">Show your friends!</span><br />
				Adding items to your closet is fun,<br />
				showing it to your friends is even better!
			</p>

			<div class="invite_search_enclosure">
			  <%=text_field_tag 'search_box', 
			                    nil, 
			                    :placeholder => 'Search for friends by name', 
			                    :class => 'textfield',
			                    :hidden => :true%>
	
	      <%=link_to  '',
	                  'javascript:void(0)',
	                  :id => 'x_button',
	                  :class => 'x-text',
	                  :hidden => :true%> <!-- X button -->
      </div>        
		
		  <div id="contacts">
		  </div>

      <div id='multi_invite_box' style="display:none">
      <%=render '/users/invite'%> <!-- fb multi invite dialog for edge cases -->
      <div>
		  
		</div> <!-- box -->
		 
	</div> <!-- container -->
	
</div> <!-- pic_bg -->


<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Invites.New({source:'<%=@source%>'});

  </script>
<%end%>
