
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 2} if is_onboarding?%>

<div class="container invite" id="container">
	<div class="row">
		<div class="span6 offset3">
      <%=render "invites/new/styles"%>
      <%=render "invites/new/friends"%>	
      <%=render "invites/new/finish"%>
	 	</div> <!-- /span6 -->
	</div> <!-- /row -->
</div> <!-- /container -->


<%if is_onboarding?%>	
	<div id='footer_onboarding' style="display:none">
	  <%=link_to  '', 
        welcome_path(WelcomeFilter::Create,:category => 'shoes'),
        :class  => 'add_1st_item'%>
	</div>
<%end%>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Invites.New({
          source  : '<%=@source%>',
          styles  : <%=@styles.to_json%>,
          el      : $('#container')});
  </script>
<%end%>
