<div class="box-title" style="margin-top: -6px;">
	<span class="fb-favicon"></span> Send a personal note to their Facebook inbox
</div>
	
<div id="friends_container" class="well-box rounded-5" style="padding-bottom: 4px;">
		
		<div class="search-box relative">
      <%=text_field_tag 'search_box', 
          nil, 
          :placeholder => "Type a friend's name", 
          :autocomplete => :off,
          :class => 'enter txt l rounded-3 border-box'%>

      <%=link_to  '&times;',
          'javascript:void(0)',
          :id    => 'x_button',
          :class => 'close absolute',
          :style => 'display: none;'%>
		</div> <!-- /search-box -->

		  
  <!-- friends list -->
	<div id="contacts" class="connections-box">
		<div id="feed-spinner" class="feed-loading dark">
		</div> 
	</div>
		 
</div> <!-- friends container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Invites.New({
          source  : '<%=@source%>',
         friends  : <%=self.current_user.ifollowers.to_json(
                            :only => [:fb_user_id])%>,
   invite_handle  : '<%=self.current_user.obfuscated_id%>',
          el      : $('#container')});
  </script>
<%end%>
