<%content_for :head do%>
  <%=render :partial => 'misc/meta',
      :locals => {
        :title => "#{CONFIG[:name]} - A directory of people and purchases.", 
        :description => "Discover new products through people you know who've bought them."}%>
<%end%>

<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%> 

<!-- email importer box -->
<div class="well-box border-box rounded-8 rwd-hide unselectable" 
  style="margin: 2px 0 12px;">
  <div class="user-action-box relative unselectable" style="border: none !important; margin-bottom: -9px;">
    <%=image_tag self.current_user.email_authorized? ? 
                  "import-star-check-ccc-32-2x.png" :
                  "import-star-ccc-32-2x.png",
          :style => "width: 32px; top: 0; left: 0;",
          :class => "absolute opacity-80"%>
    <div class="txt m top-line opacity-80 unselectable">
      <%if self.current_user.email_authorized?%>
        You're connected
      <%else%>
        <%=h self.current_user.first_name%>, start your Mine
      <%end%>
    </div>
    <span class="txt s bottom-line opacity-80 unselectable" href="javascript:void(0)">
      <%if self.current_user.email_authorized?%>
        Checking for new purchases in: <%=pluralize days_to_email_import,"day"%>
      <%else%>
        Connect an email, review your purchases.
      <%end%>
    </span>
    
    <div class="import-email-buttons absolute">
   
      <a id="google_connect_button"
          class="btn btn-small btn-silver shaded rounded-3-left 
          <%=self.current_user.google_authorized? ? "connected" : ''%>"         	
          href="javascript:void(0)" 
          style="width: 74px;"
          rel="tooltip"
          title="Gmail or Google Apps"
          data-placement="bottom">
        <span class="unconnected">
          <%=image_tag "logos/email-btn-gmail-2x.png",
              :style => "width: 40px; padding-bottom: 1px;",
              :class => "hide-when-loading"%>
          <i class="icon-loading icon-white"></i>
        </span>
        <i class="icon-ok icon-white connected inline opacity-60" style="margin-top: -1px;"></i>
      </a>
      
      <a id="hotmail_connect_button"
          onclick="$('#hotmail_connect').slideToggle('fast');$('#hotmail_email').phocus()"
          class="btn btn-small btn-silver shaded 
                  square  <%=self.current_user.hotmail_authorized? ? "connected" : ''%>" 
          style="width: 74px;
          border-left: 1px solid #ababab; 
          border-left: 1px solid rgba(0,0,0,0.16);"
          rel="tooltip"
          title="Hotmail, Outlook.com, Live or MSN"
          data-placement="bottom">
        <span class="unconnected">
          <%=image_tag "logos/email-btn-hotmail-2x.png",
              :style => "width: 62px; padding-bottom: 1px;",
              :class => "hide-when-loading"%>
          <i class="icon-loading icon-white"></i>
        </span>
        <i class="icon-ok icon-white connected inline opacity-60" style="margin-top: -1px;"></i>
      </a>
      
      <a id="yahoo_connect_button" 
          class="btn btn-small btn-silver shaded 
                  rounded-3-right  <%=self.current_user.yahoo_authorized? ? "connected" : ''%>" 
          href="javascript:void(0)" 
          style="width: 74px;
          border-left: 1px solid #ababab; 
          border-left: 1px solid rgba(0,0,0,0.16);"
          rel="tooltip"
          title="Yahoo, sbcglobal.net, att.net, verizon.net, bellsouth.net, swbell.net or ameritech.net"
          data-placement="bottom">
        <span class="unconnected">
          <%=image_tag "logos/email-btn-yahoo-2x.png",
              :style => "width: 53px;",
              :class => "hide-when-loading"%>
          <i class="icon-loading icon-white"></i>
        </span>
        <i class="icon-ok icon-white connected inline opacity-60" style="margin-top: -1px;"></i>
      </a>
    
    </div> <!-- /import email buttons -->
  </div> <!-- /user-action-box -->
  
  <%=render :partial => "hotmail/auth_dialog"%>
  
</div> <!-- /well-box -->
<!-- /email importer box -->


<%if is_phone_device?%>
	<div id="notifications_box" style="display:none">
	  <div class="box-title" style="margin-top: -6px;">
	    Notifications
	  </div>
	
	  <div class="well-box border-box rounded-8" style="margin: 2px 0 18px;">
	    <ul id="notifications" class="notifications">
	    </ul>
	  </div> 
	</div>
<%end%> 


<div id="user_suggestions_box" style="display:none">
  <div class="box-title">
    People to follow
    <span class="separator">
    </span>
    <a class="dark" 
      style="" 
      href="<%=user_suggestions_path(:src => 'feed')%>">
    	More
    </a>
  </div>

  <div class="well-box border-box rounded-8" style="margin: 2px 0 12px;">
    <ul id="user_suggestions">
    </ul>
  </div> 
</div> <!-- user suggestions box-->


<div id="creation" 
  style="display:none" 
  class="create-box unit-box border-box">

	<div class="box-title">
		Add a purchase
	</div>

	<div class="well-box border-box rounded-8">
	  <%form_for Purchase.new,
	      :html => {
	        :class => "form-horizontal",
	        :style => "margin-bottom: 0;"} do |f|%>   
	    
		  
      <%=render :partial => 'purchases/input', 
          :locals => {
            :f => f,
            :suggestion => nil,
            :submit_text => "Add to Mine",
            :show_cancel_button => false,
            :show_delete_button => false,
            :show_extra_steps => false,
            :show_fb_share => true,
            :show_tw_share => true,
            :show_tumblr_share => true,
            :fb_share_on => self.current_user.setting.post_to_facebook?,
            :tw_share_on => self.current_user.setting.post_to_twitter?,
            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
	  <%end%> <!-- /form -->
  </div>

</div> <!-- /create-box -->


<div class="box-title feed-title relative" style="padding-bottom: 14px;">
	Your feed
	<a id="add_new_purchase"
    class="dark" 
    href="javascript:void(0)"
    onclick="$('#creation').show();$('#purchase_query').focus();$('#' + this.id).hide();">
    <span class="separator" style="color: #999 !important;">
    </span>
    Add a purchase
	</a>
</div>

<%if self.current_user.inverse_followings_count.zero?%>
<a href="<%=new_invite_path(:src => "feed")%>" 
  class="feed-intro well-box rounded-8">
	<span class="rwd-hide">Get curious.</span> 
	<span style="font-weight: bold; color: white;" 
	class="transition-opacity opacity-80-100">Invite friends</span> to discover what they're buying.
</a>
<%end%>

<div class="feed-container">
	
  <%if self.current_user.is_admin%>
    <div id="m-wrapper" class="m-wrapper relative">
       <%=image_tag "m-search-q-2x.png",
                :style => "",
                :class => "q absolute"%>
       
       <%=link_to  '&times;',
            'javascript:void(0)',
            :id    => 'purchase_search_cross',
            :class => 'close absolute',
            :style => 'display: none;'%>

      <input type="text" 
        id="purchase_search_data"
        class="m-search h-medium square border-box no-shadow affix-top"
        placeholder="Search your network, e.g. 'Apps' or 'Fiction'">
    </div>
  <%end%>

	
	<div id="feed" class="feed cols-2 relative">
	</div> 
	
	<div id="feed-spinner" class="feed-loading dark">
	</div> 
</div> <!-- feed container -->

<%=render :partial => "hotmail/auth_dialog"%>

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Feed.Show({
      successEmailConnectURL: "<%=unapproved_purchases_path(:mode => 'live')%>",
      source: "<%=h @source%>"});
      
		//$('#m-wrapper').height($("#m-search").height());
		//$('#m-search').affix({
		//    offset: $('#m-search').position()
		//});
  </script>
<%end%>
