<div class="container">


	<div class="thumbnail-box">
    <%if self.current_user.followings_count.zero?%>
      <p>
        <%=link_to "Invite a few friends", new_invite_path(:src => "placeholder")%>
        to start sharing purchases:
      </p>

      <%cache ["v1",self.current_user,"contacts","feed"] do%>
        <%self.current_user.contacts.by_weight.limit(7).each do |contact|%>
          <%cache ["v5",contact,"invite","feed"] do%>
            <%=link_to "",
                new_invite_path(
                  :src => "user-image",
                  :anchor => "search/#{contact.name.gsub(' ','-')}"),
                :style => "background: url('#{contact.image_url}')",
                :class => "thumb",
                :rel => "tooltip",
                :title => "Invite #{contact.name}"%>
          <%end%>
        <%end%>
      <%end%>

    <%else%>
      <p>
        You're sharing purchases with:
      </p>

      <%cache ["v2",self.current_user,"ifollowers","feed"] do%>
        <%self.current_user.ifollowers.each do |user|%>
          <%cache ["v5",user,"ifollower","feed"] do%>
            <%=link_to "",
                user_path(user.handle,:src => "feed"),
                :style => "background: url('#{user.square_image_url}')",
                :class => "thumb",
                :rel => "tooltip",
                :title => user.full_name%>
          <%end%>
        <%end%>
      <%end%>

    <%end%> <!-- if followings_count.zero? -->

    <%=link_to "Invite friends <i class='icon-chevron-right icon-white'></i>",
        new_invite_path(:src => "feed"),
        :class => "btn"%>
	</div> <!-- /thumbnail-box -->

  
  <%=render 'purchases/chooser'%>   
  	
  <div id="creation" class="create-box">
    <%form_for Purchase.new,
        :html => {
          :class => "form-horizontal",
          :style => "margin-bottom: 0;"} do |f|%>   
       
		  <div id="suggestions" 
            class="suggestions-box relative" 
            style="display:none">
		  	
		  	<div class="fader absolute left"></div>
		  	<div class="fader absolute right"></div>
			</div> <!-- /suggestions -->
		       
		  
        <%=render :partial => 'purchases/input', 
            :locals => {
              :f => f,
              :suggestion => nil,
              :submit_text => "Add to <span class='mine'>mine</span>",
              :show_cancel_button => false,
              :show_delete_button => false,
              :show_query_box => true,
              :show_query_sub_box => false,
              :show_extra_steps => false,
              :show_fb_share => true,
              :show_tw_share => true,
              :show_tumblr_share => true,
              :fb_share_on => self.current_user.setting.post_to_timeline?,
              :tw_share_on => self.current_user.setting.post_to_twitter?,
              :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
    <%end%> <!-- /form --> 
  
  </div> <!-- create-box -->
  
  <div id="feed" class="feed">
  </div> <!-- feed -->
  
  <div id="feed-spinner" 
        class="loading blocks body" 
        style="height: 60px;">
  </div> 
    


</div> <!-- container -->

<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Feed.Show({
      source          : "<%=@source%>",
      currentUserJSON : <%=self.current_user.to_json(:only => :fb_user_id)%>});
  </script>
<%end%>
