<div class="container">

  <div class="self-box">
    <%=link_to image_tag(self.current_user.square_image_url),
        user_path(self.current_user.handle,:src => "feed_photo"),
        :class => "user-photo"%>
    <div class="user-name">
      <p>
        <%=link_to self.current_user.full_name,
            user_path(self.current_user.handle,:src => "feed_name")%>
      </p>
    </div>
  </div>

  <div class="col">

    <%=render :partial => "users/ifollowers",
        :locals => {:user => self.current_user,:src => "feed"}%>
    
    <%=render :partial => "users/trinkets",
        :locals => {:src => "feed"}%>
  </div>

  <div id="creation" class="creation">
    <div class="row">
      <div class="span6 offset3">
      
        <%form_for Product.new,
            :html => {:class => "well form-horizontal"} do |f|%>
      
          <%=render :partial => 'products/input', 
              :locals => {
                :f => f,
                :suggestion => nil,
                :submit_text => "Mine",
                :show_query_box => true,
                :show_extra_steps => false}%>
      
        <%end%> <!-- /form -->
        
      </div> <!-- /span6 -->
    </div> <!-- /row -->
  </div> <!-- /creation -->


  <%=render 'products/chooser'%> 

  <div id="feed">
  </div>

</div>

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Feed.Show({
          source : "<%=@source%>"});
  </script>
<%end%>
