<%content_for :head do%>
  <%=render :partial => 'misc/meta',
      :locals => {
        :title => "#{CONFIG[:name]} - Tell the world when you buy something great.",
        :description => "Post purchases, perfectly. Share the best stuff in your life. Learn from friends and followers."}%>
<%end%>

<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%> 


<%if is_phone_device?%>
	<div id="notifications_box" style="display:none">
	  <div class="box-title" style="margin-top: -6px;">
	    Notifications
	  </div>
	
	  <div class="well-box border-box rounded-8" style="margin: 2px 0 18px;">
	    <ul id="notifications" class="notifications">
	    </ul>
	  </div> 
	</div>
<%end%> 


<div id="user_suggestions_box" style="display:none">
  <div class="box-title" style="margin-top: -6px;">
    Who to follow
  </div>

  <div class="well-box border-box rounded-8" style="margin: 2px 0 18px;">
    <ul id="user_suggestions">
    </ul>
  </div> 
</div> <!-- user suggestions box-->



<div id="creation" 
  style="margin-top: -6px;" 
  class="create-box unit-box border-box">

	<div class="box-title">
		Add a new purchase
	</div>

	<div class="well-box border-box rounded-8">
	  <%form_for Purchase.new,
	      :html => {
	        :class => "form-horizontal",
	        :style => "margin-bottom: 0;"} do |f|%>   
	    
		  
      <%=render :partial => 'purchases/input', 
          :locals => {
            :f => f,
            :suggestion => nil,
            :submit_text => "<i class='icon-ok icon-white'></i> Add to Mine",
            :show_cancel_button => false,
            :show_delete_button => false,
            :show_extra_steps => false,
            :show_fb_share => true,
            :show_tw_share => true,
            :show_tumblr_share => true,
            :fb_share_on => self.current_user.setting.post_to_facebook?,
            :tw_share_on => self.current_user.setting.post_to_twitter?,
            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
	  <%end%> <!-- /form --> 
  </div>

</div> <!-- /create-box -->


<%unless self.current_user.email_authorized?%>
  <!-- email importer box -->
  <div class="well-box border-box rounded-8-bottom rwd-hide" 
    style="padding-top: 2px; margin: -17px 0 12px; box-shadow: none;">
    <div class="email-action-box relative">		
      <span class="txt m top-line opacity-80">
        Import purchases automagically via your inbox.
      </span>
      <br>
      <a class="txt s bottom-line opacity-80-100 transition-opacity" href="/">
        Learn more
      </a>
      <a id="google_connect_button"
          class="btn btn-small btn-silver shaded rounded-3 absolute" 
          href="javascript:void(0)" 
          style="width: 15%; top: 12px; right: 16.61%;">
        <%=image_tag "logos/email-google-logo-18.png",
            :class => ""%>
      </a>
      <a id="yahoo_connect_button"
          class="btn btn-small btn-silver shaded rounded-3 absolute" 
          href="javascript:void(0)" 
          style="width: 15%; top: 12px; right: 0;">
        <%=image_tag "logos/email-yahoo-logo-18.png",
            :class => ""%>
      </a>
    </div>
  </div>
  <!-- /email importer box -->
<%end%>


<div class="box-title feed-title relative">
	Your feed
</div>

<%if self.current_user.inverse_followings_count.zero?%>
<a href="<%=new_invite_path(:src => "feed")%>" 
  class="feed-intro well-box rounded-8">
	Your feed needs some love!
	<span class="highlight">Invite friends</span> to discover what they're buying.
</a>
<%end%>

<div class="feed-container rounded-8" style="background: #f5f5f5">
	<div id="feed" class="feed rounded-8 relative">
	</div> 
	
	<div id="feed-spinner" class="feed-loading whitesmoke">
	</div> 
</div> <!-- feed container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Feed.Show({
      successEmailConnectURL: "<%=unapproved_purchases_path(:mode => 'live')%>",
      source: "<%=h @source%>"});
  </script>
<%end%>
