<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%>

<div class="unit-box connections-box border-box">
	<div class="box-title relative" style="margin-top: -6px;">
		<%if self.current_user.followings_count.zero?%>
    	<%=link_to "Invite a few friends to follow", new_invite_path(:src => "placeholder")%>
		<%else%>
			You're following <a href="/" class="dark">48 people</a>
		<%end%>
	</div>
	
	<ul class="well-box triple rounded-5 border-box relative">

	  <%if self.current_user.followings_count.zero?%>
	  
	    <%cache ["v1",self.current_user,"contacts","feed"] do%>
	      <%self.current_user.contacts.by_weight.limit(6).each do |contact|%>
	        <%cache ["v5",contact,"invite","feed"] do%>
	          <%=link_to "",
	              new_invite_path(
	              :src => "user-image",
	              :anchor => "search/#{contact.name.gsub(' ','-')}"),
	              :style => "background: url('#{contact.image_url}')",
	              :class => "",
	              :rel => "tooltip",
	              :title => "Invite #{contact.name}"%>
	        <%end%>
	      <%end%>
	    <%end%>
	
	  <%else%>
	
	    <%cache ["v3",self.current_user,"ifollowers","feed"] do%>
	      <%self.current_user.ifollowers.limit(5).each do |user|%>
	      
	        <%cache ["v6",user,"ifollower","feed"] do%>
						<a class="dark" href="<%=user_path(user.handle,:src => "feed")%>">
							<li class="txt m">
								<%=image_tag user.square_image_url,:class => "user-photo m shaded rounded-3"%>
								<%=user.full_name%>
							</li>
						</a>
	        <%end%>
	        
	      <%end%>
	    <%end%>
	
	  <%end%> <!-- if followings_count.zero? -->
	  
	  <%=link_to "
	  	<li class='txt m'>
	  		<img src='/images/invite-icon-blue-2x.png' class='user-photo m shaded rounded-3'/>
	  		Invite a friend
	  	</li>",
      new_invite_path(:src => "feed"),
      :class => "dark"%>
	  
  </ul>


      
</div> <!-- /connections-box -->  

<div id="creation" class="create-box unit-box border-box">
	<div class="box-title">
		Add a new purchase
	</div>
	<div class="well-box rounded-5">
	  <%form_for Purchase.new,
	      :html => {
	        :class => "form-horizontal",
	        :style => "margin-bottom: 0;"} do |f|%>   
	     
		  <!--<div id="suggestions" 
	          class="suggestions-box relative hide-on-mobile" 
	          style="display:none">
			</div> <!-- /suggestions -->
		  
	      <%=render :partial => 'purchases/input', 
	          :locals => {
	            :f => f,
	            :suggestion => nil,
	            :submit_text => "Add to mine",
	            :show_cancel_button => false,
	            :show_delete_button => false,
	            :show_query_box => true,
	            :show_query_sub_box => true,
	            :show_extra_steps => false,
	            :show_fb_share => true,
	            :show_tw_share => true,
	            :show_tumblr_share => true,
	            :fb_share_on => self.current_user.setting.post_to_timeline?,
	            :tw_share_on => self.current_user.setting.post_to_twitter?,
	            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
	  <%end%> <!-- /form --> 
  </div>

</div> <!-- create-box -->


<div class="box-title feed-title relative">
	Your feed
</div>

<div class="feed-container rounded-5" style="background: white">
	<div id="feed" class="feed rounded-5 shaded relative">
	</div> <!-- feed -->
	
	<div id="feed-spinner" class="feed-loading light">
	</div> 
</div>


<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Feed.Show({
      source          : "<%=h @source%>",
      currentUserJSON : <%=self.current_user.to_json(:only => :fb_user_id)%>});
  </script>
<%end%>
