
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 2}%>


<div id="container" class="narrow">
	
		<div class="heading unselectable">
			Success! Here are a few shoppers<br />
			you're following to get you started.
    </div>

    <%form_tag '/welcome',
        :id   => 'new_followings' do |f|%>

      <%=hidden_field_tag :id, WelcomeFilter::Follow%>
      <%=hidden_field_tag :user_ids%>
      <%=submit_tag '',
          :class  => 'invite_friends',
          :name   => nil%>
    <%end%>


	  <div id="users">
		  <%@users.each do |user|%>
			  <div class='picker_choice unselectable'>
	
			  		<div class="left" 
                  style="background-image: url('<%=user.large_photo_url%>');">
			  		</div>
	
						<div class="right">
							<%=user.first_name + ' ' + user.last_name%>
						</div>
						
						<div class="tiles">
              <%stores = @shoppings[user.id].map(&:store)%>
              <%subset = self.current_user.stores.select{|s| stores.include?(s)}%>

              <%subset[0..3].each do |store|%>
                <img class="tile" src=<%=store.image_url%> />
              <%end%>

              <%(stores-subset)[0..(3-subset.length)].each do |store|%>
                <img class="tile" src=<%=store.image_url%> />
              <%end if subset.length <= 3%>
						</div>
		
						<div class='action_bar' id='following_box_<%=user.id%>'>
						</div>
              
			  </div> <!-- picker_choice -->
      <%end%>
	  </div> <!--users-->

</div> <!-- container -->


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Followings.New({
                     users  : <%=@users.map(&:id).to_json%>,
                         el : $('#container')});

  </script>
<%end%>

