<div id="pic_bg" class="fixed_bg">

	<div id="container">
	
		<div id="box" class="rounded_3">
		
			<p class="heading">
				<span class="title">You're now following</span><br />
        People and closets we think you'll like!
       	<br/>
			</p>
			
		      <%=submit_tag '',
		                    :class  => 'continue_wide',
		                    :style  => 'margin-top: 0px;',
		                    :name   => nil%>

		  <div id="users">
		  	<div class='follow_list'>
          <%@users.each_with_index do |user,i|%>
	            <div class='follow_row'> 
	              <img class='follow_user' 
	                    src='<%=user.photo_url%>'>
	              <span class='follow_name'>
	                  <%=user.first_name + ' ' + user.last_name%>
	              </span> · 134 items from:
	            
	              <div class='follow_stores'>
		              <img src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_N2VmNjM5YjhiYzkwNTc2ZTU4NTUxMzIzOTA3ODU3.png' />
		              <img src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_OWU1YWRmZGY4M2VhYTUwYWEyZTkxMzIzOTA3ODYw.png' />
									<img src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_NzEzMGVmYjQzNDgxODNmOGUzOTgxMzI0MDcwMzEx.png' />
									<img src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_OTkzMjdiMzA3MGY3YmUzNDM1MzgxMzIzOTA3OTQx.png' />
		              <img src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_MmFjNmE4NzdiZmQwZjNkZmRmMDYxMzIzOTA3OTM5.png' />
	
									<!-- as with following.jst: follow_on, follow_off -->
		              <a class='follow_off'></a>
	              
	              </div>
	              
	            </div> <!--follow_row-->
            

            <div style="height:3px">
            </div>

            <%content_for :javascript do%>
              <script type="text/javascript">
 /*
                 new Denwen.Partials.Users.Following({
                        el        : $('#following_box_<%=user.id%>'),
                        user_id   : <%#user.id%>,
                        following : <%#@followings[i].to_json%>});
*/
              </script>
            <%end%>

          <%end%>
          
         </div> <!--follow_list-->



		  </div> <!--users-->

		</div> <!-- box -->
		 
	</div> <!-- container -->
	
</div> <!-- pic_bg -->


<%content_for :javascript do%>

  <script type="text/javascript">
     mpq.track('Onboarding Following View',{
      'source'  : '<%=@source%>'});
  </script>

<%end%>

