<!--
<div id="background">
	<img src="/images/home_batch_2.jpg" class="stretch unselectable" />
</div>
-->

<div id="pic_bg" class="fixed_bg">

	<div id='header_onboarding'>
	
		<div class='navbar'>
	
			 <%=image_tag('oncloset_logo_30_white.png', 
			 		:alt => CONFIG[:name],
			 		:class => "logo")%>
			 		
			<ol id='indicators'>
	        <li class='first'></li>
	        <li class='second on'></li>
	        <li class='third'></li>
	    </ol> 		
	
		</div>
	
	</div>

	<div id="container">
		
			<div class="heading">
				Success! Here are a few shoppers<br />
				you're following to get you started.</div>
		      <%=submit_tag '',
		                    :class  => 'add_1st_item',
		                    :name   => nil%>

		  <div id="users">
			  <%@users.each_with_index do |user,i|%>
				  <div class='picker_choice unselectable'>
		
				  		<img src="<%=user.photo_url%>" class="left_img">
		
							<div class="right">
								<%=user.first_name + ' ' + user.last_name%>
							</div>
							
							<div class="tiles">
	              <img class="tile" src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_N2VmNjM5YjhiYzkwNTc2ZTU4NTUxMzIzOTA3ODU3.png' />
	              <img class="tile" src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_OWU1YWRmZGY4M2VhYTUwYWEyZTkxMzIzOTA3ODYw.png' />
								<img class="tile" src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_NzEzMGVmYjQzNDgxODNmOGUzOTgxMzI0MDcwMzEx.png' />
								<img class="tile" src='http://s3.amazonaws.com/denwen-hasit-filesystem/l_OTkzMjdiMzA3MGY3YmUzNDM1MzgxMzIzOTA3OTQx.png' />
							</div>
			
							<div class="action_bar">
							
								 <!-- <#if(isFollowing) {%> -->
									<a href="javascript:void(0)" id="destroy_following">
									  <div class="checkmark_09_666666"></div> Following
									</a>
								<!-- <#} else {%>
									<a href="javascript:void(0)" class="" id="create_following">
									  Follow
									</a>
								<#}%> -->
								
							</div>
	              
				  </div>


            <%content_for :javascript do%>
              <script type="text/javascript">
 /*
                 new Denwen.Partials.Users.Following({
                        el        : $('#following_box_<%=user.id%>'),
                        user_id   : <%#user.id%>,
                        following : <%#@followings[i].to_json%>});
*/
              </script>
            <%end%>

          <%end%>
          



		  </div> <!--users-->

		</div> <!-- box -->
		 
	</div> <!-- container -->
	
</div> <!-- pic_bg -->


<%content_for :javascript do%>

  <script type="text/javascript">
     mpq.track('Onboarding Following View',{
      'source'  : '<%=@source%>'});
  </script>

<%end%>

