<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#777"> 

	<%@all_friends.each do |friend|%>
	  <%=link_to image_tag(friend.square_image_url,
	  	:alt => "", :style => "width: 48px; height: 48px; max-width: 48px; max-height: 48px; margin:3px; 
	  	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;"),
	      user_url(friend.handle,:src => @source)%>
	<%end%>

	<p style="font-size:14px; line-height: 140%; 
		font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
	                          
		<!-- new items --> 
		
	  <strong style="color:#333333">
	    <b>
	      New items:
	    </b>
	  </strong> 
		
		<%@friends.each_with_index do |friend,i|%>
		
		  <%=link_to friend.first_name,
		      user_url(friend.handle,:src => @source),
		      :style => "color:#006FB1;
		                  font-weight:bold;
		                  text-decoration:none;"%><%=@friends.length > 1 && i < @friends.length - 2 ? ',' :''%>
		
		  <%-if @friends.length > 1 && i == @friends.length-2-%>
		    and
		  <%-end-%>
		<%-end-%>
		just shared a few things <%=@friends.length > 1 ? 'they' : @friends.first.is_male? ? 'he' : 'she'%> bought.
		
	</p>
	
	<p style="font-size:14px; line-height: 140%; 
		font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
		                            
		<!-- new connections -->                              
		<%if @new_friends.present?%>
		  <strong style="color:#333333">
		    <b>
		      New people:
		    </b>
		  </strong> 
		
		  <%@new_friends.each_with_index do |friend,i|%>
		    <%=link_to friend.first_name,
		        user_url(friend.handle,:src => @source),
		        :style => "color:#006FB1;
		                    font-weight:bold;
		                    text-decoration:none;"%><%=@new_friends.length > 1 && i < @new_friends.length - 2 ? ',' :''%>
		
		    <%-if @new_friends.length > 1 && i == @new_friends.length-2-%>
		      and
		    <%-end-%>
		  <%-end-%>
		
		  joined Mine. You're now following each other.
		<%end%>
	
	</p>
	
	
	<%=render :partial => "action_button",
	    :locals => {
	      :url => root_url(:src => @source),
	      :text => "View your friends' latest purchases"}%>
	      
	</font>
</td>
                            