<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#333"> 
  
		<a href="<%=user_url(@friend.handle,:src => @source)%>">
	    <%=image_tag @friend.square_image_url,
	    :alt => "", :style => "width: 48px; height: 48px; max-width: 48px; max-height: 48px; 
	    -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;"%></a>
	    
	  <br>

  		
  	<p style="font-size:18px; color: #555; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			<%=@friend.first_name%> just updated his Mine using the e-receipt importer.
			
		</p>
		
		<a href="<%=root_url(:src => @source)%>">
			<%=image_tag "email/import-bw.png",
							:style => "width: 160px; padding-bottom: 20px;"%>
		</a>

    <%=render :partial => "action_button",
        :locals => {
        :url => user_url(@friend.handle,:src => @source),
        :text => "View his latest purchases"}%>	
    
    <p style="color: #888; max-width: 300px; margin-left: auto; padding: 16px 0 8px; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	Mine's email importer works with Gmail or Yahoo! accounts. Mine doesn't store any emails, e-receipts or passwords.
    </p> 
