Hi <%=@user.first_name%>, <br><br>

<%=@action%>. <br><br>

<%=@comment.user.first_name%> wrote: "<%=h @comment.data%>" <br><br>

<a href="<%=product_url(
              @comment.product.id,
              @comment.product.handle,
              :src => "email")%>">
See comment thread
</a>
