<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#777"> 
  
  	<p style="font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			<%=@user.first_name%>, you have a new follower!
			
		</p>
			
		<a href="<%=user_url(@follower.handle,:src => @source)%>">
		  <img src="http://graph.facebook.com/517379696/picture?type=square"
		  	style="-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;"/></a>
			
  	<p style="font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">  
			
			<a href="<%=user_url(@follower.handle,:src => @source)%>"
				style="color: #006FB1; font-weight: bold; text-decoration: none;">
				<%=@follower.full_name%> [Needs proper pic, action button and subj. change]</a>
		  
		</p>
		
		<a href="<%=user_url(@follower.handle,:src => @source)%>">
		  View <%=@follower.first_name%>'s Mine
		</a>

	</font>
</td>
                                          