                    <%content_for :header do%>
                      <%=render :partial => "header_image",
                          :locals => {
                            :url => purchase_url(@purchase.user.handle,@purchase.handle,:src => @source),
                            :image => "header-image-like.jpg",
                            :alt => "Mine: You have a new like."}%>
                    <%end%>

									<!-- email body -->
                  <table width="100%" 
                    border="0" 
                    cellpadding="0" 
                    cellspacing="0" 
                    style="display:table;
                            border-collapse:collapse;
                            text-align:left">
                    <tbody>
                      <tr>
                        <td align="left" valign="top" width="50%">

                          <p style="text-align:center;
                                    line-height:18px;
                                    font-size:15px;
                                    margin-top:10px;
                                    margin-right:33px;
                                    margin-bottom:10px;
                                    margin-left:33px;
                                    padding:0;
                                    border-width:0">
                            <a href="<%=user_url(@actor.handle,:src => @source)%>">
                              <%=image_tag @actor.square_image_url,:alt => ""%>
                            </a>
                          </p>
                          
                          <p style="text-align:center;
                                    color:#333333;
                                    line-height:18px;
                                    font-size:12px;
                                    margin-top:0;
                                    margin-right:33px;
                                    margin-bottom:10px;
                                    margin-left:33px;
                                    padding:0;
                                    border-width:0">
                            <font face="Arial">
                              <strong style="color:#333333">
                                <b>
                                  <a href="<%=user_url(@actor.handle,:src => @source)%>" 
                                      style="color: #177DBE; font-weight: bold; text-decoration: none;">
                                      <%=@actor.first_name%>
                                  </a>
                                </b>
                              </strong> 
                              <%=@action%>.
                            </font>
                          </p>

                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <p style="min-height:20px;margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;padding:0">&nbsp;</p>
                  <!-- /email body -->
                  

                    <%=render :partial => "action_button",
                        :locals => {
                          :url => purchase_url(@purchase.user.handle,@purchase.handle,:src => @source),
                          :text => "View your item"}%>
