Hi <%=@user.first_name%>,<br /><br />

Welcome to OnCloset. What you buy says a lot about you.<br />

Now that you’re in, you can:<br /><br />
Add  
<%Category.all.each_with_index do |c,i|%>
  <a href="<%=new_product_url(
                :category => c.handle, 
                :src      => "email_welcome")%>">
  <%if i<6%>
    <%=c.name%></a>, 
  <%elsif i==6%>
    <%=c.name%></a> (or 
  <%else%>
    Anything at all</a>)
  <%end%>
<%end%> <br />

Add 
<a href="<%=new_shopping_url(:src => "email_welcome")%>">
Favorite stores</a><br/>

Add 
<a href="<%=new_invite_url(:src => "email_welcome")%>">
Influential friends</a> (people with great style, clearly!)<br/><br />

Always feel free to email us 
<a href="mailto:contact@oncloset.com">contact@oncloset.com</a> 
with feedback or questions.
