<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#333"> 
  
  	<p style="font-size:28px; color: #333; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased; margin-bottom: -6px;">
    	Hi <%=@user.first_name%>,
    </p>
  		
  	<p style="font-size:18px; color: #555; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			Congrats, you've just joined<br>the world's directory of people<br>
			and the things they buy.
			
		</p>

    <%#render :partial => "action_button",
        :locals => {
        :url => root_url(:src => @source),
        :text => "Add a recent purchase"}%>	
		
		<p style="color: #888; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			<b>On Mine, you can…</b>
			
		</p>
		
		<a href="<%=root_url(:src => @source)%>">
			<%=image_tag "home/icon-import-2x.png",
								:style => "height: 72px; padding-top: 8px;"%>
		</a>
		
		<p style="color: #888; max-width: 300px; margin-left: auto; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	<b>Import your purchase history</b><br>
    	Connect your Gmail, Hotmail or Yahoo! account to create your Mine profile in seconds.
    </p> 
    
    <a href="<%=root_url(:src => @source)%>">
			<%=image_tag "home/icon-discover-2x.png",
								:style => "height: 44px; padding-top: 8px;"%>
		</a>
		
		<p style="color: #888; max-width: 300px; margin-left: auto; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	<b>Discover products through people</b><br>
    	Look up, browse and follow people on the world’s only directory of ownership.
    </p> 
    
    <a href="<%=root_url(:src => @source)%>">
			<%=image_tag "home/icon-shop-2x.png",
							:style => "height: 48px; padding-top: 8px;"%>
		</a>
		
		<p style="color: #888; max-width: 300px; margin-left: auto; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	<b>Shop in a single click (or tap)</b><br>
    	Just tap to buy or download any item you see that looks interesting.
    </p>
    
    <p style="color: #888; max-width: 300px; margin-left: auto; padding: 16px 0 8px; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	Questions? Comments?<br>Email us at <a href="mailto:contact@getmine.com">contact@getmine.com</a>
    </p> 
