                 
                 <td align="center" style="font-size: 0; padding: 24px 12px;">
                    <font face="Arial" color="#777">                       
                            
                      <a href="<%=user_url(@actor.handle,:src => @source)%>">
                        <%=image_tag @actor.square_image_url, 
                        :style => "-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;"%></a>
                        
                      <br>
                      
                      <p style="font-size:14px; line-height: 140%; 
                     		font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
                    
                      	<a href="<%=user_url(@actor.handle,:src => @source)%>" 
	                     		style="color: #006FB1; font-weight: bold; text-decoration: none;">
	                     		<%=@actor.first_name%>
                      	</a>
                       
                       <%=@action%>:
                       
                      </p>
                      
                      <p style="font-size:14px; color: #333; line-height: 140%; 
                     		font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
												<em><%=@comment.message%></em>
											</p>

              <%=render :partial => "action_button",
                  :locals => {
                    :url => purchase_url(@purchase.user.handle,@purchase.handle,:src => @source),
                    :text => "Add your reply"}%>
                    
                   		</font>
                   </td>
                   

