								<!-- Email body -->
								
								<td width="500" valign="top" style="border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
										
											<!-- Salutation -->
											
											<tr>
												<td valign="top" style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;color:#777; font-size:24px;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
														<b>
															Hey 
															<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#555555"><%=@user.first_name%></font>,
														</b>
													</font>
												</td>
											</tr>
											
											<!-- /Salutation -->
											
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
											<tr>
												<td style="border-collapse:collapse;vertical-align:top">
													<table cellpadding="0" cellspacing="0" border="0" width="100%">
														<tbody>
															<tr>
																<td style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:16px;line-height:24px;color:#777;border-collapse:collapse;vertical-align:top">
																	<table cellpadding="0" cellspacing="0" border="0" width="100%">
																		<tbody>
																			<tr>
																			
																				<!-- User image -->
																				
																				<td valign="top" style="border-collapse:collapse;vertical-align:top">
																					<a href="<%=user_url(@follower.handle,:src => @source)%>" target="_blank">
																						<img src="<%=@follower.square_image_url%>"/>
																					</a>
																				</td>
																				
																				<td width="15" style="border-collapse:collapse;vertical-align:top">
																				</td>
																				
																				<!-- /User image -->
																				
																				<!-- Message text -->
																				
																				<td align="top" style="border-collapse:collapse;vertical-align:top">
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						Just a quick note to say<br />
																						<a href="<%=user_url(@follower.handle,:src => @source)%>" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA"><%=@follower.full_name%></font></a> 
																							is now sharing purchases with you.
																					</font>
																				</td>
																				
																				<!-- /Message text -->
																				
																			</tr>
																			<tr>
																				<td colspan="3" style="line-height:2;border-collapse:collapse;vertical-align:top">
																					<br>
																					
																					<!-- Action button -->
																					
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						<font color="#589111">
																							<a href="<%=user_url(@follower.handle,:src => @source)%>" style="color:#fff;text-decoration:none;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-weight:bold;padding:8px 12px;width:84px;text-align:center;
																								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
																							  background-color: #6f6f6f;
																							  background-image: -moz-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -ms-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8a8a), to(#535353));
																							  background-image: -webkit-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -o-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: linear-gradient(top, #8a8a8a, #535353);
																							  background-repeat: repeat-x;
																							  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#535353', GradientType=0);
																							  border-color: #626262 #656565 #484848;
																							  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
																							  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);" 
																							target="_blank">
																								View <%=@follower.first_name%>'s Mine
																							</a>
																						</font>
																					</font>
																					
																					<!-- /Action button -->
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								
								<!-- /Email body -->
