<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#333"> 
  
  	<p style="font-size:24px; color: #333; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased; margin-bottom: -6px;">
    	Hi <%=@user.first_name%>,
    </p>
  		
  	<p style="font-size:18px; color: #555; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			You have <%=@count%> recent <%=@noun%><br>to review on Mine.
			
		</p>
		
		<%=image_tag "email/import-1.png",
						:style => "width: 160px; height: 60px; vertical-align: bottom; line-height: 1;"%> 
						
		<br>
		
		<%=image_tag "email/import-2.png",
				:style => "display: inline; width: 50px; height: 50px; vertical-align: top; line-height: 1;"%> 
				
		<span style="display: inline-block; vertical-align: top; width: 60px; height: 46px; line-height: 1; text-align: center;
			font-family: 'Helvetica Neue', 'Helvetica'; color: #555; font-weight: bold; font-size: 46px;">
			<%=@count%>
		</span>
				
		<%=image_tag "email/import-3.png",
				:style => "display: inline; width: 50px; height: 50px; vertical-align: top; line-height: 1;"%> 
				
		<br>
		
		<%=image_tag "/email/import-4.png",
				:style => "width: 160px; height: 60px; vertical-align: top; padding-bottom: 20px; line-height: 1;"%> 
		
    <%=render :partial => "action_button",
        :locals => {
        :url => unapproved_purchases_url(:src => @source),
        :text => "Review your #{@noun}"}%>	
    
    <p style="color: #888; max-width: 300px; margin-left: auto; padding: 16px 0 8px; margin-right: auto; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	Questions? Comments?<br>Email us at <a href="mailto:contact@getmine.com">contact@getmine.com</a>
    </p> 
