<table style="background-color: #f8f8f8;">

	<!-- salutation -->
	<tr>
		<td width="560" valign="top" 
			style="padding: 20px 20px 0px; border-collapse:collapse;vertical-align:top; 
							font-family:Helvetica Neue, Helvetica, Arial,sans-serif; font-size:20px; 
							line-height:24px;color:#333;">			
			<b>Hi <%=@user.first_name%>,</b>
		</td>
	</tr>
	
	<!-- intro -->
	<tr>
		<td width="560" valign="top" 
			style="padding: 10px 20px; border-collapse:collapse;vertical-align:top; 
							font-family:Helvetica Neue, Helvetica, Arial,sans-serif; font-size:16px; 
							line-height:24px;color:#333;">	
			As an OnCloset user, we wanted to let you know 
			that your OnCloset is now called <b>'mine'</b> — your purchases are all there, 
			but we’ve made adding new ones and sharing with friends even easier.<br /> 
			<a href="" target="_blank" style="text-decoration: none; color: #197DCA;">
				<b>Log in now</b>
			</a> to see your purchases!
			
		</td>
	</tr>
	
	<!-- envelope -->
	<tr>
		<td width="560" valign="top" 
			style="padding: 20px 20px 0px; border-collapse:collapse;vertical-align:top; 
							font-family:Helvetica Neue, Helvetica, Arial,sans-serif; font-size:16px; 
							line-height:24px;color:#333;">
			<a href="" target="_blank" style="text-decoration: none;">
      	<img src="/images/email/hey.jpg" />
      </a>
		</td>
	</tr>
	
	<!-- free iphone -->
	<tr>
		<td width="560" valign="top" 
			style="padding: 20px 20px 20px; width: 84px; border-collapse:collapse;vertical-align:top; 
							font-family:Helvetica Neue, Helvetica, Arial,sans-serif; font-size:16px; 
							line-height:24px;color:#333;">
			<table>
				<tr>
					<td width="84" valign="top">
						<a href="" target="_blank" style="text-decoration: none;">
      				<img src="/images/email/iphone.jpg" />
      			</a>	
					</td>
					<td width="476" valign="top" 
						style="padding-left: 20px ; border-collapse:collapse;vertical-align:top; 
										font-family:Helvetica Neue, Helvetica, Arial,sans-serif; font-size:13px; 
										line-height:20px;color:#333;">
						<b><span style="font-size: 18px; line-height:30px">Want to win a free, brand new iPhone?</span></b><br /> 
						Log in and Invite 5 friends to Mine.<br /> 
						When they each add a 1st purchase, you’re automatically entered to win.<br /> 
						We’ll announce the winner by email on Friday, June 15th.<br />
						<a href="" target="_blank" style="text-decoration: none;">
      				<img style="padding-top: 10px;" src="/images/email/get-inviting.gif" />
      			</a>	
					</td>
				</tr>
			</table>

		</td>

	</tr>

 <tr style="background-color:#F2F0ED;background:#F2F0ED;">
    <td style="padding:15px 0 15px 0;border-collapse:collapse;vertical-align:top">
      <table cellpadding="0" cellspacing="0" border="0" align="left">
        <tbody>
          <tr>
            
            <!-- Logo -->
            
            <td width="50" height="50" valign="top" style="border-collapse:collapse;vertical-align:top">
              <a href="<%=root_url(:src => @source)%>" target="_blank" style="text-decoration:none;">
                <div alt="<%=CONFIG[:name]%>" title="<%=CONFIG[:name]%>" width="50" height="50" style="width: 50px; height: 50px; outline:none; text-decoration:none; border:none; display:block">
                  <%if Rails.env.start_with? 'd'%>
                    <%=image_tag "http://#{CONFIG[:host]}/images/mine_100_2x.png",:alt => "", :style => "width: 50px; height: 50px;"%>
                  <%else%>
                    <%=image_tag "mine_100_2x.png",:alt => "", :style => "width: 50px; height: 50px;"%>
                  <%end%>
                </div>
              </a>
            </td>
            
            <!-- /Logo -->
            
            <td width="20" style="width: 20px; border-collapse:collapse;vertical-align:top">
            </td>
            
            <!-- Boilerplate text -->
            
            <td height="40" width="470" style="text-align:left;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;line-height: 14px; font-size:9px;color:#bbbbbb;border-collapse:collapse;">
              <font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="1" color="#999999">This message was sent to 
              
                <!-- Recipient's address -->
                
                <a href="" style="text-decoration:none;color:#999999">
                	<%=@user.email%>.
                </a>
                
                <!-- /Recipient's address -->
                
                If you don't want to receive these emails from <%=CONFIG[:name]%> in the future you can 
                
                <!-- Unsubscribe link -->
                
                <a href="<%=settings_url(:src => @source)%>" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
                  <font color="#999">change your notification settings. 
                  </font>
                </a>
                
                <!-- /Unsubscribe link -->
                
                <%=CONFIG[:name]%> - <a href="" style="text-decoration:none;color:#999999">855 El Camino Real, Bdg 5 #309, Palo Alto CA 94301 USA</a>
              </font>
            </td>
            
            <!-- /Boilerplate text -->
            
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  
</table>


