<footer>
  <div class="inner relative border-box unselectable">
  
  	<ul class="inline-block" style="float: left;">
  		<li class="rwd-hide">
  			© <%=CONFIG[:name]%>
  		</li>
  		<li>
  			<a href="http://itunes.apple.com/us/app/mine./id567558757?mt=8">
  				iPhone App
  			</a>
  		</li>
  		<li>
  			<a href="<%=about_path(:src => "footer")%>">About</a>
  		</li>
  		<li>
  			<a href="<%=faq_path(:src => "footer")%>">FAQ</a>
  		</li>
  		<li>
  			<%=email_link%>
  		</li>
  	</ul>
  	
  	<ul class="inline-block coverage" style="float: right;">
  		<li>
  			<a href="http://blogs.wsj.com/venturecapital/2012/12/11/qa-with-michael-dearing-how-investing-is-like-visiting-a-farmers-market/"
					target="_blank" alt="Wall Street Journal">
					<%=image_tag "home/home-coverage-wall-street-journal.png",
    					:style => "width:151px;"%>		
  			</a>
  		</li>
  		<li>
  			<a href="http://betakit.com/2012/12/10/to-pick-up-where-blippy-failed-mine-launches-social-network-for-online-purchases"
					target="_blank" alt="Betakit">
					<%=image_tag "home/home-coverage-betakit.png",
    					:style => "width:49px; padding-bottom: 2px;"%>	
  			</a>
  		</li>
  		<li>
  			<a href="http://techcrunch.com/2012/12/10/blippy-redux-mine-launches-a-service-for-sharing-your-purchases-with-friends/"
					target="_blank" alt="TechCrunch">
					<%=image_tag "home/home-coverage-techcrunch.png",
    					:style => "width:96px;"%>	
  			</a>
  		</li>
  		<li>
  			<a href="http://allthingsd.com/20121210/meet-mine-your-life-in-e-shopping/"
					target="_blank" alt="All Things D">
					<%=image_tag "home/home-coverage-all-things-d.png",
    					:style => "width:97px; padding-top: 2px;"%>	
  			</a>
  		</li>
  	</ul>
  	
  </div>
</footer>

