<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => 'link',
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.closet_url('fb'),
              :image        => @store.large_url}%>
<%end%>

<div id="container" class="wide">

	<!-- sidebar: left -->
	<div class='sidebar'>

   	<%=@store_presenter.large_picture('picture')%>

    <div class='username'>
      <%=@store_presenter.name%>
    </div>
      
    <!--<div id='profile_bio'>
      <div id='user_byline_default'>	
        Recently bought items
      </div>
    </div>--> 
  
    <div id="top_shoppers">
    </div> <!-- top shoppers at this store -->
    
    <div id="top_products">
    </div> <!-- top products at this store -->
    
  </div> <!-- sidebar: left -->	
  

  <!-- Main -->
  <div id='main'>
  
  	<div id='social_buttons' class="titlebar">
							<!-- like button for the page -->
		  			<%=render :partial => 'facebook/like', 
		            :locals  => {
		            :style	 => '',
		            :url     => @store_presenter.closet_url('fb'),
		            :send_button  => false,
		            :width        => 90,
		            :faces        => false}%>	
		            
		    twitter
		    tumblr
		    stumble
		    google+
		    
			</div>
    
    <div id="centerstage"></div>
  
  </div> <!-- main -->
  
  <!-- sidebar: right -->
	<div class='sidebar right'>
		Related stores go here
	</div> <!-- your_stores_box -->
	  
	</div> <!-- sidebar: right -->	

</div> <!-- container -->




<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json()%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
