<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => OGObject::Store,
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.closet_url('fb'),
              :image        => @store.large_url}%>
<%end%>



<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :src    => @store_presenter.source_id,
            :target => @store_presenter.closet_path('footer')} unless logged_in?%>

<div class="container profile">

	<div class="row">
    <div class="span12">
    	<div class="well profile-card" style="height: 128px; margin-bottom: 12px;">
    		<div class="profile-card-inner">
		    	<div class="profile-img">
    				<%=@store_presenter.large_picture('picture')%>
    			</div>
    			<h1 style="padding-bottom: 3px;"><%=@store_presenter.name%></h1>
    		</div>
    		
    		<!-- <div class="profile-card-actions" id="top_shoppers"></div> -->
				
				<div class="profile-card-actions" id="related_stores_box"></div>
				
				<div class="profile-card-actions" id="top_products" style="width: 128px;"></div>
    		
    	</div> <!-- /well profile-card -->
    </div> <!-- /span12 -->
  </div> <!-- /row -->

  <div class="row">
    <div class="span12">
    	<div class="well items">
    		<legend id="products_tab"> 
    			Current Buys
        </legend>
    		<div class="control-group">  
	    		<div id="centerstage"></div>
	    	</div>
	    </div> <!-- /well -->
	  </div> <!-- /span12 -->
  </div> <!-- /row -->
  
</div> <!-- /container -->


<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json(:only => [:id,:name])%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
