<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => OGObject::Store,
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.closet_url('fb'),
              :image        => @store.large_url}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :src    => @store_presenter.source_id,
            :target => @store_presenter.closet_path('footer')} unless logged_in?%>


<div class="container">
  <div class="row">
  
    <div class="span2">

			<!-- store logo -->
      <div style="line-height: 0px;">
   			<%=@store_presenter.large_picture('picture')%>
   		</div>

    	<!-- store name -->  
      <h3 style="padding: 13px 0;">
      	<%=@store_presenter.name%>
      </h3>
    
    	<!-- Latest buys tab -->
      <ul class="nav nav-tabs nav-stacked">
    		<li id="products_tab">
    				<a href="#products/all">Latest buys</a>
    		</li>
    	</ul>
  
  		<!-- top shoppers -->
    	<div id="top_shoppers">
    	</div>
    
    	<!-- top products -->
    	<div id="top_products">
    	</div>
    
  	</div> <!-- /span2 (left) -->	

	  <div class="span8">
	    <div id="centerstage"></div>
	  </div> <!-- /span8 -->
	  
	  <div class="span2">
	    <div class="well" style="padding: 8px 0; white-space:nowrap; overflow: hidden;">
	    	<ul class="nav nav-list" id="related_stores_box">
	    	</ul>
	    </div>
	  </div> <!-- /span2 (right) -->

  </div> <!-- /row -->
</div> <!-- /container -->


<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json(:only => [:id,:name])%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
