<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<div id='profile_container'>

	<!-- Right column -->
	<div id='profile_right'>
	
  	<div id='top_shoppers_box' class='box tiled'>
  	</div>
  	
  	<div class='box stats shaded'>
  		<%=@store_presenter.closet_stats%>
		</div> <!-- closet_stats -->
		
		<div class='box cat_nav shaded'>
      <%=@store_presenter.closet_filter_links(@categories)%>
      <%=blocker%>
	 	</div> <!-- cat_nav -->
  	
		<div id='top_products' class='box shaded'>
		</div>
	
	</div>
	
	
	<!-- Left column -->
	<div id='profile_main'>

		<div id='profile_details'>
      
      <img class='profile_user_photo slim_shadow_light' src='<%=@store.large_url%>' />
		
			<div id='profile_details_right'>
			
		    <div class='store_username'>
		      <%=@store.name%>
		    </div>
		
		    <div id='profile_bio'>
		      <div id='user_byline_default'>	
           	<span class='store_byline'>
           		Recently bought items
           	</span>
		      </div>
		    </div> 
		      
		  </div> <!--profile_details_right-->

		</div> <!--profile_details-->
		
		<div id='closet'>
     	<div class='top'>
    	</div>
      
	    <div class='rows'>
	      <div id='products'>
	      </div>
	    </div> 
      
    	<div class='bottom'>
      </div>
    </div>
    <!-- end of closet -->
	
	</div> <!-- profile_main -->

</div> <!-- profile_container -->




<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json()%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
