<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => 'link',
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.closet_url('fb'),
              :image        => @store.large_url}%>
<%end%>


<div id="outer">

    <!-- Welcome box to signup if user is not logged in -->
  <%=render :partial => 'misc/welcome', 
            :locals => {
              :user_presenter => @user_presenter,
              :source         => @user_presenter.source_id} unless logged_in?%>
    
  <!-- Main -->
  <div id='inner_main'>
      
      <div id="shelves"></div>
  
  </div> <!-- inner_main -->
    
  <!-- Side column -->
  <div id='inner_side'>
  
		<div class="profile_picture_box">
			
  		<!-- like button for the page -->
		  <%=render :partial => 'facebook/like', 
		            :locals  => {
		            :style	 => 'z-index: 5000; position: absolute; top: 5px; left: 6px;',
		            :url     => @store_presenter.closet_url('fb'),
		            :send_button  => false,
		            :width        => 80,
		            :faces        => false}%>	
			
			<div class='like_this_store_box'></div>
   	  <%=@store_presenter.large_picture('picture')%>
   	 
   	</div>
      
    <div class='username'>
      <%=@store_presenter.name%>
    </div>
      
      <div id='profile_bio'>
        <div id='user_byline_default'>	
          Recently bought items
        </div>
      </div>
         
      <!-- like button for the page 
      <#=render :partial => 'facebook/like', 
                :locals  => {
                :style	 => 'position: absolute; top:5px; left: 5px;',
                :url     => @user_presenter.closet_url('fb'),
                :send_button  => false,
                :width        => 125,
                :faces        => false}%>-->
  
  
    <div id="top_shoppers" class="box tiled">
    </div> <!-- top shoppers at this store -->
    
    <div id="top_products" class="box">
    </div> <!-- top products at this store -->
    
  </div> <!-- inner_right -->	


</div> <!-- outer -->




<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json()%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
