<div id="container">
  <%=@store.name%> <br>
  <%=@store.products_price%> <br>
  <%Category.fetch_all.each do |category|%>
    <%=@store.products_category_count(category.id)%>
  <%end%>
</div>

<div id = 'profile_right'>
  <div id = "top_shoppers_box">
  </div>
</div>

<div id="products">
</div>

<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json()%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
