<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => OGObject::Store,
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.closet_url('fb'),
              :image        => @store.large_url}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :src    => @store_presenter.source_id,
            :target => @store_presenter.closet_path('footer')} unless logged_in?%>


<div id="container">

	<!-- sidebar: left -->
	<div class='sidebar'>

   	<%=@store_presenter.large_picture('picture')%>

    <div class='username'>
      <%=@store_presenter.name%>
    </div>
  
    <div id="top_shoppers">
    </div> <!-- top shoppers at this store -->
    
    <div id="top_products">
    </div> <!-- top products at this store -->
    
  </div> <!-- sidebar: left -->	
  

  <!-- Main -->
  <div id='main'>
    <div id="centerstage"></div>
  </div> <!-- main -->
  
  <!-- sidebar: right -->
	<div class='sidebar right'>
    <div id='related_stores_box'>
    </div>
	</div> 
	  
	</div> <!-- sidebar: right -->	

</div> <!-- container -->




<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type='text/javascript'>

    new Denwen.Views.Stores.Show({
          storeJSON    : <%=@store.to_json(:only => [:id,:name])%>,
          source       : "<%=@source%>"});

  </script>
<%end%>
