	<div id="user_box" class="user-box">
  
    <%=link_to image_tag(user.square_image_url,
                :class => "user-photo xxl rounded-3 absolute"),
        user_path(user.handle,:src => "box")%>
        
    <div class="basics border-box">
    	<span class="relative">
    		<%=h user.full_name%> 
    		<a href="#" rel="tooltip" 
    		title="Connected to Mine e-receipt importer"
    		data-placement="right"
    			class="absolute opacity-80-100">
    		<%=image_tag image_path('import-star-check-ccc-32-2x.png'),
    				:class => "",
	    			:style => "height: 24px;"%>
	    	</a>
    	</span>
    	<br>
    	<span class="item-count">
        <%unless user.purchases_count.zero?%>
          <b><%=user.purchases_count%></b> 
          <%=user.purchases_count == 1 ? 'item' : 'items'%>
        <%else%>
          No items
        <%end%>
      </span>
      
      <%if user.tw_user_id.present?%>
        <%=link_to image_tag("social/t-box.png", 
                             :class => "t-box opacity-80-100"),
                   user.tw_profile_url,
                   :target => '_blank'%>
      <%end%>

      <%if user.fb_user_id.present?%>
        <%=link_to image_tag("social/f-box.png", 
                             :class => "f-box opacity-80-100"),
                   user.fb_profile_url,
                   :target => '_blank'%>
      <%end%>
      
    </div>
    
  	<div id="follow_box">
  	</div>
         
  </div> <!-- /user-box-->
 
 
 	<!-- bio: -->
 
  <%if logged_in?%>
    <%=render :partial => "byline",
       :locals => {:user => user}%>
  <%else%>
		<div class="bio-box">
			<div class="user-bio txt m border-box">

      	Discover the best that <%=h user.first_name%> buys.

        <%=link_to "Learn more",
            root_path(:src => "learn"),
            :class => "dark underlined nowrap"%>
      </div>
    </div>

    <%=render :partial => "users/modal",:locals => {:user => user}%>
  <%end%> 
  
  <!--/bio-->


		
		       
