	<div id="user_box" 
    class="user-box well-box border-box rounded-5 alias-smooth relative">
  
    <%=link_to image_tag(user.square_image_url,
                :class => "user-photo xxl rounded-3"),
        user_path(user.handle,:src => "box")%>
        
    <div class="user-name absolute">
    	<%=logged_in? ? '' : 'Follow'%> <%=h user.full_name%>
    </div>

    <div id="follow_box" data-toggle="modal" href="#join">
    </div>

    <%if logged_in?%>
      <%=render :partial => "byline",
         :locals => {:user => user}%>
    <%else%>
			<div class="bio-box absolute">
				<div class="user-bio txt m border-box">

	      	<%="#{user_singular_pronoun(user).capitalize}'s"-%> sharing things 
	      	<%=user_singular_pronoun(user)%> buys on mine. 

          <%=link_to "Learn more",
              root_path(:src => "learn"),
              :class => "dark underlined"%>
	      </div>
	    </div>
    <%end%>
    
    <!-- join modal -->
    <div class="modal hide rounded-5" id="join">
		  <div class="modal-header gradient v-FFF-DDD rounded-5-top">
		    <button type="button" class="close" data-dismiss="modal">&times;</button>
		    <h4>Follow <%=h user.full_name%>'s latest purchases</h4>
		  </div>
		  <div class="modal-body" style="text-align: center;">
		  
		    <a href="<%=fb_auth_path(:src => @origin)%>" 
	          onclick="this.className += ' load';"
	          class="btn btn-large btn-facebook relative shaded"
	          style="width: 168px;">
	        <span class='hide-when-loading'>
	          <%=image_tag "social/f-box.png",
	              :class => "f-box"%>
	          Join now
	        </span>
	        <i class='icon-loading icon-white'></i>
	      </a> 	
	      
	      <div class="txt xs" style="margin-top: 8px; color: #999;">Quick sign up. Mine never auto-shares.</div>
      
		  </div>
		</div>
		<!-- /join modal -->
       
  </div> <!-- /user-box -->

		
		       
