	<div id="user_box" class="user-box">
  
    <%=link_to image_tag(user.square_image_url,
                :class => "user-photo xxl rounded-3 absolute"),
        user_path(user.handle,:src => "box")%>
        
    <div class="basics border-box">
    	<%=logged_in? ? '' : 'Follow'%> <%=h user.full_name%> 
    	<br>
    	<span class="item-count"><b>57</b> items</span>
    </div>
    
  	<div id="follow_box">
  	</div>
         
  </div> <!-- /user-box-->
 
 
 	<!-- bio: -->
 
  <%if logged_in?%>
    <%=render :partial => "byline",
       :locals => {:user => user}%>
  <%else%>
		<div class="bio-box">
			<div class="user-bio txt m border-box">

      	<%="#{user_singular_pronoun(user).capitalize}'s"-%> sharing things 
      	<%=user_singular_pronoun(user)%> buys on mine. 

        <%=link_to "Learn more",
            root_path(:src => "learn"),
            :class => "dark underlined"%>
      </div>
    </div>

    <%=render :partial => "users/modal",:locals => {:user => user}%>
  <%end%> 
  
  <!--/bio-->


		
		       
