
      <%if is_current_user(user)%>
      
          <!-- byline editing -->
          <%=text_field_tag 'user_byline',
              self.current_user.byline,
              :style => 'display:none'%>
          
          <%=link_to 	'Update', 
                      'javascript:void(0)', 
                      :class	=> 'update',
                      :id			=> 'user_update',
                      :style	=> 'display:none'%>
                      
          <%=link_to 	'Cancel', 
                      'javascript:void(0)', 
                      :class	=> 'submit_red_12',
                      :id			=> 'user_cancel',
                      :style	=> 'display:none'%>													
          
          
          <!-- byline display -->
          <span id='user_byline_text'>
            <%=h self.current_user.byline%>
          </span>
          

          <%=link_to 	'Edit', 
                      'javascript:void(0)', 
                      :class	=> 'edit_gray_12 inline_nudge',
                      :id			=> 'user_edit',
                      :style	=> self.current_user.byline.present? ?
                                  '' :
                                  'display:none'%>															               
          
          <!-- byline empty --> 
          <%=link_to  "Add your style statement",
                      'javascript:void(0)',
                      :id     => 'user_edit_initiate',
                      :class  => 'edit_gray_12',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' : 
                                  ''%>
          
      <%else%>

          <%=user.byline.present? ? 
              user.byline : 
              "Collecting since " + user.created_at.strftime('%B %Y')%>

      <%end%> 
