      <%if is_current_user(user)%>
        <div id="user_byline_box" class="bio-box">

          <!-- byline editing -->
          <%=text_field_tag 'user_byline',
              self.current_user.byline,
              :class  => 'txt m border-box rounded-2 alias-smooth unresizable',
              :rows   => '1',
              :style  => ""\
                         "#{self.current_user.byline.present? ? 
                              'display:none;' : ''}",
              :placeholder => "About yourself in a sentence..."%>
          
          
          <%=link_to  'Save', 
	            'javascript:void(0)', 
	            :id     => 'user_update',
	            :class  => 'btn btn-small btn-silver',
	            :style  => self.current_user.byline.present? ?
	                        'display:none' :
	                        ''%>   
                     
          
          <!-- byline display -->
          <div id="user_edit_box" 
                class=""
                style="<%=self.current_user.byline.present? ?
                        '' :
                        'display:none'%>">
          
          	<div class="user-bio txt m border-box">	
          		<span id="user_byline_text">
          			<%=h self.current_user.byline%>
          		</span>
        	
	          	<%=link_to  'Edit', 
		                      'javascript:void(0)', 
		                      :class  => 'dark mini',
		                      :id     => 'user_edit',
		                      :style  => self.current_user.byline.present? ?
		                                  '' :
		                                  'display:none'%>                
	          </div>
	          
          </div>
          
        </div>
      <%elsif user.byline.present?%>
        <div id="user_byline_box" class="bio-box">
					<div class="user-bio txt m border-box">
            <%=h user.byline%>
         </div>
        </div>
      <%end%> 
