
      <%if is_current_user(user)%>
      
          <!-- byline empty --> 
          <%=link_to  "Add your style statement",
                      'javascript:void(0)',
                      :id     => 'user_edit_initiate',
                      :class  => 'tab',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' : 
                                  ''%>

          <!-- byline editing -->
          <%=text_area_tag 'user_byline',
              self.current_user.byline,
              :class  => 'user_byline_input',
              :style  => self.current_user.byline.present? ?
                          'display:none' :
                          ''%>
          
          <%=link_to  'Save', 
                      'javascript:void(0)', 
                      :class  => 'user_byline_save',
                      :id     => 'user_update',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' :
                                  ''%>
                      
          <!--<#=link_to  'Cancel', 
                      'javascript:void(0)', 
                      :class  => 'submit_red_12',
                      :id     => 'user_cancel',
                      :style  => 'display:none'%>-->                         
          
          
          <!-- byline display -->
          <div class='user_byline_display'>
          
          	<span id='user_byline_text'>
          		<%=h self.current_user.byline%>
          	</span>
          	
          	<%=link_to  'Edit', 
	                      'javascript:void(0)', 
	                      :class  => 'user_byline_inline_edit',
	                      :id     => 'user_edit',
	                      :style  => self.current_user.byline.present? ?
	                                  '' :
	                                  'display:none'%>
          </div>
          
      <%else%>

          <%if user.byline.present?%> 
              <%=user.byline%>
          <%else%>
              <!-- "Collecting since " + user.created_at.strftime('%B %Y')%> -->
          <%end%>
          
      <%end%> 
