
      <%if is_current_user(user)%>
      
      		<!-- byline empty --> 
          <%=link_to  "Add your style statement",
                      'javascript:void(0)',
                      :id     => '',
                      :class  => 'tab',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' : 
                                  ''%>
      
          <!-- byline editing -->
          <%=text_area_tag 'user_byline',
				              self.current_user.byline,
				              :class  => 'user_byline_input',
				              :style  => self.current_user.byline.present? ?
										              'display:none' : 
										              ''%>
          
          
          <!-- byline display -->
          <div id='user_byline_text' >
            <%=h self.current_user.byline%>
            
						<%=link_to 	'Edit', 
						        'javascript:void(0)', 
						        :id			=> 'user_edit',
						        :class	=> '',
						        :style	=> self.current_user.byline.present? ?
						                    '' :
						                    'display:none'%>		
          </div>
          
          <%=link_to 	'Save', 
                      'javascript:void(0)', 
                      :id			=> 'user_update',
                     	:class	=> 'user_byline_save',
                      :style	=> 'display:block'%>										
													               

      <%else%>

          <%if user.byline.present?%> 
              <%=user.byline%>
          <%else%>
              <!-- "Collecting since " + user.created_at.strftime('%B %Y')%> -->
          <%end%>
          
      <%end%> 