
      <%if is_current_user(user)%>
      
          <%=link_to  "What's your style?",
                      'javascript:void(0)',
                      :id     => 'user_edit_initiate',
                      :class  => 'tab static triangle down'%>

          <!-- byline editing -->
          <%=text_area_tag 'user_byline',
              self.current_user.byline,
              :class  => 'user_byline_input',
              :style  => self.current_user.byline.present? ?
                          'display:none' :
                          ''%>
          
          <%=link_to  'Save', 
                      'javascript:void(0)', 
                      :class  => 'user_byline_save',
                      :id     => 'user_update',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' :
                                  ''%>
                      
          <!--<#=link_to  'Cancel', 
                      'javascript:void(0)', 
                      :class  => 'submit_red_12',
                      :id     => 'user_cancel',
                      :style  => 'display:none'%>-->                         
          
          
          <!-- byline display -->
          <div id='user_edit_box' 
                class='user_byline_display'
                style="<%=self.current_user.byline.present? ?
                        '' :
                        'display:none'%>">
          
          	<span id='user_byline_text'>
          		<%=h self.current_user.byline%>
          	</span>
          	
          	<%=link_to  'Edit', 
	                      'javascript:void(0)', 
	                      :class  => 'user_byline_inline_edit',
	                      :id     => 'user_edit',
	                      :style  => self.current_user.byline.present? ?
	                                  '' :
	                                  'display:none'%>
          </div>
          
      <%elsif user.byline.present?%>
          <%=link_to  user.gender == 'male' ?
                        'His style' : 'Her style',
                      'javascript:void(0)',
                      :id     => 'user_edit_initiate',
                      :class  => 'tab static triangle down'%>

					<div class='user_byline_display'>
          	<span id='user_byline_text'>
		          <%=user.byline%>
	          </span>
	         </div>
      <%end%> 
