
      <%if is_current_user(user)%>

          <!-- byline editing -->
          <%=text_area_tag 'user_byline',
              self.current_user.byline,
              :class  => '',
              :rows   => '2',
              :style  => "width: 286px; margin-top: 4px; "\
                         "#{self.current_user.byline.present? ? 
                              'display:none;' : ''}",
              "ui-placeholder-color" => "#999999",
              "ui-text-color" => "#333333",
              "data-placeholder" => "What's your style?"%>
          
          <%=link_to  'Save', 
                      'javascript:void(0)', 
                      :id     => 'user_update',
                      :class     => 'btn',
                      :style  => self.current_user.byline.present? ?
                                  'display:none' :
                                  ''%>                        
          
          <!-- byline display -->
          <div id="user_edit_box" 
                class=""
                style="<%=self.current_user.byline.present? ?
                        '' :
                        'display:none'%>">
          
          	<span class="byline" id="user_byline_text">
          		<%=h self.current_user.byline%>
          	</span>
          	
          	<%=link_to  'Edit', 
	                      'javascript:void(0)', 
	                      :class  => '',
	                      :id     => 'user_edit',
	                      :style  => self.current_user.byline.present? ?
	                                  '' :
	                                  'display:none'%>
          </div>
          
      <%elsif user.byline.present?%>
					<div class="byline">
          	<span id="user_byline_text">
		          <%=user.byline%>
	          </span>
	         </div>
      <%end%> 
