<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => "#{@user.full_name}'s Mine",
              :type         => "link",
              :description  => CONFIG[:description],
              :url          => user_url(@user.handle,:src => 'fb'),
              :image        => image_path('mine_100_2x.gif')}%>
<%end%>


<div class="container profile border-box">

	<div class="user-box clearfix">

	  <div class="photo-box relative">
	    <div class="border absolute">
	    </div>

      <%=image_tag @user.large_image_url,
          :class => "user-photo"%>
	  </div> <!-- /photo-box -->
	  

	  <div class="text-box">
			<div class="user-name">
        <%=h @user.full_name%>
        <br/>
      </div>

      <%=render :partial => "byline",
          :locals => {:user => @user}%>
		</div> <!-- /text-box -->
	

    <%cache ["v7",@user,"ifollowers","profile"] do%>
      <div class="friends-box relative">
        <div class="fader absolute">
        </div>

        <p>Sharing purchases with:</p>

        <%@user.ifollowers.each do |user|%>
          <%cache ["v4",user,"ifollower","profile"] do%>
            <%=link_to image_tag(user.square_image_url), 
                user_path(user.handle,:src => "profile"),
                :class => "friend",
                :rel => "tooltip",
                :title => user.full_name%>
          <%end%>
        <%end%>
      </div> <!-- /friends-box -->
    <%end unless @user.inverse_followings_count.zero?%>
		

    <%cache ["v2",@user,"stores"] do%>
      <%shoppings = @user.shoppings.by_count.
                      with_store.select{|s| s.store.image_path.present?}%>

      <%if shoppings.present?%>
        <div class="friends-box relative">
          <div class="fader absolute">
          </div>

          <p>Buys things from:</p>

          <%shoppings.each do |shopping|%>
            <%cache ["v1",shopping.store,"user"] do%>
              <a href="javascript:void(0)" 
                  class="friend" 
                  rel="tooltip" 
                  title="<%=shopping.store.name%>">
                <%=image_tag(shopping.store.thumbnail_url)%>
              </a>
            <%end%>
          <%end%>
        </div> <!-- /friends-box -->
      <%end%>

    <%end unless @user.shoppings_count.zero?%>
	
	</div> <!-- /user-box -->


	<div class="cards clearfix">
    <%cache ["v4",@user,"purchases"] do%>
      <%=render :partial => "purchases/card",
          :collection => @user.purchases.with_store.with_user.by_id,
          :as => :purchase%>
    <%end%>
	</div> <!-- /cards -->

</div> <!-- /container -->



<%content_for :javascript do%>

  <script type="text/javascript">  

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :purchases_count,
                                          :inverse_followings_count])%>,
          followingJSON   : <%=@following.to_json(
                                :only => [:id,:user_id, :is_active,
                                            :follower_id])%>,
          source          : "<%=h @source%>"});

  </script>
<%end%>

