<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => "link",
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url("fb"),
              :image        => @user.products_count > 0 ? 
                                @user.products.last.thumbnail_url : 
                                ""}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => "misc/welcome", 
          :locals => {
            :src    => @user_presenter.source_id,
            :target => @user_presenter.closet_path('footer')} if !logged_in? &&
                                                                @source != "iframe"%>


<div class="container">
  <div class="row">
    <div class="span2">

			<!-- user photo -->
      <div style="line-height: 0px;">
      	<%=@user_presenter.large_picture('picture')%>
      </div>
      
      <!-- user name -->  
      <h3 style="padding: 13px 0;"><%=@user_presenter.closet_title%></h3>
      
      <!-- owns wants uses -->
      <ul class="nav nav-tabs nav-stacked">
      
        <li>
          <a href="#owns/all" id="owns_tab" data-toggle="tab">
          	Owns
          </a>
        </li>
        
        <li>
          <a href="#wants/all" id="wants_tab" data-toggle="tab">
          	Wants
          </a>
        </li>
        
        <%if @user.collections_count > 0 || is_current_user(@user)%>
	        <li>
	          <a href="#looks" id="collections_tab" data-toggle="tab">
	          	Uses
	          </a>
	        </li>
        <%end%>
        
      </ul>
      
      <!-- user byline -->
      <div class="well" style="padding: 8px 0;">
      	<ul class="nav nav-list" id="profile_bio">
	        <%=render :partial  => 'byline',
	                  :locals   => {:user => @user}%>
        </ul>
      </div>
      
      <!-- influenced by -->  
      <div class="well" style="padding: 8px 0; white-space:nowrap; overflow: hidden;">
      	<ul class="nav nav-list" id="ifollowers_with_msg">
        </ul>
      </div>
      
    </div> <!-- /span2 (left) -->
    
    
    <div class="span8" style="background: #eeeeee;">
      <div id="centerstage"></div>
    </div> <!-- /span8 -->
    
    
    <div class="span2" style="background: #eeeeee;">
      <div id="user_stores_box" class="box tile_listed"></div>
    </div> <!-- /span2 (right) -->
  </div> <!-- /row -->
</div> <!-- /container -->

<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :collections_count,:products_count,
                                          :inverse_followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                :only    => [:id,:first_name,:last_name,
                                              :handle,:email],
                                :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

