<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => 'link',
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url('fb'),
              :image        => ''}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :user_presenter => @user_presenter,
            :source         => @user_presenter.source_id} unless logged_in?%>


<div id='profile_container'>

  <!-- Right column -->
	<div id='profile_right'>
	
    <%if !is_current_user(@user) && logged_in?%>
      <div id='following_box' class="box highlighted">
      </div>
    <%end%>
	
    <%if is_current_user(@user)%>
    <div class="box highlighted tiled">
    <%else%>
    <div class="box tiled">
    <%end%>
		
			<div id = "ifollowers_with_msg">
      </div>
      
      <%if is_current_user(@user)%>
      	<%=render 'invite'%>
      <%end%>
			
		</div>
		
		<div class="box stats">
      <%=@user_presenter.closet_stats%>
		</div> <!-- closet_stats -->
		
		<div class="box cat_nav">
      <%=@user_presenter.closet_filter_links(@categories)%>
      <%=blocker%>
	 	</div> <!-- cat_nav -->
	 	
	 	<div id="star_users_box" class="box tiled">
	  </div> <!-- star_users_box -->
	  
	 	<div id="top_stores_box" class="box tiled">
	  </div> <!-- star_users_box -->

	 		 	
	</div> <!-- profile_right -->



  <!-- Left column -->
	<div id='profile_main'>


		<div id='profile_details'>
      
      <%=@user_presenter.large_picture('profile_user_photo','picture')%>
		
			<div id='profile_details_right'>
			
		    <div id='profile_username'>
		      <%=@user_presenter.closet_title%>
		      
		      <!-- like button for the page -->
				  <%=render :partial => 'facebook/like', 
				            :locals => {
				            	:style				=> 'position: absolute; right: 0px; top: -4px;',
                      :url          => @user_presenter.closet_url('fb'),
				              :send_button  => true,
				              :width        => 125,
				              :faces        => false}%>
		    </div>
		
		    <div id='profile_bio'>
		      <div id='user_byline_default'>	
            <%=render :partial  => 'byline',
                      :locals   => {:user => @user}%>
		      </div>
		    </div> 
		      
		  </div> <!--profile_details_right-->

		</div> <!--profile_details-->
			

		
    <%if is_current_user(@user)%>
      <div id='suggestions' class='slim_shadow_light'>
        <%=@user_presenter.closet_create_links(@categories)%>
      </div>
    <%end%>
  

    <div id="closet">
      <div class="top">
      </div>
      
      <div class="rows">
        <div id="products">
        </div>
      </div> 
      
      <div class="bottom">
      </div>
    </div>
    <!-- end of closet -->

	</div> <!-- profile_main -->

</div> <!-- profile_container -->



<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                      :only => [:followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                      :only    => [:email],
                                      :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

