
<div id="profile_header">
	<div id="profile_details">
		<%=image_tag @user.photo_url, :class => "profile_user_photo"%>
    <p class="profile_username">
      <%=@user.first_name + " " + @user.last_name%>'s Collection
    </p>
    <p class="profile_bio">
      Mormon chic, if you know what I mean ;-)
    </p>
	</div> <!--profile_details-->
</div> <!--profile_header-->


<div id="profile_container">

	<div class="instructions">
		<span class="emphasis">Add favorite items you own</span> 
    to your collection!
	</div>

	<div id="suggestions">
		<a class="suggestion" href="/">Add your shoes ›</a>
		<a class="suggestion" href="/">Add your accessories ›</a>
		<a class="suggestion" href="/">Add your clothing ›</a>
		<a class="suggestion" href="/">Add home decor ›</a>
		<a class="suggestion" href="/">Add your cosmetics ›</a>
		<a class="suggestion" href="/">Add your electronics ›</a>
		<a class="suggestion" href="/">Add your jewelry ›</a>
		<a class="suggestion" href="/">Add anything! ›</a>
	</div>


	<div class="instructions">
		<span class="emphasis">Everything you own</span> 
    appears right here on this page:
	</div>

	
	<div id="products" style="display:block;">
		<ul>
			<div id="product_samples">

        <%=render :partial => "products/sample", 
                  :locals => {
                    :category     => "bags-sample",
                    :title        => "Nicole Hobo by Ellington",
                    :endorsement  => "I love this shoulder bag. Came with a "\
                                      "leather logo charm that can be used "\
                                      "for decoration or as a keychain",
                    :comments     => 3,
                    :image        => "suggestion_bags.jpg"}%>

        <%=render :partial => "products/sample", 
                  :locals => {
                    :category     => "shoes-sample",
                    :title        => "Zara Court Shoe with Cap-toe",
                    :endorsement  => "These were on sale at the Newbury "\
                                      "Street store. Need I say more??",
                    :comments     => 4,
                    :image        => "suggestion_shoes.jpg"}%>

        <%=render :partial => "products/sample", 
                  :locals => {
                    :category     => "phones-sample",
                    :title        => "Black iPhone 4",
                    :endorsement  => "I inherited from my sister when she "\
                                      "went traveling. If money grew on trees,"\
                                      " I'd buy her one when she gets back!",
                    :comments     => 17,
                    :image        => "suggestion_phone.jpg"}%>

        <%=render :partial => "products/sample", 
                  :locals => {
                    :category     => "cosmetics-sample",
                    :title        => "Diorshow Black Out Mascara",
                    :endorsement  => "My absolute fave! Like all Dior, "\
                                      "excellent with a primer beforehand.",
                    :comments     => 1,
                    :image        => "suggestion_makeup.jpg"}%>

			</div> <!-- product_samples -->
		
      <%=render :partial    => "products/preview", 
                :collection => @products,
                :as         => :product%>
		</ul>
	</div>

	<div id="blocker">
  </div>

</div> <!-- profile_container -->
