
<%=render :partial => "misc/welcome", 
          :locals => {
            :user   => @user,
            :source => "user_" + @user.id.to_s} unless logged_in?%>

<div id="profile_container">

	<div id="profile_right">
	
		<!-- sbat: abstract this button shit yo! -->
	 	<a href="javascript:void(0)" class="large blue awesome invite_friends" id="action_link" onclick="showInviteDialog();">
	 		<img alt="invite friends" class="f_friends" src="/images/f_friends.png?1319755601">Invite your friends
	 	</a>
	 	
	 	<div class="invite_note">Comparing closets is a <em><u>lot</u></em> of fun!</div>
	 	
	 	<div id="follower_box">
	 	
	 		<div class="profile_right_title">People you follow</div>  
			
		    <%@ifollowers.each do |ifollower|%>
		    	<%=link_to image_tag(ifollower.photo_url,
		    					:class => "follow_img"),
		    				user_path(ifollower)%>	
		     <%end%>
		     
		     <div id="blocker"></div>

	    </div>
	
	 	<div id="closet_stats">
	 		<span class="stat_num"><%=@user.products_count%></span> items worth <br />
	 		<span class="stat_num">$<%=@user.products_price.to_i%></span> 
	 		in <%=is_current_user(@user.id) ? "your" : @user.first_name + "'s"%> closet.
	 	</div>
	 	
	 	<div id="cat_nav">
	 	
	 		<%=link_to "All <span class='cat_num'>(#{@user.products_count})</span><br />", 
	 		user_path(@user)%> 
	
		      <%@categories.each do |category|%>
		        <%=link_to category_filter_link_text(
		                    category,
		                    @user),
		              user_path(
		                @user,
		                :category => category.handle)%>
		      <%end%>

	 	</div>
	 	
	</div>

	<div id="profile_main">
	
		<div id="profile_details">
	
			<%=image_tag @user.photo_url, 
		      :class => "profile_user_photo",
		      :alt => ""%>
		
			<div id="profile_details_right">
			
		    <div id="profile_username">
		      <%=user_full_name(@user)%>'s Closet
		    </div>
		
		    <div id="profile_bio">
		      <div id="user_byline_default">	
		      
		        <%if is_current_user(@user.id)%>
		        
		          <!-- byline editing -->
		          <%=text_field_tag "user_byline",
		              self.current_user.byline,
		              :style => "display:none"%>
		          <input id="user_update" class="small_button" value="Update" 
		              title="Update" type="button" alt="Update" 
		              style="display:none">
		
		          
		          <!-- byline display -->
		          <span id="user_byline_text">
		            <%=h self.current_user.byline%>
		          </span>
		          <input id="user_edit" value="‹ Edit" title="Edit" 
		              type="button" alt="Edit"
		              style="<%=self.current_user.byline.present? ?
		                          '' : 
		                          'display:none'%>">        
		          
		          <!-- byline empty --> 
		          <%unless self.current_user.byline.present?%>
		            <%=link_to "Describe your closet's style",
		                "javascript:void(0)",
		                :id => "user_edit_initiate"%>
		          <%end%>
		            
		        <%else%>
		
		          <%=@user.byline.present? ? 
		              @user.byline : 
		              "Collecting since " + @user.created_at.strftime('%B %Y')%>
		
		        <%end%> 
		      
		      </div> <!--user_byline_default-->
		      
		    </div> <!--profile_bio-->
		      
		  </div> <!--profile_details_right-->
		
		</div> <!--profile_details-->
			
		
		  <%if is_current_user(@user.id)%>
		  
		  <!-- instructions 1 -->
		
		    <div id="suggestions">
		      <%@categories.each do |category|%>
		        <%=link_to category_create_link_text(category),
		            new_product_path(:category => category.handle),
		            :class => "suggestion"%>
		      <%end%>
		    </div> <!-- suggestions -->
		
		  <%end%>
		
			<!-- instructions 2 -->
			
			<div id="closet">
				<div id="closet_top"></div>
				
				<div id="closet_rows">
					<div id="products">
						<ul>								
		
					      <%if @products.empty?%>
					        <%#render :partial  => "products/samples",
					                  :locals   => {:active => is_current_user(@user.id)}%>
					      <%else%>
					        <%=render @products%>
					      <%end%>
							
						</ul>
					</div> <!-- products -->
				</div> <!-- closet_rows -->
				
				<div id="closet_bottom"></div>


			</div>
			
	</div> <!-- profile_main -->

</div> <!-- profile_container -->


<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>
  <%=render :partial => "misc/invite"%>

  <script type="text/javascript">

    mpq.register_once({'landed_on' : 'user_<%=@user.id.to_s%>'}); 

    <%if is_current_user(@user.id)%>
      var user        = new Denwen.User(<%=@user.to_json%>);
      var bylineView  = new Denwen.UserBylineView({
                              model: user, 
                              el:$('#profile_bio')});
    <%end%>

    <%if @source == "product"%>
      mpq.track("Item Created");
    <%elsif @source == "user"%>
      mpq.track("User Logged In");
    <%end%>

  </script>
<%end%>
