<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => 'link',
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url('fb'),
              :image        => @user.products_count > 0 ? 
                                @user.products.last.thumbnail_url : 
                                ''}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :src    => @user_presenter.source_id,
            :target => @user_presenter.closet_path('footer')} unless logged_in?%>


<div id="container" class="wide">
	            
	<!-- sidebar: left -->
	<div class='sidebar'>

		<%=@user_presenter.large_picture('picture')%>
			
		<div class='username'>
      <%=@user_presenter.closet_title%>
    </div>
    
    <%if @user.collections_count > 0 || is_current_user(@user)%>
      <a href='#looks' class='tab triangle large_bottom_margin' id='collections_tab'>
        On <%=is_current_user(@user) ? 'You' : @user_presenter.personal_pronoun.capitalize%> Now
      </a>
    <%end%>

    <a href='#owns/all' class='tab triangle' id='owns_tab'>
      Owns
    </a>

    <a href='#likes/all' class='tab triangle small_top_margin' id='likes_tab'>
      Likes
    </a>

    <a href='#wants/all' class='tab triangle small_top_margin' id='wants_tab'>
      Wants
    </a>
	  
	  <%if !is_current_user(@user) && logged_in?%>
	    <div id='following_box_<%=@user.id%>'>
	    </div>
	  <%end%>
	    
	  <div>
			<div id="ifollowers_with_msg">
      </div>
		</div> <!-- following-->

	  <div>
			<div id="followers_with_msg">
      </div>
		</div> <!-- followed by-->
		
  	<!-- bio -->
  	<div id='profile_bio' class='large_top_margin'>
	    <%=render :partial  => 'byline',
	              :locals   => {:user => @user}%>
	  </div>


	 	<!-- <div id="star_users_box" class="box tiled">
	  </div>  star_users_box -->
	  
	 	<!-- <div id="top_stores_box" class="box tiled">
	  </div>  top_stores_box -->
	 		 	
	</div> <!-- sidebar: left -->	            

		
		
	<!-- Main -->
	<div id='main'>
			
			<div id='social_buttons' class="titlebar">
							<!-- like button for the page -->
		  			<%=render :partial => 'facebook/like', 
		            :locals  => {
		            :style	 => '',
		            :url     => @user_presenter.closet_url('fb'),
		            :send_button  => false,
		            :width        => 90,
		            :faces        => false}%>	
		            
		    twitter
		    tumblr
		    stumble
		    google+
		    
			</div>
			
      <div id="centerstage">
      </div>
	</div> <!-- main -->
	
	
	
	<!-- sidebar: right -->
	<div class='sidebar right'>
	
		<div id="user_stores_box" class="box tile_listed">
	  </div> <!-- your_stores_box -->
	  
	</div> <!-- sidebar: right -->	
	

</div> <!-- container -->

<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :collections_count,
                                          :inverse_followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                :only    => [:id,:first_name,:last_name,
                                              :handle,:email],
                                :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

