<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => "link",
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url("fb"),
              :image        => @user.products_count > 0 ? 
                                @user.products.last.thumbnail_url : 
                                ""}%>
<%end%>

<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => "misc/welcome", 
          :locals => {
            :src    => @user_presenter.source_id,
            :target => @user_presenter.closet_path('footer')} if !logged_in? &&
                                                                @source != "iframe"%>
<div class="container profile">

	<div class="row">
    <div class="span12">
	    <div class="well profile-card" style="height: 128px; margin-bottom: 12px;">
	    	
	    		<div class="profile-card-inner">
		    		<div class="profile-img">
							<%=@user_presenter.large_picture('picture')%>
						</div>
		    		<h1 style="padding-bottom: 4px; line-height: 1;"><%=@user_presenter.full_name%></h1>
		    		<div id="profile_bio">
					    <%=render :partial  => 'byline',
					              :locals   => {:user => @user}%>
			  		</div>
			  	</div>
			  	
			  	<div class="profile-card-actions" id="user_stores_box" >
					</div>
			  	
			  	<div class="profile-card-actions" id="ifollowers_with_msg">
			  	</div>
	
	    </div> <!-- /well profile-card -->
    </div> <!-- /span12 -->
  </div> <!-- /row -->

  <%if is_current_user(@user)%>
    <div class="row">
      <div class="span12">
        <div id="suggestions" class="well">
        </div>
      </div>
    </div>
  <%end%>

  <div class="row">
    <div class="span12">
    	<div class="well items">
    	
    		<legend> 
    			<a href="#<%=UserShowHash::Owns%>" style="color: #333" 
              id="owns_tab">
          	Owns</a> · 
          <a href="#<%=UserShowHash::Wants%>" style="color: #333"
              id="wants_tab">
          	Wants</a> · 
         	<a href="#<%=UserShowHash::Collections%>" style="color: #333"
              id="collections_tab">
          	Uses</a>
          <div class="loading small inline" style="margin: 0 0 2px 10px; vertical-align: middle;"></div>
        </legend>
        
    		<div class="control-group">
      		<div id="centerstage"></div>
      	</div>
      	
      </div> <!-- /well items-->
    </div> <!-- /span12 -->
  </div> <!-- /row -->
  
</div> <!-- /container profile -->


<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          styles          : <%=@styles.to_json%>,
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :collections_count,:products_count,
                                          :inverse_followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                :only    => [:id,:first_name,:last_name,
                                              :handle,:email],
                                :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

