<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => 'link',
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url('fb'),
              :image        => @user.products_count > 0 ? 
                                @user.products.last.thumbnail_url : 
                                ''}%>
<%end%>

<div id="outer">

		<!-- Welcome box to signup if user is not logged in -->
	<%=render :partial => 'misc/welcome', 
	          :locals => {
	            :user_presenter => @user_presenter,
	            :source         => @user_presenter.source_id} unless logged_in?%>
		
	<!-- Main -->
	<div id='inner_main'>
			
			<div id="shelves"></div>
	
	</div> <!-- inner_main -->
		
	<!-- Side column -->
	<div id='inner_side'>
	
			<%=@user_presenter.large_picture('user_photo','picture')%>
			
			<div class='username'>
	      <%=@user_presenter.closet_title%>
	    </div>
	    
	  <%if !is_current_user(@user) && logged_in?%>
	    <div id='following_box' class='top_action_button'>
	    </div>
	  <%end%>
	
			<div id='profile_bio'>
		    <div id='user_byline_default'>	
		        <%=render :partial  => 'byline',
		                  :locals   => {:user => @user}%>
		    </div>
	    </div>
	       
		  <!-- like button for the page 
		  <#=render :partial => 'facebook/like', 
		            :locals  => {
		            :style	 => 'position: absolute; top:5px; left: 5px;',
		            :url     => @user_presenter.closet_url('fb'),
		            :send_button  => false,
		            :width        => 125,
		            :faces        => false}%>-->
	
	
	  <div class="box tiled">
		
			<div id = "ifollowers_with_msg"></div>
			
		</div>
	 	
	 	<div id="user_stores_box" class="box tile_listed">
	  </div> <!-- your_stores_box -->
	
		
	 	<div id="star_users_box" class="box tiled">
	  </div> <!-- star_users_box -->
	  
	 	<div id="top_stores_box" class="box tiled">
	  </div> <!-- top_stores_box -->
	 		 	
	</div> <!-- inner_right -->	


</div> <!-- outer -->

<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                      :only => [:inverse_followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                      :only    => [:email],
                                      :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

