
<div id="profile_header">
	<div id="profile_details">

		<%=image_tag @user.photo_url, 
        :class => "profile_user_photo"%>

    <p class="profile_username">
      <%=@user.first_name + " " + @user.last_name%>'s Collection
    </p>

    <p class="profile_bio">
      Mormon chic, if you know what I mean ;-)
    </p>

	</div> <!--profile_details-->
</div> <!--profile_header-->


<div id="profile_container">

	<div class="instructions">
		<span class="emphasis">Add favorite items you own</span> 
    to your collection!
	</div>

	<div id="suggestions">
    <%=link_to "Add your shoes ›", 
        new_product_path(:category => "shoes"),
        :class => "suggestion"%>
    <%=link_to "Add your accessories ›", 
        new_product_path(:category => "accesories"),
        :class => "suggestion"%>
    <%=link_to "Add your clothing ›", 
        new_product_path(:category => "clothing"),
        :class => "suggestion"%>
    <%=link_to "Add home decor ›", 
        new_product_path(:category => "decor"),
        :class => "suggestion"%>
    <%=link_to "Add your cosmetics ›", 
        new_product_path(:category => "cosmetics"),
        :class => "suggestion"%>
    <%=link_to "Add your electronics ›", 
        new_product_path(:category => "electronics"),
        :class => "suggestion"%>
    <%=link_to "Add your jewelry ›", 
        new_product_path(:category => "jewelry"),
        :class => "suggestion"%>
    <%=link_to "Add anything! ›", 
        new_product_path(:category => "anything"),
        :class => "suggestion"%>
	</div>


	<div class="instructions">
		<span class="emphasis">Everything you own</span> 
    appears right here on this page:
	</div>

	
	<div id="products" style="display:block;">
		<ul>
		
      <%if @products.empty?%>
        <%=render "products/samples"%>
      <%end%>

      <%=render :partial    => "products/preview", 
                :collection => @products,
                :as         => :product%>
		</ul>
	</div>

	<div id="blocker">
  </div>

</div> <!-- profile_container -->
