<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => "#{@user.full_name}'s Mine",
              :type         => "link",
              :description  => CONFIG[:description],
              :url          => user_url(@user.handle,:src => 'fb'),
              :image        => image_path('mine_100_2x.gif')}%>
<%end%>


<div class="profile-box unit-box border-box" 
  style="margin-top: -6px;">


  <%=render :partial => "box", :locals => {:user => @user}%> 



	<!-- Following -->
  <%cache ["v8",@user,"ifollowers","profile"] do%>
    <div class="connections-box border-box split" style="margin-right: 2.7%;">

      <div class="box-title relative" style="z-index: 0;">
				<%=link_to "Following (#{@user.inverse_followings_count})", 
								connections_path(@user.handle,:src => "following"),
								:class => "dark"%>
			</div>
			
			<ul class="well-box rounded-5 border-box relative">

	      <%@user.ifollowers.limit(7).each do |user|%>
	        <%cache ["v5",user,"ifollower","profile"] do%>     
	        
		        <li class="pic s">
		        	<a style="display: block;" 
                href="<%=user_path(user.handle,:src => "profile")%>"
	        			rel="tooltip"
	        			title="<%=user.full_name%>">
	        			
			      		<%=image_tag user.square_image_url,
                    :class => "user-photo m shaded rounded-3"%>
			      	</a>
		        </li>
	              
	        <%end%>
	      <%end%>
      
      </ul>
      
    </div> <!-- /connections-box -->
  <%end unless @user.inverse_followings_count.zero?%>
  

  
  <!-- Followers -->
  <%cache ["v8",@user,"followers","profile"] do%>
    <div class="connections-box border-box split">

      <div class="box-title relative" style="z-index: 0;">
				<%=link_to "Followers (#{@user.followings_count})", 
								connections_path(@user.handle,:src => "followers"), 
								:class => "dark"%>
			</div>
			
			<ul class="well-box rounded-5 border-box relative">

	      <%@user.followers.limit(7).each do |user|%>
	        <%cache ["v5",user,"follower","profile"] do%>     
	        
		        <li class="pic s">
		        	<a style="display: block;" 
                href="<%=user_path(user.handle,:src => "profile")%>"
	        			rel="tooltip"
	        			title="<%=user.full_name%>">
	        			
			      		<%=image_tag user.square_image_url,
                    :class => "user-photo m shaded rounded-3"%>
			      	</a>
		        </li>
 
	        <%end%>
	      <%end%>
      
      </ul>
      
    </div> <!-- /connections-box -->
  <%end unless @user.followings_count.zero?%>
	
</div> <!-- /profile-box -->



<div class="box-title profile-feed-title relative">
	<%=is_current_user(@user) ? "Your" : "#{@user.first_name}'s"%> items
</div>


<div class="profile-feed rounded-3 shaded relative">
  <%cache ["v4",@user,"purchases"] do%>
    <%=render :partial => "purchases/card",
        :collection => @user.purchases.with_store.with_user.by_id,
        :as => :purchase%>
  <%end%>
</div> 



<%content_for :javascript do%>

  <script type="text/javascript">  

    new Denwen.Views.Users.Show({
          userJSON : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline])%>,
          source : "<%=h @source%>"});

  </script>
<%end%>

