<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @user_presenter.closet_name,
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url('fb'),
              :image        => @user_presenter.closet_image(@products)}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
          :locals => {
            :user_presenter => @user_presenter,
            :source         => @user_presenter.source_id} unless logged_in?%>




<div id='profile_container'>

  
  <!-- Right column -->
	<div id='profile_right'>
	 	
    <!-- Following images and header -->
	 	<div id='follower_box'>

	 		<div class='profile_right_title'>
        <%=@user_presenter.following_message%>
     
      		</div>  
      	
				<div>
      			<%=render @user.ifollowers%>
      			<%=blocker%>
      			</div>
      			
      			<%=render 'invite' if is_current_user(@user)%>
      

      
      <!--div class="right_button">Invite your friends</div-->

		  <%=blocker%>
    </div> 
	
	 	<div id='closet_stats'>
      <%=@user_presenter.closet_stats%>
	 	</div>
	 	
	 	<div id='cat_nav'>
	 	
	 		<div id="cat_add">
	 			<br />
	 			<%=link_to "Add ›<br />",
	              new_product_path(:category => "shoes",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "accessories",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "clothing",:src => "filters")%>
	              
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "decor",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "cosmetics",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "electronics",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "jewelry",:src => "filters")%>
	              	
	            <%=link_to "Add ›<br />",
	              new_product_path(:category => "anything",:src => "filters")%>
	 		</div>
      <%=@user_presenter.closet_filter_links(@categories)%>
      
	 	</div>
	 	
	</div>



  <!-- Left column -->
	<div id='profile_main'>


		<div id='profile_details'>
      
      <%=@user_presenter.large_picture%>
		
			<div id='profile_details_right'>
			
		    <div id='profile_username'>
		      <%=@user_presenter.closet_title%>
		      
		      <!-- like button for the page -->
				  <%=render :partial => 'facebook/like', 
				            :locals => {
				              :send_button  => true,
				              :width        => 200,
				              :faces        => false}%>
		    </div>
		
		    <div id='profile_bio'>
		      <div id='user_byline_default'>	
            <%=render :partial  => 'byline',
                      :locals   => {:user => @user}%>
		      </div>
		    </div> 
		      
		  </div> <!--profile_details_right-->

		</div> <!--profile_details-->
			

		
    <%if is_current_user(@user)%>
      <div id='suggestions'>
        <%=@user_presenter.closet_create_links(@categories)%>
      </div>
    <%end%>
  

    <div id='closet'>
      <div id='closet_top'>
      </div>
      
      <div id='closet_rows'>
        <div id='products'>
          <ul>								
            <%=render @products%>
          </ul>
        </div>
      </div> 
      
      <div id='closet_bottom'>
      </div>
    </div>
    <!-- end of closet -->

	</div> <!-- profile_main -->


</div> <!-- profile_container -->



<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    analytics.userLandsOn('<%=@user_presenter.source_id%>');

    var fb = new Denwen.FacebookView();

    <%if is_current_user(@user)%>
      var user        = new Denwen.User(<%=@user.to_json%>);
      var bylineView  = new Denwen.UserBylineView({
                              model: user, 
                              el:$('#profile_bio')});

      var fbInvite    = new Denwen.FacebookInviteView({
                              id:'#action_link'});
                              
      analytics.identifyUser(
        "<%=self.current_user.email%>",
        "<%=user_full_name(self.current_user)%>");
    <%end%>

    <%if @source == "product_create"%>
      analytics.productCreated();
    <%elsif @source == "login"%>
      analytics.userLogin();
    <%end%>

    analytics.userProfileView(
      '<%=@source%>',
      '<%=@category ? @category.name : ""%>');
  </script>
<%end%>

