<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => "link",
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url("fb"),
              :image        => @user.products_count > 0 ? 
                                @user.products.last.thumbnail_url : 
                                ""}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => "misc/welcome", 
          :locals => {
            :src    => @user_presenter.source_id,
            :target => @user_presenter.closet_path('footer')} if !logged_in? &&
                                                                @source != "iframe"%>

<div class="container profile">
  <div class="row">
  
    <div class="span12">
    	<div class="well items">
      	<div id="centerstage"></div>
      </div> <!-- /well -->
    </div> <!-- /span12 -->
    
  </div> <!-- /row -->
</div> <!-- /container -->


<%content_for :javascript do%>
  <%#render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :collections_count,:products_count,
                                          :inverse_followings_count])%>,
          currentUserJSON : <%=self.current_user.to_json(
                                :only    => [:id,:first_name,:last_name,
                                              :handle,:email],
                                :methods => [:age])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

