
<%=render :partial => "misc/welcome", 
          :locals => {
            :user   => @user,
            :source => "user_" + @user.id.to_s} unless logged_in?%>

<div id="profile_details">

	<%=image_tag @user.photo_url, 
      :class => "profile_user_photo"%>

	<div id="profile_details_right">
	
    <div id="profile_username">
      <%=user_full_name(@user)%>'s Collection
    </div>

    <div id="profile_bio">
      <div id="user_byline_default">	
      
        <%if is_current_user(@user.id)%>
        
          <!-- byline editing -->
          <%=text_field_tag "user_byline",
              self.current_user.byline,
              :style => "display:none"%>
          <input id="user_update" class="small_button" value="Update" 
              title="Update" type="button" alt="Update" 
              style="display:none">

          
          <!-- byline display -->
          <span id="user_byline_text">
            <%=h self.current_user.byline%>
          </span>
          <input id="user_edit" value="‹ Edit" title="Edit" 
              type="button" alt="Edit"
              style="<%=self.current_user.byline.present? ?
                          '' : 
                          'display:none'%>">        
          
          <!-- byline empty --> 
          <%unless self.current_user.byline.present?%>
            <%=link_to "Describe your collection's style",
                "javascript:void(0)",
                :id => "user_edit_initiate"%>
          <%end%>
            
        <%else%>

          <%=@user.byline.present? ? 
              @user.byline : 
              "Collecting since " + @user.created_at.strftime('%B %Y')%>

        <%end%> 
      
      </div> <!--user_byline_default-->
    </div> <!--profile_bio-->
      
  </div> <!--profile_details_right-->

</div> <!--profile_details-->
	


<div id="profile_container">

  <%if is_current_user(@user.id)%>
    <div class="instructions">
      <span class="emphasis">Add favorite items you own</span> 
      to your collection!
    </div>

    <div id="suggestions">
      <%=link_to "Add your shoes ›", 
          new_product_path(:category => "shoes"),
          :class => "suggestion"%>
      <%=link_to "Add your accessories ›", 
          new_product_path(:category => "accessories"),
          :class => "suggestion"%>
      <%=link_to "Add your clothing ›", 
          new_product_path(:category => "clothing"),
          :class => "suggestion"%>
      <%=link_to "Add home decor ›", 
          new_product_path(:category => "decor"),
          :class => "suggestion"%>
      <%=link_to "Add your cosmetics ›", 
          new_product_path(:category => "cosmetics"),
          :class => "suggestion"%>
      <%=link_to "Add your electronics ›", 
          new_product_path(:category => "electronics"),
          :class => "suggestion"%>
      <%=link_to "Add your jewelry ›", 
          new_product_path(:category => "jewelry"),
          :class => "suggestion"%>
      <%=link_to "Add anything! ›", 
          new_product_path(:category => "anything"),
          :class => "suggestion"%>
    </div> <!-- suggestions -->
  <%end%>


	<div class="instructions">
		<span class="emphasis">
      Everything 
      <%=is_current_user(@user.id) ? 
          "you own" : 
          @user.first_name + " owns"%>
    </span> 
    appears right here on this page:
	</div>

	
	<div id="products" style="display:block;">
		<ul>
		
      <%if @products.empty?%>
        <%=render :partial  => "products/samples",
                  :locals   => {:active => is_current_user(@user.id)}%>
      <%else%>
        <%=render :partial    => "products/preview", 
                  :collection => @products,
                  :as         => :product%>
      <%end%>

		</ul>
	</div>

	<div id="blocker">
  </div>

</div> <!-- profile_container -->

<%=render :partial => "misc/feedback"%>

<script type="text/javascript">

  mpq.register_once({'landed_on' : 'user_<%=@user.id.to_s%>'}); 

  <%if is_current_user(@user.id)%>
    var userShowViewController = new UserShowViewController(
                                          <%=self.current_user.id%>);
  <%end%>

  <%if @source == "product"%>
    mpq.track("Item Created");
  <%elsif @source == "user"%>
    mpq.track("User Logged In");
  <%end%>

</script>
