<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => "Tile for this page",
              :type         => "link",
              :description  => "Description for this page",
              :url          => user_url(@user.handle,:src => 'fb'),
              :image        => ""}%>
<%end%>


<div class="container">

  <div class="col">

    <div class="user-box">
      <div class="photo-box">
        <div class="border">
        </div>
        <%=image_tag @user.large_image_url,
            :class => "user-photo"%>
      </div>
      <p class="user-name">
        <%=h @user.full_name%>
      </p>
    </div>
    
    <%=render :partial => "users/ifollowers",
        :locals => {:user => @user,:src => "profile"}%>
      
    <%=render :partial => "users/trinkets",
        :locals => {:src => "profile"}%>

  </div> <!-- /col -->

  <%=render :partial => "users/products",
      :locals => {:user => @user}%>
  
</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">  

    //new Denwen.Views.Users.Show({
    //      userJSON        : <%#@user.to_json(
    //                            :only => [:id,:first_name,:last_name,
    //                                      :handle,:byline,:followings_count,
    //                                      :products_count,
    //                                      :inverse_followings_count])%>,
    //      currentUserJSON : <%#self.current_user.to_json(
    //                            :only    => [:id,:first_name,:last_name,
    //                                          :gender,:handle,:email],
    //                            :methods => [:age])%>,
    //      source          : "<%#@source%>"});

  </script>
<%end%>

