<%content_for :head do%>
	 <%=render :partial => 'misc/meta',
      :locals => {
        :title => "#{@user.full_name}'s Mine"}%>

  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => "#{@user.full_name}'s Mine",
              :type         => "link",
              :description  => "Mine is a directory of people and purchases.",
              :url          => user_url(@user.handle,:src => 'fb'),
              :image        => image_path('og/mine-white-200.png')}%>
<%end%>


<div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative">


  <%=render :partial => "box", :locals => {:user => @user}%> 

	<!-- Following -->
  <%cache ["v9",@user,"ifollowers","profile"] do%>
    <div class="follow-count-box inline-block border-box nowrap">
    
	    <a class="dark" 
          href="<%=@user.inverse_followings_count.zero? ? "#" : connections_path(@user.handle,:src => "followers")%>">
				<span class="num"><%=@user.inverse_followings_count%></span>
				<span class="txt xs"> Following</span>
			</a>
			
			<%unless is_phone_device?%>
				<ul class="rwd-hide border-box inline-block relative">
					
		      <%@user.ifollowers.limit(4).each do |user|%>
		        <%cache ["v6",user,"ifollower","profile"] do%>     
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" 
	                href="<%=user_path(user.handle,:src => "profile")%>"
		        			rel="tooltip"
		        			title="<%=user.full_name%>">
		        			
				      		<%=image_tag user.square_image_url,
	                    :class => "user-photo s rounded-2"%>
				      	</a>
			        </li>
		              
		        <%end%>
		      <%end%>
	      
	      </ul>
	    <%end%>
      
    </div> <!-- /follow-count-box -->
  <%end%>
  

  
  <!-- Followers -->
  <%cache ["v9",@user,"followers","profile"] do%>
    <div class="follow-count-box right inline-block border-box nowrap">
			
			<a class="dark" 
        href="<%=@user.followings_count.zero? ? "#" : connections_path(@user.handle,:src => "followers")%>">
				<span class="num"><%=@user.followings_count%></span>
				<span class="txt xs"> <%=@user.followings_count == 1 ? 'Follower' : 'Followers'%></span>
			</a>
			
			<%unless is_phone_device?%>
				<ul class="rwd-hide border-box inline-block relative">
	
		      <%@user.followers.limit(4).each do |user|%>
		        <%cache ["v6",user,"follower","profile"] do%>     
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" 
	                href="<%=user_path(user.handle,:src => "profile")%>"
		        			rel="tooltip"
		        			title="<%=user.full_name%>">
		        			
				      		<%=image_tag user.square_image_url,
	                    :class => "user-photo s rounded-2"%>
				      	</a>
			        </li>
	 
		        <%end%>
		      <%end%>
	      
	      </ul>
      <%end%>
      
    </div> <!-- /follow-count-box-->
  <%end%>
	

</div> <!-- /profile-box -->


<div class="box-title profile-feed-title relative" style="padding-bottom: 14px;">
	<%=is_current_user(@user) ? "Your" : "#{@user.first_name}'s"%> Mine
</div>

<%if is_current_user(@user) && @user.inverse_followings_count.zero?%>
  <div class="feed-intro well-box rounded-8">
    Share your mine with this link: http://<%=CONFIG[:host]%>/<%=@user.handle%>
  </div>
<%end%>

<div class="feed-container">
	<div class="profile-feed relative">
	  <%unless @user.purchases_count.zero?%>
	    <%cache ["v7",@user,"purchases"] do%>
	      <%=render :partial => "purchases/card",
	          :collection => @user.purchases.approved.with_store.with_user.by_bought_at,
	          :as => :purchase%>
	    <%end%>
	  <%else%>
	  	<div class="txt m" style="color: #777; padding: 16px 10px 0;">
	    	<%=@user.first_name%> hasn't added any purchases yet.
	    </div>
	  <%end%>
	</div> 
</div> <!-- /feed-container -->

<%content_for :javascript do%>

  <script type="text/javascript">  

    new Denwen.Views.Users.Show({
          userJSON : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline])%>,
          el : $('#container'), 
          source : "<%=h @source%>"});

  </script>
  
<%end%>

