<%@user_presenter = presenter_for(@user)%>


<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => @user_presenter.closet_name,
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url('fb'),
              :image        => @user_presenter.closet_image(@products)}%>
<%end%>


<%=render :partial => "misc/welcome", 
          :locals => {
            :user   => @user,
            :source => @user_presenter.source_id} unless logged_in?%>




<div id="profile_container">

  <!--<#=render :partial => "facebook/like", 
            :locals => {
              :send_button  => true,
              :width        => 450,
              :faces        => false}%>-->


	<div id="profile_right">

    <%=render "invite"%>
	 	<div id="follower_box">
	 	
	 	<div class="profile_right_title">
       		<%=@user_presenter.following_message%>
      	</div>  
			
      	<%=render @user.ifollowers%>
      	
      	<div class="right_button">Invite your friends</div>

		  <%=blocker%>
    </div> 
    <!--end of follower_box-->
	
	 	<div id="closet_stats">
      <%=@user_presenter.closet_stats%>
	 	</div>
	 	
	 	<div id="cat_nav">
      <%=@user_presenter.closet_filter_links(@categories)%>
	 	</div>
	 	
	</div>
  <!-- end of profile_right-->




	<div id="profile_main">


		<div id="profile_details">
      
      <%=@user_presenter.large_picture%>
		
			<div id="profile_details_right">
			
		    <div id="profile_username">
		      <%=@user_presenter.closet_title%>
		    </div>
		
		    <div id="profile_bio">
		      <div id="user_byline_default">	
            <%=render :partial => "byline",
                      :locals   => {:user => @user}%>
		      </div> <!--user_byline_default-->
		    </div> <!--profile_bio-->
		      
		  </div> <!--profile_details_right-->

		</div> <!--profile_details-->
			

		
    <%if is_current_user(@user.id)%>
      <div id="suggestions">
        <%=@user_presenter.closet_create_links(@categories)%>
      </div> <!-- suggestions -->
    <%end%>
  

    <div id="closet">
      <div id="closet_top">
      </div>
      
      <div id="closet_rows">
        <div id="products">
          <ul>								
            <%=render @products%>
          </ul>
        </div> <!-- products -->
      </div> <!-- closet_rows -->
      
      <div id="closet_bottom">
      </div>
    </div>
    <!-- end of closet -->

	</div> <!-- profile_main -->


</div> <!-- profile_container -->



<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    analytics.userLandsOn('<%=@user_presenter.source_id%>');

    var fb = new Denwen.FacebookView();

    <%if is_current_user(@user.id)%>
      var user        = new Denwen.User(<%=@user.to_json%>);
      var bylineView  = new Denwen.UserBylineView({
                              model: user, 
                              el:$('#profile_bio')});

      var fbInvite    = new Denwen.FacebookInviteView({
                              id:'#action_link'});

      analytics.identifyUser(
        "<%=self.current_user.email%>",
        "<%=user_full_name(self.current_user)%>");
    <%end%>

    <%if @source == "product_create"%>
      analytics.productCreated();
    <%elsif @source == "login"%>
      analytics.userLogin();
    <%end%>

    analytics.userProfileView(
      '<%=@source%>',
      '<%=@category ? @category.name : ""%>');
  </script>
<%end%>

