<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => "#{@user.full_name}'s Mine",
              :type         => "link",
              :description  => CONFIG[:description],
              :url          => user_url(@user.handle,:src => 'fb'),
              :image        => image_path('home_mine/mine-200-555.gif')}%>
<%end%>


<div class="container">

  <div class="col">

    <div class="user-box">
      <div class="photo-box">
        <div class="border">
        </div>
        <%=image_tag @user.large_image_url,
            :class => "user-photo"%>
      </div>
      <p class="user-name">
        <%=h @user.full_name%>
      </p>
    </div>
    
    <%=render :partial => "users/ifollowers",
        :locals => {:user => @user,:src => "profile"}%>
      
    <%=render :partial => "users/trinkets",
        :locals => {:user => @user,:src => "profile"}%>

  </div> <!-- /col -->

  <%=render :partial => "users/purchases",
      :locals => {:user => @user}%>
  
</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">  

    new Denwen.Views.Users.Show({
          userJSON        : <%=@user.to_json(
                                :only => [:id,:first_name,:last_name,
                                          :handle,:byline,:followings_count,
                                          :purchases_count,
                                          :inverse_followings_count])%>,
          source          : "<%=@source%>"});

  </script>
<%end%>

