<%cache ["v9",purchase,purchase.store ? purchase.store : "","card"] do %>

  <a href="<%=purchase_path(
                purchase.user.handle,
                purchase.handle,
                :src => "profile")%>" 
      class="card relative rounded-5">

    <div class="photo rounded-5">
      <%=image_tag purchase.square_url, :alt => ""%>
    </div>
    
    <div class="title-box border-box relative">
    
    	<div class="fader absolute"></div>
    	
      <span class="item-name">
        <%=h truncate(purchase.title,:length => 50)%><br />
      </span>

      <%if purchase.store%>
        from 
        <span class="store-name">
          <%=h truncate(purchase.store.name,:length => 50)%><br />
        </span> 
      <%end%>

      <span class="time">
        Bought <%=time_ago_in_words purchase.created_at%>
      </span>
    </div>
    
  </a> <!-- /card -->

<%end%>
