<%cache ["v14",purchase,purchase.store ? purchase.store : "","card"] do %>

	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 <a href="<%=purchase_path(
                    purchase.user.handle,
                    purchase.handle,
                    :src => "profile")%>" 
          class="">
      	<%=image_tag purchase.square_url, :alt => "", :class => "item-photo"%>
    	</a>
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3 overflow-hidden">
		    
					<!-- <div class="fader absolute"></div> -->
		      
		      <a href="<%=purchase_path(
                    purchase.user.handle,
                    purchase.handle,
                    :src => "profile")%>" 
            class="em light">
            <%=h purchase.title%></a>
		
		      <%if purchase.store%>
		        from 
		        <span class="store-name">
		          <%=h purchase.store.name%><br />
		        </span> 
		      <%end%>
		
					<!--<span class="time">
		        Added <span class="timeago" title="<#=h purchase.created_at%>"></span> ago
		      </span>-->
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->

<%end%>
