<%cache ["v11",purchase,purchase.store ? purchase.store : "","card"] do %>

  <a href="<%=purchase_path(
                purchase.user.handle,
                purchase.handle,
                :src => "profile")%>" 
      class="card relative rounded-5 three-to-two">

    <div class="photo rounded-5">
      <%=image_tag purchase.square_url, :alt => ""%>
    </div>
    
    <div class="title-box border-box relative">
    
    	<div class="fader absolute"></div>
    	
      <span class="item-name">
        <%=h purchase.title%><br />
      </span>

      <%if purchase.store%>
        from 
        <span class="store-name">
          <%=h purchase.store.name%><br />
        </span> 
      <%end%>

      <span class="time">
        Added <%=time_ago_in_words purchase.created_at%> ago
      </span>
    </div>
    
  </a> <!-- /card -->

<%end%>
