  <fieldset>

  <%=f.hidden_field :suggestion_id, :value => suggestion ? suggestion.id : nil%>
  <%=f.hidden_field :source_product_id%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  
	<div id="query_box" style="<%=show_query_box ? '' : 'display:none'%>">

    <h4 style="padding-bottom: 8px;">
      What did you buy?
    </h4>
	
    <%=f.text_field :query,
        :placeholder => "Detailed item name or URL",
        :style => "width: 414px; height: 22px; float: left;"%>
    	<a id="purchase_search" 
    					class="btn btn-mid" 
    					value="" 
    					style="width: 76px; height: 22px; line-height: 22px; float: right;"
    					title="Search" 
    					type="button" 
    					alt="Search">
    			Pick item <i class="icon-chevron-right icon-white"></i>
    	</a>
	</div> <!-- /query_box -->

  <div id="extra_steps" 
      style="<%=show_extra_steps ? '' : 'display: none'%>">
	
    <div class="edit-box">
        <div class="change-photo" id="purchase_change_photo">
          <i class="icon-camera icon-white"></i> Change photo
        </div>
      <div class="photo-box" id="purchase_selection">
        <!-- image inserted is #purchase_selection_photo.photo -->
      </div> <!-- /photo_box -->
    </div>
  
  	<div style="margin: 0 -16px -16px -16px; padding: 16px; background: #f6f4f2;">
  
			<div class="control-group" id="title_box">
	      <%=f.text_field :title,
	      		:class => "item-name",
	      		:placeholder => "Item name",
	          :size => 30%>
	    </div> <!-- /title -->
		
			<div class="control-group" style="margin-top: 8px;" id="store_box">
		    <%=f.text_field :store_name,
		    		:class => "item-store",
	          :autocomplete => :off,
	          :placeholder => "Store where bought"%>
	          
		    <span class="help-inline faded-80">          
			    <%=f.label :is_store_unknown, 
							"#{f.check_box :is_store_unknown} Not sure",
		          :class => "checkbox",
		          :style => "height: 24px; padding-top: 6px; margin-bottom: 0; "%>
	      </span> 
		
		  </div> <!-- /store --> 
		  
	    <%if show_fb_share%>
	      <div class="fb-photo-toggle">
	        Post to your Mine Facebook album
	        
          <a id="fb-photo-toggle-switch" 
              class="toggle-switch unselectable <%='off' if !fb_share_on%>">
	          <div class="on clearfix">
	            <div class="text">
	              On
	            </div>
	            <div class="knob">
	              &nbsp;
	            </div>
	          </div>
	          <div class="off clearfix">
	            <div class="knob">
	              &nbsp;
	            </div>
	            <div class="text">
	              Off
	            </div>
	          </div>
	        </a>
	      </div>
	    <%end%>
	
			<button id="submit-button" 
          type="submit" 
          class="btn submit btn-mid <%=submit_class%>">
        <%=image_tag "loading_blocks_small_dark_trans.gif",
            :class => "loading inline",
            :style => "margin-bottom: 3px; text-align: center;"%>
				<span class="hide-when-loading">
					<%=submit_text%>
				</span>
			</button> <!-- submit -->
			
	    <%=link_to "Cancel", :back, 
	        :class => "btn cancel", 
	        :style => "width: 64px;" if show_cancel_button%>
			
	    <%=link_to "<i class='icon-trash faded-30'></i> Delete item",
	              {:action => 'destroy',:id => f.object.id},
	              :method  => :delete,
	              :class   => 'delete-item',
	              :confirm => "Are you sure you want "\
	                          "to delete this item?" if show_delete_button%>
	                          
		</div> <!-- /inset-box -->
		
	</div>

  </fieldset>
