  <%=f.hidden_field :suggestion_id, :value => suggestion ? suggestion.id : nil%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  <%=hidden_field_tag 'purchase_product_external_id','',
      :name => 'purchase[product][external_id]'%>
  <%=hidden_field_tag 'purchase_product_title','',
      :name => 'purchase[product][title]'%>
  

	<div id="query_box" style="<%=show_extra_steps ? 'display:none' : ''%>">
		
      <%=f.text_field :query,
          :placeholder => local_assigns[:search_placeholder].nil? ? 
                            "Type your item's name, brand, color and store or URL" :
                            search_placeholder,
          :class => "enter txt l rounded-3 border-box",
          :style => ""%>

      <a id="purchase_search" 
          class="btn awesome btn-large btn-silver border-box rounded-3 go shaded" 
          alt="Search">
          <%if local_assigns[:search_action].nil?%>
          	<%=image_tag "icons/PNG-Arrows/32px/rounded-big-2-01.png", 
                :style => "height: 14px; margin-top: 13px; vertical-align: top;",
                :alt => ""%>
          <%else%>
            <%=search_action%>
          <%end%>
      </a>
	</div> <!-- /query_box -->


  <div id="extra_steps" 
    class="item rounded-5"
    style="<%=show_extra_steps ? '' : 'display: none'%>">
	
    <div class="photo-box relative">

			<div class="actions top-left absolute">
        <a href="javascript:void(0)" 
            class="btn btn-small btn-white rounded-3"
            id="purchase_change_photo">
          Change photo
        </a>
      </div>
      
      <div class="actions bottom-right absolute">
		    <%=link_to "<i class='icon-trash'></i>",
		        {:action => 'destroy',:id => f.object.id},
		        :method  => :delete,
		        :class   => 'btn btn-small btn-white rounded-3',
		        :confirm => "Are you sure you want "\
		                    "to delete this item?" if show_delete_button%>
	    </div>                

      <div id="purchase_selection">
      </div>
      
    </div> <!-- /photo-box -->
  
  	<div class="panel">
  		
  		<div class="panel-contents rounded-5 relative">
  		
  			<b class="caret absolute opaque"></b>
  			
  			<div class="box-title" style="padding-top: 4px;">
					Item name
				</div>
	      <%=f.text_field :title,
	          :rows => 1,
	          :cols => nil,
	          :class => "item-name txt l rounded-3 unresizable "\
                      "border-box highlight-on-focus",
	          :placeholder => "",
	          :style => ""%>
			
				<div class="box-title" style="padding-top: 18px;">
					Store where bought
				</div>
	      <%=f.text_field :store_name,
	          :class => "store-name txt l rounded-3 border-box "\
                      "highlight-on-focus",
	          :autocomplete => :off,
	          :placeholder => ""%>
		          
				<div class="border-box" 
          style="height: 40px; padding: 13px 0 0 10px; white-space: nowrap;" 
          id="store_box">
	        <%=f.label :is_store_unknown, 
	            "#{f.check_box(:is_store_unknown,:class => "check absolute")} Unsure",
	            :class => "relative border-box"%>
			  </div> 
			  
			  <div class="review-box">
	
		      <div id="initiate_endorsement" 
            class="btn btn-large add-review rounded-5">
		        <i class="icon-pencil"></i> Why did you pick this item?
		      </div>
						
		      <%=f.text_area :endorsement,
		          :class => "review txt l rounded-3 unresizable border-box",
		          :rows => 2,
		          :placeholder => "",
		          :style => "display: none;"%>
	          
	      </div> <!-- /review-box -->
			  
		    <%if show_fb_share%>
			    <div class="box-title feed-title relative">
						Share
					</div>
		      <div class="post-to border-box rounded-5" style="margin-bottom: 8px;">
		        Facebook
	          <a id="fb-photo-toggle-switch" 
	              class="toggle-switch unselectable rounded-5 <%='off' if !fb_share_on%>">
		          <div class="on clearfix rounded-5">
		            <div class="text">
		          		<span class="hide-when-loading">On</span>
		          		<i class="icon-loading icon-white"></i>
		            </div>
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		          </div>
		          <div class="off clearfix rounded-5">
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		            <div class="text">
		              Off
		            </div>
		          </div>
		        </a>
		      </div>
		    <%end%>

		    <%if show_tw_share%>
		      <div class="post-to border-box rounded-5" style="margin-bottom: 8px;">
		        Twitter
	          <a id="tw-share-toggle-switch" 
	              class="toggle-switch unselectable rounded-5 <%='off' if !tw_share_on%>">
		          <div class="on clearfix rounded-5">
		            <div class="text">
		              <span class="hide-when-loading">On</span>
		          		<i class="icon-loading icon-white"></i>
		            </div>
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		          </div>
		          <div class="off clearfix rounded-5">
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		            <div class="text">
		              Off
		            </div>
		          </div>
		        </a>
		      </div>
		    <%end%>
		
		    <%if show_tumblr_share%>
		      <div class="post-to border-box rounded-5">
		      	Tumblr
	          <a id="tumblr-share-toggle-switch" 
	              class="toggle-switch unselectable rounded-5 <%='off' if !tumblr_share_on%>">
		          <div class="on clearfix rounded-5">
		            <div class="text">
		              <span class="hide-when-loading">On</span>
		          		<i class="icon-loading icon-white"></i>
		            </div>
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		          </div>
		          <div class="off clearfix rounded-5">
		            <div class="knob rounded-5 gradient v-F5F5F5-DDD">
		              &nbsp;
		            </div>
		            <div class="text">
		              Off
		            </div>
		          </div>
		        </a>
		      </div>
		    <%end%>
		
				<button id="submit-button" 
	          type="submit" 
	          class="btn btn-large btn-red border-box shaded rounded-5"
	          style="width: 100%; margin-top: 20px;">
	          <span class="hide-when-loading">
							<%=submit_text%>
						</span>
						<i class="icon-loading icon-white"></i>
				</button> <!-- submit -->
				
		    <%=link_to "Cancel", :back, 
		        :class => "btn btn-large btn-gray rounded-5 border-box",
		        :style => "width: 100%; margin-top: 12px;" if show_cancel_button%>
		                          
			</div> <!-- /panel-contents -->                          
	                          
		</div> <!-- /panel -->
		
	</div> <!-- /extra_steps.item -->
