<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%>

<div class="box-title feed-title relative" style="margin-top: -6px; padding-bottom: 14px;">

	<%=link_to "Your Mine",
	   user_path(self.current_user.handle,:src => "edit"), 
	   :class => "dark"%>
	<span class="separator" style="color: #999 !important;">
  </span>
		Edit
</div>

<div class="feed-container">

	<div id="creation" class="create-box">
	  <%form_for @purchase,:url => "/purchases/#{@purchase.id}",
	        :html => {
	          :class  => 'form-horizontal',
	          :style  => 'margin-bottom: 0;',
	          :id     => 'edit_purchase'} do |f|%>
	
	    <%=render :partial  => 'input', 
	              :locals   => {
	                :f => f,
	                :suggestion => @suggestion,
	                :submit_text => "Save",
	                :show_cancel_button => true,
	                :show_delete_button => true,
	                :show_extra_steps => true,
	                :show_fb_share => false,
	                :show_tw_share => false,
	                :show_tumblr_share => false}%>
	
		  <%end%> <!-- form -->
	</div>  <!-- create-box -->

</div>

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Purchases.Edit({
          el            : $('body'),
          purchaseJSON   : <%=@purchase.to_json(
                              :only     => [:id,:user_id,:endorsement],
                              :methods  => [:giant_url])%>,
          source        : '<%=@source%>'});
  </script>

<%end%>

