<div class="bar top border-box gradient v-555-444" style="text-align: center; padding: 6px 0;">
	
  <%=link_to_if !is_onboarding?,
      image_tag("logos/mine-h-white-40-brighter-2x.png", 
        :class => "logo absolute"),
      root_path(:src => "unapproved_purchases")%>
      
	<div class="inset-container relative well-box border-box rounded-8">
				
		<div id="progress_message" class="inset-message inline-block working">
			<span class="message-working">
    	<%=image_tag "loading/loading-sync-FFF-474747.gif",
     			:class => "sync"%>
     	Loading your recent purchases...
			</span>
			<span class="message-complete">
				<i class="icon-ok icon-white"></i> 
				Done.
			</span>
			<span class="message-update">
				<i class="icon-ok icon-white"></i> 
				Review your recent purchases:
			</span>
 	 	</div>

	  <a href="javascript:void(0)"
	      id="submit_button"
				class="btn btn-silver btn-large border-box rounded-3 shaded disabled"
				style="width: 176px; vertical-align: top;">
				<span class="disabled-off hide-when-loading">
					Import these items
				</span>
				<span class="disabled-on hide-when-loading">
					Almost ready...
				</span>
				<i class="icon-loading icon-white"></i>
		</a>
	
  </div>
      
  <a class="close opacity-60-80 absolute alias-smooth transition-opacity" 
    href="<%=is_onboarding? ? welcome_path(WelcomeFilter::Connect) : root_path%>">
		×
	</a>
	
</div>

<div class="feed-grid-container border-box rounded-8-bottom" style="padding-bottom: 32px;">

	<div id="feed" class="feed grid no-user-photo no-user-name no-user-bought-pronoun actions link-disabled rounded-8-bottom">
  </div>
  
  <div id="central_message"
    class="progress-message working" 
    style="padding-top: 32px; line-height: 24px; color: #999; font-size: 16px; text-align: center;">
		<span class="message-working">
				<%=image_tag "cat-wait.gif",
	     			:class => "rounded-5",
	     			:style => "padding-bottom: 20px;"%>
	    <br>
	    We'll only be a moment...
    </span>
    <span class="message-nothing">
	    Sorry, Mine couldn't find any of your e-receipts at this time. 
	    <a class="light underlined" href="<%=root_path(:src => 'no_purchases')%>">Close</a>
    </span>
  </div>

</div> <!-- feed container -->
  
<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Purchases.Unapproved({
      source  : "<%=h @source%>",
      mode : "<%=h params[:mode]%>",
      successURL: "<%=user_path(self.current_user.handle,:src =>'mined')%>",
      successZeroURL: "<%=root_path(:src => 'not_mined')%>"
      });
  </script>
<%end%>
