<!-- Generate presenters for the view -->
<%@purchase_presenter  = presenter_for(@purchase)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @purchase_presenter.title, 
              :type         => OGObject::Purchase, 
              :description  => @purchase_presenter.description, 
              :url          => @purchase_presenter.url('fb'),
              :image        => @purchase_presenter.square_url,
              :store        => @purchase.store}%>
<%end%>


<div class="container">
	
	<%if logged_in?%>
	
    <div class="thumbnail-box">
      <p>Recently purchased by <%=@purchase.user.first_name%>:</p>

      <%cache ["v3",@purchase.user,"purchases","preview"] do%>
        <%@purchase.user.purchases.with_user.
                    by_id.limit(13).each do |purchase|%>
          <%cache ["v3",purchase,"teaser","purchase"] do%>
            <div id="purchase_thumb_<%=purchase.id%>" class="thumb frameable">
              <%=link_to image_tag(purchase.square_url),
                  purchase_url(
                    purchase.user.handle,
                    purchase.handle,
                    :src => 'gallery')%>
            </div>
          <%end%>
        <%end%>
      <%end%>

      <%=link_to "View all "\
                 "<i class='icon-chevron-right icon-white'></i>",
          user_path(@purchase.user.handle,:src => 'gallery'), 
          :class => "btn btn-black"%>
    </div> <!-- /thumbnail-box -->
    
  <%else%>
    <%@panel = render("panel",:layout => false)%>
  <%end%>

  <div id="feed" class="feed">
  </div>

<!--
  <%#if logged_in?%>
    <div class="navigation absolute">
      <%#link_to "<i class='icon-chevron-left icon-white'></i>",
          @next_purchase ? purchase_path(
                            @purchase.user.handle,
                            @next_purchase.handle, 
                            :src => 'previous') : 'javascript:void(0)',
          :class => "btn btn-black #{@next_purchase ? '' : 'disabled'}"%>

      <%#link_to "<i class='icon-chevron-right icon-white'></i>",
          @prev_purchase ? purchase_path(
                            @purchase.user.handle,
                            @prev_purchase.handle, 
                            :src => 'next') : 'javascript:void(0)',
          :class => "btn btn-black #{@prev_purchase ? '' : 'disabled'}"%>
    </div>
  <%#end%>
-->

</div> <!-- /container -->




<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Purchases.Show({
        purchaseJSON : <%=render :partial => "purchases/display.json.erb",
                            :locals => {:object => @purchase}%>,
        panel : <%=@panel.to_json%>,
        source : '<%=@source%>'});

  </script>
<%end%>

