
<div id="container" class="home7 unselectable">
  <%=image_tag 'home_batch_text_short.png', :class => 'unselectable'%>
  
     <%=link_to 	'', 
  						fb_auth_path(:src => @origin), 
  						:class => 'login_button',
  						:style => ''%>
  	
  	<div class="login_shadow" class="unselectable">
  	</div>
  	
    <%=image_tag 'home_batch_never.png', 
        :class => 'unselectable',
        :style => "position: relative; top:-45px; z-index: 10000;"%> 
   
</div> <!-- container -->

<div id="footer" class="home7 unselectable">
	<%=CONFIG[:name]%> © 2012 · <%=email_link%>
</div>
