<div class="container home unselectable">
	<div class="row">
		<div class="span12">
			<div class="thumbnail">
				<img src="<%=image_path 'home_bootstrap_items.jpg'%>" />
				<div class="center-box">
					<span class="slogan">
						Create your online closet<br />of items you own and love.
					</span>
					<%=link_to 	'', 
							fb_auth_path(:src => @origin), 
							:class => 'login'%>
				</div>
				<div class="row faq">
					<div class="span-q">
						<h3>What is an online closet?</h3>
						<p>
							It’s a collection of items you’ve bought, displayed on the web. From clothing and decor to apps and electronics, build your closet any way you like. If you want, share it with friends whose taste you trust.
						</p>
					</div>
					<div class="span-q">
						<h3>What does it do?</h3>
						<p>
							It’ll keep on telling you new things about yourself. It will notify you when friends with good taste buy something new. And you’ll discover new items from others that shop at the same stores as you.
						</p>
					</div>
					<div class="span-q">
						<h3>How do I get started?</h3>
						<p>
							<%=link_to 	'Log in', 
							fb_auth_path(:src => @origin)%>, set you style, pick a few first stores you shop at, and you’ll be adding to your closet in seconds. We use Facebook to make signup easy; posting to your Timeline is optional.
						</p>
					</div>
				</div>
			</div>
			<footer>
      	<%=CONFIG[:name]%> © 2012 · <%=email_link%>
      </footer>
		</div>
	</div>
</div>