<div class="container">

	<div class="title">
		<span class="name">Mine</span> is a simple service for sharing purchases with friends.
	</div>

	<div class="squares clearfix">
		<div class="square m">
			M
		</div>
		<div class="square item" id="square_item_1">
			<%=image_tag 'home_mine/items/lumia.jpg'%>
			<%=image_tag 'home_mine/items/sweater.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/backpack.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/tie.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/daisy.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/stool.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/tshirt.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/shells.jpg', :hidden => true%>
		</div>
		<div class="square item" id="square_item_2">
			<%=image_tag 'home_mine/items/jeans.jpg'%>
			<%=image_tag 'home_mine/items/whiskey.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/vans.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/yellowbag.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/shades.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/iphone.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/cushion.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/cap.jpg', :hidden => true%>
		</div>
		<div class="square item" id="square_item_3">
			<%=image_tag 'home_mine/items/toms.jpg'%>
			<%=image_tag 'home_mine/items/stand.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/adidas.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/headphones.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/foodinc.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/shoe.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/macbook.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/lipstick.jpg', :hidden => true%>
		</div>
		<div class="square item" id="square_item_4">
			<%=image_tag 'home_mine/items/tattoo.jpg'%>
			<%=image_tag 'home_mine/items/plaid.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/blanket.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/jeans2.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/belt.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/sofa.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/mms.jpg', :hidden => true%>
			<%=image_tag 'home_mine/items/pleasures.jpg', :hidden => true%>
		</div>
		
		
			<%=link_to image_tag('loading_blocks_small_blue_trans.gif', :class => 'loading') + 
					"<div class='hide-when-loading'>" +
          "<div class='log_in'>Log in with</div>" +
          image_tag('home_mine/fb.png') +
          "</div>",
          fb_auth_path(:src => @origin), 
          :class    => 'square fb',
          :onclick  => "this.className += ' load'"%>
							
	</div> <!-- /squares -->
	
</div> <!-- /screen -->



<div class="steps">
	<div class="container">
		<div class="squares clearfix">
		
			<div class="square text">
				1. Pick out the item you've just bought:
			</div>
			<div class="rectangle">
				<%=image_tag 'home_mine/steps/step1.jpg'%>
			</div>
			
			<div class="rectangle">
				<%=image_tag 'home_mine/steps/step2.jpg'%>
			</div>
			<div class="square text">
				2. Your friends get notified, instantly.
			</div>
			
			<div class="square text last">
				3. Enjoy likes and comments on all your good stuff.
			</div>
			<div class="rectangle last">
				<%=image_tag 'home_mine/steps/step3.jpg'%>
			</div>	
					
		</div> <!-- /squares -->
	</div>	
</div> <!-- /steps -->



<div class="action-bar">
	<div class="container">
	
		<div class="rectangle">
			Join Mine now. It’s fun, and free!
		</div>		
	
    <%=link_to "<div class='hide-when-loading'>" +
        "<div class='log_in'>Log in with</div>" +
        image_tag('home_mine/fb.png') +
        "</div>",
        fb_auth_path(:src => @origin), 
        :class    => 'square fb',
        :onclick  => "this.className += ' load'"%>
        
  <footer>
  	Mine © 2012 · contact@getmine.com
  </footer>
  
	</div>
</div> <!-- /action-bar -->
