<div class="wrapper">
	
	<div class="container border-box home">

		<div class="logged-out">
			
			<%unless is_phone_device?%>
				<div class="background-cover" 
	      	style="background-image: url('<%=image_path "home/blur-bg.jpg"%>')">
	  		</div>
			<%end%>
			
			<div class="dimmer twenty">
			</div>
			
			<div class="item-header" style="padding-left: 76px; padding-right: 76px;">
			
			  <%=image_tag "mine_54_horizontal_2x.png",
			      :class => "logo"%>
			        
			  <span class="text">
					Tell friends when you buy good stuff.
			  </span>
			  
			  <a href="<%=fb_auth_path(:src => @origin)%>" 
			      onclick="this.className += ' load';"
			      class="btn btn-large btn-red shaded",
			      style="width: 192px;">
			    <span class='hide-when-loading'>
			    	<span class="f"></span> 
			      Start your 
			      <span class='mine'><%=CONFIG[:name].downcase%></span> now
			    </span>
			    <i class='icon-loading icon-white'></i>
			  </a>
			        
			</div> <!-- /item-header -->  	
		
		</div> <!-- /logged-out -->
	
	</div> <!-- /container -->

</div> <!-- /wrapper -->

<footer class="dark">
	<div class="inner relative border-box">
  	<div class="absolute border-box" style="height: 26px; left: 10px; bottom: 0; overflow: hidden;">
    	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMine%2F428223863873172&amp;send=false&amp;layout=button_count&amp;width=86&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=245230762190915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:86px; height:21px;" allowtransparency="true"></iframe>
    </div>
      Mine © 2012 · Palo Alto CA<span class="hide-on-mobile"> · <a href="mailto:Mine &lt;<%=contact_email%>&gt;">Contact Us</a></span>
  </div>
</footer>
