<!--[if !IE]>-->
<div class="background" style="background-image: url('<%=image_path 'home_path/iphone.jpg'%>')"></div>
<div class="background firefox">
  <%=image_tag 'home_path/iphone.jpg',
      :width  => "100%",
      :height => "100%"%>
</div>
<!--<![endif]-->

<!--[If IE]>
<div class="background" style="text-align: center;">
  <%=image_tag 'home_path/iphone.jpg',
      :width  => "100%",
      :height => "100%"%>
</div>
<![endif]-->

<div class="dimmer"></div>
<div class="strip">
	<div class="logo">
		OnCloset
	</div>
	<div class="strapline">
	<!--
		Create a beautiful online closet
		<br />of everything you own.
	-->
	<!--
		Pick daily sets of items
		<br />you wear and use 
	-->
		Share your style
		<br />on your Facebook Timeline
	</div>
	<div class="cross_browser_shadow">
		<%=link_to 	'', 
				fb_auth_path(:source => @origin), 
				:class => 'login_with_facebook',
				:style => ''%>
	</div>
	<div class="tiles">
	
		<!-- 1 -->
<!--
		<div id="stage1">
			<div class="slotting" style="background-image: url('<%=image_path 'home_path/tiles/toga_slot.png'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/heart.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/scarf.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'trans.png'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/toms.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/uggs.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/bag.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/ipad.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/skinny.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/jacket.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/slips.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/moody.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/fur.jpg'%>')"></div>
		</div>
-->
		
		<! -- 2 -->
<!--
		<div id="stage2">
			<div class="stamps">
			</div>
		</div>	
-->

		<!-- 3 -->
		<div id="stage3">
			<div class="timeline">
				<div class="item first"></div>
				<div class="item second"></div>
				<div class="item third"></div>
				<div class="item fourth"></div>
			</div>
		</div>
		
	</div> <!-- tiles -->
</div> <!-- strip -->
