<div id="slides">
<div class="slides_container">

<div id="stage_1">

	<div class="background">
		<div class="container">
		  <%=image_tag 'home_path/burrow_dimmed_35.jpg'%>
		  <div class="fade_bottom"></div>
	  </div>
	</div>
	
	<div class="strip">
	
		<div class="logo">
			OnCloset
		</div>
	
		<div class="strapline">
			Create a beautiful online closet
			<br />of everything you own.
		</div>
		
		<div class="next_shadow">
			<a id="next_1" href="javascript:void(0)" class="next navigation"></a>
		</div>
		
		<div class="tiles">
			<div class="slotting" style="background-image: url('<%=image_path 'home_path/tiles/toga_slot.png'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/heart.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/scarf.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'trans.png'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/toms.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/uggs.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/bag.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/ipad.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/skinny.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/jacket.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/slips.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/moody.jpg'%>')"></div>
			<div class="tile" style="background-image: url('<%=image_path 'home_path/tiles/fur.jpg'%>')"></div>
		</div> <!-- tiles -->
		
	</div> <!-- strip -->

</div> <!-- stage_1 -->


<div id="stage_2" style="display:none">

	<div class="background">
		<div style="display: block; position: relative;">
		  <%=image_tag 'home_path/changing_dimmed_35.jpg'%>
		  <div class="fade_bottom"></div>
	  </div>
	</div>
	
	<div class="strip">
	
		<div class="logo">
			OnCloset
		</div>
	
		<div class="strapline">
			Pick out sets of items
			<br />as you wear and use them.
		</div>
		
		<div class="next_shadow">
			<a id="next_2" href="javascript:void(0)" class="next navigation"></a>
		</div>
		
		<div class="tiles">
				<div class="stamps">
				</div>
		</div> <!-- tiles -->
		
	</div> <!-- strip -->


</div> <!-- stage_2 -->


<div id="stage_3" style="display:none">

	<div class="background">
		<div style="display: block; position: relative;">
		  <%=image_tag 'home_path/iphone_dimmed_35.jpg'%>
		  <div class="fade_bottom"></div>
	  </div>
	</div>
	
	<div class="strip">
	
		<div class="logo">
			OnCloset
		</div>
	
		<div class="strapline">
			Share your style
			<br />on your Facebook timeline.
		</div>
		
		<div class="cross_browser_shadow">
			<%=link_to 	'', 
					fb_auth_path(:source => @origin), 
					:class => 'login_with_facebook',
					:style => ''%>
		</div>
		
		<div class="tiles">
				<div class="timeline">
					<div class="item first"></div>
					<div class="item second"></div>
					<div class="item third"></div>
					<div class="item fourth"></div>
				</div>
		</div> <!-- tiles -->
		
	</div> <!-- strip -->

</div> <!-- stage_3 -->

</div>
</div>

<%content_for :javascript do%>
  <script type="text/javascript">

    var timer = 750;

    $('#next_1').click(function(){
      if($.browser.msie) {
        $('#stage_1').find('.slotting').fadeOut(timer);
        $('#stage_1').find('.tiles').fadeOut(timer);
        $('#stage_1').find('.strip').fadeOut(timer);
        $('#stage_1').find('.background').fadeOut(timer);
        $('#stage_1').fadeOut(timer);

        $('#stage_2').find('.slotting').fadeIn(timer);
        $('#stage_2').find('.tiles').fadeIn(timer);
        $('#stage_2').find('.strip').fadeIn(timer);
        $('#stage_2').find('.background').fadeIn(timer);
        $('#stage_2').fadeIn(timer);
      }
      else {
        $('#stage_1').fadeOut(timer);
        $('#stage_2').fadeIn(timer);
      }
    });

    $('#next_2').click(function(){
      if($.browser.msie) {
        $('#stage_2').find('.slotting').fadeOut(timer);
        $('#stage_2').find('.tiles').fadeOut(timer);
        $('#stage_2').find('.strip').fadeOut(timer);
        $('#stage_2').find('.background').fadeOut(timer);
        $('#stage_2').fadeOut(timer);

        $('#stage_3').find('.slotting').fadeIn(timer);
        $('#stage_3').find('.tiles').fadeIn(timer);
        $('#stage_3').find('.strip').fadeIn(timer);
        $('#stage_3').find('.background').fadeIn(timer);
        $('#stage_3').fadeIn(timer);
      }
      else {
        $('#stage_2').fadeOut(timer);
        $('#stage_3').fadeIn(timer);
      }
    });
  </script>
<%end%>
