
<div class="wrapper">

  <%unless @web_view_mode%>

    <div class="header-home relative">
      <%=image_tag "logos/mine-h-white-48-brighter-2x.png",
          :class => "logo-home unselectable"%>	
      
<!--
      <#unless is_phone_device?%>  
	      <a href="http://itunes.apple.com/us/app/mine./id567558757?mt=8" 
	      class="app-store-badge absolute opacity-80-100 transition-opacity">
	      	<#=image_tag "home/app-store-badge-2x.png",
	          :class => ""%>
	      </a>
      <#end%>
-->
      
      <a class="btn btn-large btn-black btn-login absolute shaded"
      	href="#login" role="button" data-toggle="modal">
      	Log In
      </a>
      
      <! -- modal log in -->
      <div class="modal eyeglass login hide rounded-5" id="login" style="height: 168px; top: 50%; margin-top:-112px;">
        <div class="modal-body rounded-3 relative" 
        	style="text-align: center; background: #444; height: 168px;">
        	
        	<h2 style="padding-bottom: 14px;">Log In</h2>
        
	   			<a href="<%=tw_auth_path(:src => @origin,:target => params[:target])%>" 
	            onclick="this.className += ' load';"
	            class="btn btn-large btn-twitter rounded-3-left shaded-strong relative">
	          <span class='hide-when-loading'>
	            <%=image_tag "social/t-box.png",
	            :class => "t-box"%>
	            Log in<span class="rwd-hide"> with Twitter</span>
	          </span>
	          <i class='icon-loading icon-white'></i>
	        </a>
	        
	        <a href="<%=fb_auth_path(:src => @origin,:target => params[:target])%>" 
	            onclick="this.className += ' load';"
	            class="btn btn-large btn-facebook rounded-3-right shaded-strong relative">
	          <span class='hide-when-loading'>
	            <%=image_tag "social/f-box.png",
	            :class => "f-box"%>
	            Log in<span class="rwd-hide"> with Facebook</span>
	          </span>
	          <i class='icon-loading icon-white'></i>
	        </a>
	        
        </div> <!-- /modal-body -->
      </div> <!-- /modal log in -->
      
      
    </div>
    
    <div class="dark-top"></div>

    <div class="container-home">
    
      <%if @invited_by_user%>
        <h2 class="invite-welcome" style="padding: 0 0 20px;">
          <img class="user-photo xxl rounded-3"
            src="<%=@invited_by_user.square_image_url%>" />
            <%=@invited_by_user.first_name%> wants you <br class="rwd-show">to 
            add your best purchases on <b>mine</b>!
        </h2>
      <%end%>
    
      <div id="video" class="video-frame">
        <%unless is_phone_device?%>
          <!-- desktop video -->
          <iframe src="http://player.vimeo.com/video/48923714?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
            width="630" 
            height="240" 
            frameborder="0">
          </iframe>
        <%else%>
          <!-- mobile video -->
          <iframe src="http://player.vimeo.com/video/50164291?title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
            width="320" 
            height="142" 
            frameborder="0">
          </iframe>
        <%end%>
      </div>
      
      <h2>
        Mine is a directory <br class="rwd-show">of people and purchases.
      </h2>
      
      <div style="text-align: center;">
      
        <a class="btn btn-large btn-join rounded-3 shaded-strong relative"
        	style="background-color: #ff6600;" href="#join" role="button" data-toggle="modal">
          <span class='hide-when-loading'>
            Join Now for Free
          </span>
        </a>
        
      </div> <!-- Join Now Button -->
      
     	<! -- modal join -->
      <div class="modal eyeglass join hide rounded-5" id="join" style="height: 200px; top: 50%; margin-top:-112px;">
        <div class="modal-body rounded-3 relative" 
        	style="text-align: center; background: #444; height: 200px;">
        	
        	<h2 style="padding-bottom: 14px;">Sign Up</h2>
        
	   			<a href="<%=tw_auth_path(:src => @origin,:target => params[:target])%>" 
	            onclick="this.className += ' load';"
	            class="btn btn-large btn-twitter rounded-3-left shaded-strong relative">
	          <span class='hide-when-loading'>
	            <%=image_tag "social/t-box.png",
	            :class => "t-box"%>
	            Sign up<span class="rwd-hide"> with Twitter</span>
	          </span>
	          <i class='icon-loading icon-white'></i>
	        </a>
	        
	        <a href="<%=fb_auth_path(:src => @origin,:target => params[:target])%>" 
	            onclick="this.className += ' load';"
	            class="btn btn-large btn-facebook rounded-3-right shaded-strong relative">
	          <span class='hide-when-loading'>
	            <%=image_tag "social/f-box.png",
	            :class => "f-box"%>
	            Sign up<span class="rwd-hide"> with Facebook</span>
	          </span>
	          <i class='icon-loading icon-white'></i>
	        </a>
	        
	        <p style="padding-top: 16px;">Mine never auto-shares, period. </p>

        </div> <!-- /modal-body -->
      </div> <!-- /modal join -->

    <%end%>

		<br>
		
		<div style="background: #eee; padding-bottom: 18px;">

		
			<div class="more samples">
				
				<div class="col-3">
					
	        <a 	
	          <%unless is_phone_device?%>
	            href="#modal1" 
	            data-toggle="modal" 
	            onclick="$('#iframe_1').attr('src','<%=home_sample_url("item")%>');mixpanel.track('Home Modal Clicked',{'Type':'Mike'})"
	          <%else%>
	            href="<%=home_sample_url("item",:web_view_mode => @web_view_mode)%>"
	          <%end%>
	            class="cell rounded-8 border-box transition-bg 
	                    transition-color transition-border-color relative">
	          <%=image_tag "home/mike.jpg",
	            :class => "user-photo absolute rounded-3"%>
	          Mike bought a new Kindle Paperwhite. His friends asked him about it.
	          <i class="icon-chevron-right absolute transition-opacity"></i>
	        </a>
	        
	        <a 
	          <%unless is_phone_device?%>
	            href="#modal4" 
	            data-toggle="modal" 
	            onclick="$('#iframe_4').attr('src','<%=home_sample_url("profile3")%>');mixpanel.track('Home Modal Clicked',{'Type':'Alex G'})"
	          <%else%>
	            href="<%=home_sample_url("profile3",:web_view_mode => @web_view_mode)%>"
	          <%end%>
	            class="cell rounded-8 border-box transition-bg 
	                    transition-color transition-border-color relative">
	          <%=image_tag "home/ag.jpg",
	            :class => "user-photo absolute rounded-3"%>
	          Alex is an amateur cyclist from Chicago with a passion for Cyclo-Cross. 
	          <i class="icon-chevron-right absolute transition-opacity"></i>
	        </a>
					
				</div>
				
				<div class="col-3">
					
					<a 
						<%unless is_phone_device?%>
							href="#modal2" 
	            data-toggle="modal" 
	            onclick="$('#iframe_2').attr('src','<%=home_sample_url("profile")%>');mixpanel.track('Home Modal Clicked',{'Type':'Arar'})"
						<%else%>
	            href="<%=home_sample_url("profile",:web_view_mode => @web_view_mode)%>"
						<%end%>
	            class="cell rounded-8 border-box transition-bg 
	                    transition-color transition-border-color relative">
						<%=image_tag "home/arar2.jpg",
							:class => "user-photo absolute rounded-3"%>
						From Nordstrom to Incheon Airport, Arar always buys items at the classic edge.
						<i class="icon-chevron-right absolute transition-opacity"></i>
					</a>
					
					<a 
						<%unless is_phone_device?%>
							href="#modal5" 
	            data-toggle="modal" 
	            onclick="$('#iframe_5').attr('src','<%=home_sample_url("profile4")%>');mixpanel.track('Home Modal Clicked',{'Type':'Sam'})"
						<%else%>
		          href="<%=home_sample_url("profile4",:web_view_mode => @web_view_mode)%>"
						<%end%>
		          class="cell rounded-8 border-box transition-bg 
		                  transition-color transition-border-color relative">
						<%=image_tag "home/sam.jpg",
							:class => "user-photo absolute rounded-3"%>
						One item here convinced Sam he wanted to make movies for life. 
						<i class="icon-chevron-right absolute transition-opacity"></i>
					</a>
					
				</div>
				
				<div class="col-3">
											
					<a
						<%unless is_phone_device?%>
							href="#modal3" 
	            data-toggle="modal" 
	            onclick="$('#iframe_3').attr('src','<%=home_sample_url("profile2")%>');mixpanel.track('Home Modal Clicked',{'Type':'Richard'})"
						<%else%>
	            href="<%=home_sample_url("profile2",:web_view_mode => @web_view_mode)%>"
						<%end%> 
	            class="cell rounded-8 border-box transition-bg 
	                    transition-color transition-border-color relative">
						<%=image_tag "home/richard.jpg",
							:class => "user-photo absolute rounded-3"%>
						Richard is the designer behind the Mine logo. Here's his setup.
						<i class="icon-chevron-right absolute transition-opacity"></i>
					</a>
					
					<a 
						<%unless is_phone_device?%>
							href="#modal6" 
	            data-toggle="modal" 
	            onclick="$('#iframe_6').attr('src','<%=home_sample_url("profile5")%>');mixpanel.track('Home Modal Clicked',{'Type':'Alex Gr'})"
						<%else%>
		          href="<%=home_sample_url("profile5",:web_view_mode => @web_view_mode)%>"
						<%end%>
		          class="cell rounded-8 border-box transition-bg 
		                  transition-color transition-border-color relative">
						<%=image_tag "home/ag2.jpg",
							:class => "user-photo absolute rounded-3"%>
						Alex is a designer at Google. It's fair to say he's into comics. 
						<i class="icon-chevron-right absolute transition-opacity"></i>
					</a>
					
				</div>
				
			</div> <!--/more -->
			
		</div> <!-- #eee colorstrip -->
		
		<div style="background: #f8f8f8;">
			
			<div class="more">
			
				<div class="col-3" style="text-align: center; padding-bottom: 18px;">
					<div style="height: 80px; line-height: 80px;">
						<%=image_tag "home/icon-import-2x.png",
							:style => "height: 72px;"%>
					</div>
					<h3>Import.</h3>
					<p style="padding: 0 14px; text-align: left;">
						Connect your Gmail or Yahoo! 
						account to create your Mine profile 
						in seconds.
					</p>
				</div>
				
				<div class="col-3" style="text-align: center; padding-bottom: 18px;">
					<div style="height: 80px; line-height: 80px;">
						<%=image_tag "home/icon-discover-2x.png",
							:style => "height: 44px;"%>
					</div>
					<h3>Discover.</h3>
					<p style="padding: 0 14px; text-align: left;">
						Look up, browse and follow people 
						on the world’s only directory of 
						ownership.
					</p>
				</div>
				
				<div class="col-3" style="text-align: center; padding-bottom: 18px;">
					<div style="height: 80px; line-height: 80px;">
					<%=image_tag "home/icon-shop-2x.png",
						:style => "height: 48px;"%>
					</div>
					<h3>Shop.</h3>
					<p style="padding: 0 14px; text-align: left;">
						Just tap to buy or download any
						item you see that looks 
						interesting.
					</p>
				</div>

			</div>
		
		</div>

    <%unless is_phone_device?%>
      <! -- modal 1 -->
      <div class="modal eyeglass hide rounded-5" id="modal1">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body rounded-3 relative">
          <iframe seamless id="iframe_1" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div> <!-- /modal-body -->
      </div> <!-- /modal -->
      
      <! -- modal 2 -->
      <div class="modal eyeglass hide rounded-5" id="modal2">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body">
          <iframe seamless id="iframe_2" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div>
      </div>
      
      <! -- modal 3 -->
      <div class="modal eyeglass hide rounded-5" id="modal3">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body">
          <iframe seamless id="iframe_3" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div>
      </div>
      
     	<! -- modal 4 -->
      <div class="modal eyeglass hide rounded-5" id="modal4">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body">
          <iframe seamless id="iframe_4" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div>
      </div>
      
      <! -- modal 5 -->
      <div class="modal eyeglass hide rounded-5" id="modal5">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body">
          <iframe seamless id="iframe_5" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div>
      </div>
      
      <! -- modal 6 -->
      <div class="modal eyeglass hide rounded-5" id="modal6">
        <button type="button" class="close absolute transition-opacity" 
            data-dismiss="modal">
          ×
        </button>
        <div class="modal-body">
          <iframe seamless id="iframe_6" class="rounded-3" 
            frameborder="0" width="100%" 
            height="100%"></iframe>
        </div>
      </div>
      
    <%end%>
		
		<div class="spacer"></div>
		
	</div> <!-- /container -->

</div> <!-- /wrapper -->

<%=render "footers/default" unless @web_view_mode%>


<%content_for :javascript do%>
  <script type="text/javascript">


    function resizeIFrames() {
      $('#iframe_1').height($('#modal1').height());
      $('#iframe_2').height($('#modal2').height());
      $('#iframe_3').height($('#modal3').height());
      $('#iframe_4').height($('#modal4').height());
      $('#iframe_5').height($('#modal5').height());
    }

    resizeIFrames();
    $(window).resize(function(){resizeIFrames();});


    // Listen for messages from the player
    if (window.addEventListener){
        window.addEventListener('message', onMessageReceived, false);
    }
    else {
        window.attachEvent('onmessage', onMessageReceived, false);
    }

    // Helper function for sending a message to the player
    function post(action, value) {
        var f = $('iframe');
        var url = f.attr('src').split('?')[0];
        var data = { method: action };
        
        if (value) {
            data.value = value;
        }
        
        f[0].contentWindow.postMessage(JSON.stringify(data), url);
    }

    // Handle messages received from the player
    function onMessageReceived(e) {
        var data = JSON.parse(e.data);
        
        switch (data.event) {
            case 'ready':
                post('addEventListener', 'play');
                break;
                
            case 'play':
                mixpanel.track("Intro Video Played",{"Source":"Home","Thumbnail":"Lantern"});
                break;
        }
    }
  </script>
<%end%>

