<div class="wrapper">

	<div class="header">
		<%=image_tag "home/mine-home-2x.png",
  		  :class => "logo unselectable"%>	
	</div>

	<div class="container">
	
		<div class="video-frame rounded-12">
			<iframe src="http://player.vimeo.com/video/48923714?title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
				width="880" height="391" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		
		<h2 class="alias-smooth">
			Tell the world when you buy something great.
		</h2>
		
		<a href="<%=fb_auth_path(:src => @origin)%>" 
	      onclick="this.className += ' load';"
	      class="btn btn-large btn-twitter shaded relative alias-smooth">
	    <span class='hide-when-loading'>
	    	<%=image_tag "social/t-box.png",
	      :class => "t-box"%>
	      Sign in with Twitter
	    </span>
	    <i class='icon-loading icon-white'></i>
	  </a>
	  
    <a href="<%=tw_auth_path(:src => @origin)%>" 
        onclick="this.className += ' load';"
        class="btn btn-large btn-facebook shaded relative alias-smooth">
      <span class='hide-when-loading'>
      	<%=image_tag "social/f-box.png",
        :class => "f-box"%>
        Sign in with Facebook
      </span>
      <i class='icon-loading icon-white'></i>
    </a>

		<div class="spacer"></div>
		
		
	</div> <!-- /container -->

</div> <!-- /wrapper -->

<footer class="dark">
	<div class="inner relative border-box">
  	<div class="like-button-box absolute border-box">
    	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMine%2F428223863873172&amp;send=false&amp;layout=button_count&amp;width=86&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=245230762190915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:86px; height:21px;" allowtransparency="true"></iframe>
    </div>
      Mine © 2012 · Palo Alto CA<span class="hide-on-mobile"> · <a data-toggle="modal" href="#aboutUs">About Us</a> · <a href="mailto:Mine &lt;<%=contact_email%>&gt;">Contact Us</a></span>
  </div>
</footer>
