<div class="wrapper">

	<div class="header">
		<%=image_tag "logos/mine-h-white-48-brighter-2x.png",
  		  :class => "logo unselectable"%>	
	</div>

	<div class="container">
	
    <%if @invited_by_user%>
      <h2 class="invite-welcome alias-smooth" style="padding: 0 0 20px;">
        <img class="user-photo xxl rounded-3"
          src="<%=@invited_by_user.square_image_url%>" />
          <%=@invited_by_user.first_name%> wants you <br class="rwd-show">to 
          add your best purchases on <b>mine</b>!
      </h2>
    <%end%>
	
		<div id="video" class="video-frame">
		
			<%unless is_phone_device?%>
				<!-- desktop video -->
				<iframe src="http://player.vimeo.com/video/48923714?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
					width="880" 
	        height="391" 
	        frameborder="0">
	       </iframe>
	    <%else%>
	    	<!-- mobile video -->
	      <iframe src="http://player.vimeo.com/video/50164291?title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
	      	width="320" 
	      	height="142" 
	      	frameborder="0">
	      </iframe>
      <%end%>
      
		</div>
		
		<h2 class="alias-smooth">
      <%if @invited_by_user%>
        Sign in now:
      <%else%>
			  Tell the world <br class="rwd-show">when you buy something great.
      <%end%>
		</h2>
		
		
		<a href="<%=tw_auth_path(:src => @origin,:target => params[:target])%>" 
        onclick="this.className += ' load';"
        class="btn btn-large btn-twitter shaded-strong relative alias-smooth">
      <span class='hide-when-loading'>
      	<%=image_tag "social/t-box.png",
        :class => "t-box"%>
        Sign in with Twitter
      </span>
      <i class='icon-loading icon-white'></i>
    </a>
    
    <br class="rwd-show">
		
		<a href="<%=fb_auth_path(:src => @origin,:target => params[:target])%>" 
	      onclick="this.className += ' load';"
	      class="btn btn-large btn-facebook shaded-strong relative alias-smooth">
	    <span class='hide-when-loading'>
	    	<%=image_tag "social/f-box.png",
	      :class => "f-box"%>
	      Sign in with Facebook
	    </span>
	    <i class='icon-loading icon-white'></i>
	  </a>
	  
		
		<br>
		
<!--
		<a class="learn-more rounded-6" id="learn-more" href="#">
			Learn more
		</a>
-->
		
		<div id="more" style="margin-top: 10px;">
			
			<h2 class="alias-smooth">
				With <b>mine</b>, you can&hellip;
			</h2>
			
			<div class="col-3">
				<h3>
					Post purchases, perfectly.
				</h3>
				<p>
					Combine a pristine catalog photo, where you bought your item, 
					and the web's best link to more info, for the perfect way to share a purchase.
				</p>
			</div>
			
			<div class="col-3">
				<h3>
					Share the best stuff in your life.
				</h3>
				<p>
					Thousands of people use mine to post the items that speak to who they are, 
					what they like, and what they know about.
				</p>
			</div>
			
			<div class="col-3">
				<h3>
					Learn from friends and followers.
				</h3>
				<p>
					As the only place on the web where you can look up and follow anyone's best purchases, 
					mine is a constant source of inspiration.
				</p>
			</div>
		
		</div> <!--/#more-->
		
		
		<div class="spacer"></div>
		
	</div> <!-- /container -->

</div> <!-- /wrapper -->

<%content_for :javascript do%>
  <script type="text/javascript">

    // Listen for messages from the player
    if (window.addEventListener){
        window.addEventListener('message', onMessageReceived, false);
    }
    else {
        window.attachEvent('onmessage', onMessageReceived, false);
    }

    // Helper function for sending a message to the player
    function post(action, value) {
        var f = $('iframe');
        var url = f.attr('src').split('?')[0];
        var data = { method: action };
        
        if (value) {
            data.value = value;
        }
        
        f[0].contentWindow.postMessage(JSON.stringify(data), url);
    }

    // Handle messages received from the player
    function onMessageReceived(e) {
        var data = JSON.parse(e.data);
        
        switch (data.event) {
            case 'ready':
                post('addEventListener', 'play');
                break;
                
            case 'play':
                mixpanel.track("Intro Video Played",{"Source":"Home","Thumbnail":"Lantern"});
                break;
        }
    }
  </script>
<%end%>


<%=render "footers/default" unless is_onboarding?%>


