<div class="wrapper">

	<div class="header">
		<%=image_tag "logos/mine-h-white-48-brighter-2x.png",
  		  :class => "logo unselectable"%>	
	</div>

	<div class="container">
	
		<div id="video" class="video-frame">
			<iframe src="http://player.vimeo.com/video/48923714?title=0&amp;byline=0&amp;portrait=0&amp;color=333333" 
				width="880" height="391" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		
		<h2 class="alias-smooth">
			Tell the world <br class="rwd-show">when you buy something great.
		</h2>
		
		
		<a href="<%=tw_auth_path(:src => @origin)%>" 
        onclick="this.className += ' load';"
        class="btn btn-large btn-twitter shaded-strong relative alias-smooth">
      <span class='hide-when-loading'>
      	<%=image_tag "social/t-box.png",
        :class => "t-box"%>
        Sign in with Twitter
      </span>
      <i class='icon-loading icon-white'></i>
    </a>
    
    <br class="rwd-show">
		
		<a href="<%=fb_auth_path(:src => @origin)%>" 
	      onclick="this.className += ' load';"
	      class="btn btn-large btn-facebook shaded-strong relative alias-smooth">
	    <span class='hide-when-loading'>
	    	<%=image_tag "social/f-box.png",
	      :class => "f-box"%>
	      Sign in with Facebook
	    </span>
	    <i class='icon-loading icon-white'></i>
	  </a>
	  
		<div class="spacer"></div>
		
		
	</div> <!-- /container -->

</div> <!-- /wrapper -->

<%=render "footers/default" unless is_onboarding?%>


