<%content_for :body_attribute do%>
	<%="style='overflow:hidden'"%>
<%end%>

<div id="landing_container">

	<div class="landing_heading">
		An Online Closet For Everything You Own<br>
		<span class="landing_subtitle">It's cool, and free!</span>
	</div>
	
	<div class="landing_main">
		<ul>
			<li>Collect the things you own</li>
			<li>Share and compare with friends</li>
			<li>Express your style!</li>
		</ul>
		
		<%=link_to image_tag(
				"f.png",
				:class => "f",
				:alt   => "") + "Sign up with Facebook &rsaquo;",
				fb_auth_path(:source => @source),
				:class => "large blue awesome landing_button",
				:id    => "action_link"%>
	</div>
	
	
  <div id="slides">
    <div id="slideshow" 
          style="position:absolute;top:0px;left:0px;z-index:-100;">
        <%=image_tag "landing_shoes.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
        <%=image_tag "landing_bag.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
        <%=image_tag "landing_jewelry.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
        <%=image_tag "landing_uggs.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
        <%=image_tag "landing_cosmetics.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
        <%=image_tag "landing_boots.jpg", 
              :class => "landing_product_image", 
              :style => "display:none", :alt => ""%>
    </div>
  </div>
    
</div> <!-- landing_container -->

<div class="landing_lower">
	<div id="footer">
		Felvy © 2011 · <a href="mailto:contact@felvy.com">contact@felvy.com</a>
	</div>
</div>


<%content_for :javascript do%>

  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">
   $(document).ready(function(){
    $('#slideshow').cycle({
      fx: 'fade',
      timeout: 6000
      });
   //   $('#slides').slides({
   //     preload: false,
   //     preloadImage: '<%=image_path "transparent.gif"%>',
   //     play: 5000,
   //     pause: 1500,
   //     hoverPause: true,
   //     generatePagination: false,
   //     pagination: false,
   //     effect: 'fade'
   //   });

     mpq.register_once({'landed_on' : '<%=@source%>'});
     mpq.track("landed on homepage");
    });
  </script>

<%end%>

