
  <!-- item -->
  <div id="container">
    <div id="instructions_1" style="display:block">
      <%=image_tag "instructions_1.png"%>
    </div>
    <div id="instructions_2" style="display:block">
      <%=image_tag "instructions_2.png"%>
    </div>
    <div id="instructions_3" style="display:block">
      <%=image_tag "instructions_3.png"%>
    </div>
    <div class="slides_container" style="height:100%">
        <%=render @products%>
    </div>
  </div> <!-- container -->

  <script type="text/javascript">

      $(function(){
        $('#container').slides({
          preload: false,
          preloadImage: '<%=image_path "transparent.gif"%>',
          play: 5000,
          pause: 1500,
          hoverPause: true,
          generatePagination: false,
          pagination: false,
          effect: 'slide'
        });
      });

    <%if !logged_in?%>
      mpq.track_links($("#action_link"),"FB Connect - HOME");
    <%else%>
      mpq.track_links($("#action_link"),"Done! Post Another - HOME");
    <%end%>

    center_based_on_element('#container');
      
  </script>


