<div class="feed-container onboarding relative" style="background: white; margin-top: 2px; padding: 5.384615384615%;">

	<div class="steps absolute">
		<span style="color: #ccc;">
			1. Connect
		</span> 
		<span style="padding: 0 6px;">
			2. Review   
		</span>
		<span>
			3. Explore
		</span>
	</div>

	<%=image_tag "import-star-black-144-2x.png",
					:style => "width: 25%; padding: 14px 18px 0 0; 
					right: 4.615384615%; top: auto; opacity: 0.15; filter: alpha(opacity=15);",
		      :class => "absolute"%>

	<h1 style="color: #333; padding: 12px 0 6px;">
		1. Connect
	</h1>
	
	<h2 style="color: #999;">
		Choose the email you use <br>
		for online shopping:
	</h2>
	
	<div class="txt s" style="color: #999; padding-top: 10px;">
		You can add others later.
	</div>
	
	<div class="hero rounded-8 border-box">
		
		<a id="google_connect_button"
		   class="btn-hero rounded-6-left inline-block border-box transition-bg" 
		    href="javascript:void(0)" 
		    style="width: 33%;"
        rel="tooltip"
        title="Gmail or Google Apps"
        data-placement="bottom">
		  <%=image_tag "logos/hero-gmail-2x.png",
		      :class => "hide-when-loading"%>
		  <i class="icon-loading icon-white"></i>
		</a>
		
		<a id="hotmail_connect_button"
        onclick="$('#hotmail_connect').slideToggle('fast');$('#hotmail_email').phocus()"
		    class="btn-hero square inline-block border-box transition-bg pointer" 
		    style="width: 34%; border-left: 2px solid #ccc;"        
		    rel="tooltip"
        title="Hotmail, Outlook.com, Live or MSN"
        data-placement="bottom">
		  <%=image_tag "logos/hero-hotmail-2x.png",
		      :class => "hide-when-loading"%>
		  <i class="icon-loading icon-white"></i>
		</a>
		
		<a id="yahoo_connect_button"
		    class="btn-hero rounded-6-right inline-block border-box transition-bg" 
		    href="javascript:void(0)" 
		    style="width: 33%; border-left: 2px solid #ccc;"
        rel="tooltip"
        title="Yahoo, sbcglobal.net, att.net, verizon.net, bellsouth.net, swbell.net or ameritech.net"
        data-placement="bottom">
		  <%=image_tag "logos/hero-yahoo-2x.png",
		      :class => "hide-when-loading"%>
		  <i class="icon-loading icon-white"></i>
		</a>
		
	</div>
	
	    <%=render :partial => "hotmail/auth_dialog"%>
      
</div> <!-- /feed-container -->

<div class="feed-container border-box" style="background: #f8f8f8; padding: 5.384615384615%;">

	<%=image_tag "logos/store-grid-5x3-2x.png",
			      :class => ""%>
			      
	<div class="txt s" style="padding-top: 4%; text-align: center; color: #999;">
		<span class="rwd-hide">Mine revives e-receipts in your inbox. </span>No emails are stored.
		<a style="float: right; color: #777;" class="opacity-80-100 transition-opacity" 
        href="<%=root_path(:src => 'skip')%>">
			Skip
		</a>
	</div>

</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Connect({
          successURL: "<%=welcome_path(WelcomeFilter::History,:mode => 'live')%>"});
  </script>
<%end%>

