<div class="container onboarding">

	<div class="heading" id="step_1">
		Pick the item you’d like to add first:
	</div>
	
	<div class="heading" id="step_2" style="display:none;" >
	</div>

	<div class="heading" id="step_3" style="display:none;" >
    Add a few details and you're done.
	</div>
	
	

	<div id="cards" class="cards clearfix">
    <%@suggestions.each do |suggestion|%>
      <a id="suggestion_<%=suggestion.id%>" 
          href="javascript:void(0)" 
          class="card relative rounded-5 three-to-two">
        <div class="photo rounded-5">
          <%=image_tag "ob/mine-select-32.png",
              :class => "mine-logo absolute"%>
          <%=image_tag suggestion.image_url,
              :class => ""%>
        </div>
      
        <div class="title-box border-box relative">
          <%=suggestion.title%>
        </div>	
      </a>
    <%end%>
  </div>
	

  <%=render 'purchases/chooser'%>
  
  <div id="creation" class="create-box rounded-5" style="display:none">
  	
  	<div class="first-box relative">
  	
  		<div id="tip" class="tip">
  		</div>
  
		  <%form_for Purchase.new,
		      :html => {
		        :class => "form-horizontal",
		        :style => "margin-bottom: 0;"} do |f|%>
		
		      <%=render :partial => 'purchases/input', 
		          :locals => {
		            :f => f,
		            :suggestion => nil,
		            :submit_text => "Add to <span class='mine'>mine</span>",
		            :show_cancel_button => false,
		            :show_delete_button => false,
		            :show_query_box => true,
		            :show_query_sub_box => true,
		            :search_placeholder => "Type your item's brand, color, name, store etc.",
		            :search_action => "Find <i class='icon-search icon-white'></i>",
		            :show_extra_steps => false,
		            :show_fb_share => true,
		            :show_tw_share => true,
		            :show_tumblr_share => true,
		            :fb_share_on => self.current_user.setting.post_to_timeline?,
		            :tw_share_on => self.current_user.setting.post_to_twitter?,
		            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
		  <%end%> <!-- /form --> 
		  
		  <div id="caret" class="caret-box absolute">
			  <div class="caret">
	  		</div>
  		</div>
	  
	  </div> <!-- /first-box -->
	  
	  <div id="example" class="example">
	  </div>
	  
	</div> <!-- create-box -->

		
</div>	<!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create({
          nextURL : "<%=root_path(:src => 'welcome')%>",
          suggestions : <%=@suggestions.to_json%>,
          currentSuggestionID: <%=@current_suggestion_id%>,
          source : "<%=@source%>"});
  </script>
<%end%>
