<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%>

<div class="onboarding">

	<div id="box" class="box border-box rounded-5">

		<div id="step_1" class="info-box well-box border-box rounded-5 alias-smooth relative" style="padding: 12px 18px; margin-bottom: 18px;">
			<h2>Add a first item bought recently</h2>
			<p class="txt m border-box">
				You can choose how you want to share it, and edit it any time.
			</p>
		</div>
		
		<div id="step_2" style="display:none;">
		</div>
	
		<div id="step_3" style="display:none;">
	    <h2>Where did you buy it?</h2>
		</div>
	
	
		<ul id="cards" style="background: pink; margin-right: -20px;">
	    <%@suggestions.each do |suggestion|%>
	    
	    <li class="well-box border-box centered rounded-5 opacity-90-100 transition-opacity" style="float: left; width: 46.8%; padding: 6px; margin:0 2.6% 14px 0;">

	      <a id="suggestion_<%=suggestion.id%>" 
	          href="javascript:void(0)" 
	          class="border-box rounded-3 inline-block pointer"
	          style="width: 100%; background: white; padding: 12px;">

	        <div class="top rounded-5 transition-bg">
	        	<%=image_tag suggestion.image_url,
	              :class => "shape",
	              :style => "padding: 4px;"%>
	        </div>
	      
	        <div class="txt l alias-smooth" style="color: #555; font-weight: bold;">
	          <%=suggestion.title%>
	        </div>	
	      </a>
	     
	     </li> <!--/well-box -->
	     
	    <%end%>
	  </ul> <!-- /#cards -->
	  
  	<div id="extra_suggestion_box" class="well-box border-box centered rounded-5 split opacity-90-100 transition-opacity" style="padding: 6px;">
			<a href="javascript:void(0)" id="extra_suggestion" class="border-box rounded-3 inline-block pointer" style="width: 100%; background: white; padding: 12px;">
				  <div style="height: 128px; padding: 4px; font-size: 72px; font-weight: bold; color: #333; line-height: 120px;">…</div>
				  <div class="txt l alias-smooth" style="color: #555; font-weight: bold;">Something else</div>
			</a>    
		</div>
	  
	  
	  <div id="creation" class="create-box clearfix" style="display:none">
	  
			  <%form_for Purchase.new,
			      :html => {
			        :class => "form-horizontal",
			        :style => "margin-bottom: 0;"} do |f|%>
			
			      <%=render :partial => 'purchases/input', 
			          :locals => {
			            :f => f,
			            :suggestion => nil,
			            :submit_text => "Add to <span class='mine'>mine</span>",
			            :show_cancel_button => false,
			            :show_delete_button => false,
			            :search_placeholder => "Item name, brand, color, store",
			            :search_action => "<span class='hide-on-mobile'>Find it </span><i class='icon-chevron-right icon-white'></i>",
			            :show_extra_steps => false,
			            :show_fb_share => true,
			            :show_tw_share => true,
			            :show_tumblr_share => true,
			            :fb_share_on => self.current_user.setting.post_to_facebook?,
			            :tw_share_on => self.current_user.setting.post_to_twitter?,
			            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
			  <%end%> <!-- /form --> 
			  
			<br>
			<br>
		  
		  <span id="example" class="example rounded-8">
		  </span>
		  
		</div> <!-- /search-box -->
	
  </div> <!-- box -->
	
</div> <!-- onboarding -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create({
          nextURL : "<%=root_path(:src => 'welcome')%>",
          suggestions : <%=@suggestions.to_json%>,
          extraSuggestion: <%=@extra_suggestion.to_json%>,
          currentSuggestionID : <%=h @current_suggestion_id%>,
          source : "<%=h @source%>"});
  </script>
<%end%>
