<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%>

<div class="well-box padded border-box rounded-8 relative">

	<div id="step_1">
		<h2>Add an item you bought recently</h2>
		<p class="txt m border-box">
			You can choose how you share it, and edit it any time.
		</p>
	</div>
	
	<div id="step_2" style="display:none;">
	</div>
	
	<div id="step_3" style="display:none;">
	  <h2>A few details to finish up...</h2>
	  <p class="txt m border-box" style="margin-bottom: 20px;">
			Add the store you bought it from, and choose your sharing options
		</p>
	</div>
	
	
	<ul id="cards" style="margin: 20px -20px -8px 0;">
	  <%@suggestions.each do |suggestion|%>
	  
	  <li class="border-box centered rounded-5 opacity-90-100 transition-opacity" style="display: inline-block; width: 46.8%; margin:0 2.6% 14px 0;">
	
	    <a id="suggestion_<%=suggestion.id%>" 
	        href="javascript:void(0)" 
	        class="border-box rounded-3 inline-block pointer"
	        style="width: 100%; background: white; padding: 12px;">
	
	      <div class="top rounded-5 transition-bg">
	      	<%=image_tag suggestion.image_url,
	            :class => "",
	            :style => "padding: 4px;"%>
	      </div>
	    
	      <div class="txt l alias-smooth" style="color: #555; font-weight: bold;">
	        <%=suggestion.title%>
	      </div>	
	    </a>
	   
	   </li> <!--/well-box -->
	   
	  <%end%>
	
		<li id="extra_suggestion_box" class="border-box centered rounded-5 opacity-90-100 transition-opacity" style="display: inline-block; width: 46.8%; margin:0 2.6% 14px 0;">
			<a href="javascript:void(0)" id="extra_suggestion" class="border-box rounded-3 inline-block pointer" style="width: 100%; background: white; padding: 12px;">
				  <div style="height: 128px; padding: 4px; font-size: 72px; font-weight: bold; color: #333; line-height: 120px;">…</div>
				  <div class="txt l alias-smooth" style="color: #555; font-weight: bold;">Something else</div>
			</a>    
		</li>
	
	</ul> <!-- /#cards -->



	<div id="creation" class="create-box" style="display:none">
	
		  <%form_for Purchase.new,
		      :html => {
		        :class => "form-horizontal",
		        :style => "margin-bottom: 0;"} do |f|%>
		
		      <%=render :partial => 'purchases/input', 
		          :locals => {
		            :f => f,
		            :suggestion => nil,
		            :submit_text => "Add to <span class='mine'>mine</span>",
		            :show_cancel_button => false,
		            :show_delete_button => false,
		            :search_placeholder => "Item name, brand, color and store or URL",
		            :search_action => image_tag("icons/PNG-Arrows/32px-white/rounded-big-2-01-white.png", 
										                :style => "height: 14px; margin-top: 13px; vertical-align: top;"),
		            :show_extra_steps => false,
		            :show_fb_share => true,
		            :show_tw_share => true,
		            :show_tumblr_share => true,
		            :fb_share_on => self.current_user.setting.post_to_facebook?,
		            :tw_share_on => self.current_user.setting.post_to_twitter?,
		            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
		  <%end%> <!-- /form --> 
		  
		<br>
		<br>
	  
<!--
	  <span id="example" class="example rounded-8">
	  </span>
-->
	  
	</div> <!-- /search-box -->

</div> <!--/ enclosing well -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create({
          nextURL : "<%=root_path(:src => 'welcome')%>",
          suggestions : <%=@suggestions.to_json%>,
          extraSuggestion: <%=@extra_suggestion.to_json%>,
          currentSuggestionID : <%=h @current_suggestion_id%>,
          source : "<%=h @source%>"});
  </script>
<%end%>
