<div class="background-cover" 
	style="background-image: url('<%=image_path "home/shorts2.jpg"%>')">
</div>

<div class="dimmer sixty">
</div>

<div class="onboarding">

	<div id="box" class="box border-box rounded-5">

		<div class="heading" id="step_1">
			<%=image_tag "ob/mine-tags-48-2x.png", :class => "logo"%>
      <br>
			<h2>What did you buy?</h2>
		</div>
		
		<div class="heading" id="step_2" style="display:none;">
		</div>
	
		<div class="heading" id="step_3" style="display:none;">
	    <h2>Add a few details and you're done:</h2>
		</div>
	
		<div id="cards" class="suggestions clearfix">
	    <%@suggestions.each do |suggestion|%>
	      <a id="suggestion_<%=suggestion.id%>" 
	          href="javascript:void(0)" 
	          class="suggestion relative">

	        <div class="top rounded-5 transition-bg">
	        	<%=image_tag suggestion.image_url,
	              :class => "shape"%>
	        </div>
	      
	        <div class="bottom border-box relative">
	          <%=suggestion.title%>
	        </div>	
	      </a>
	    <%end%>
	  </div>
	  
	  <div class="wildcard">
			or… <a href="/" class="">something else</a>
		</div>
		
	  <%=render 'purchases/chooser'%>
	  
	  <div id="creation" class="create-box clearfix" style="display:none">
	  
			  <%form_for Purchase.new,
			      :html => {
			        :class => "form-horizontal",
			        :style => "margin-bottom: 0;"} do |f|%>
			
			      <%=render :partial => 'purchases/input', 
			          :locals => {
			            :f => f,
			            :suggestion => nil,
			            :submit_text => "Add to <span class='mine'>mine</span>",
			            :show_cancel_button => false,
			            :show_delete_button => false,
			            :show_query_box => true,
			            :show_query_sub_box => true,
			            :search_placeholder => "Enter item name, brand, color, store or URL",
			            :search_action => "Find it <i class='icon-chevron-right icon-white'></i>",
			            :show_extra_steps => false,
			            :show_fb_share => true,
			            :show_tw_share => true,
			            :show_tumblr_share => true,
			            :fb_share_on => self.current_user.setting.post_to_timeline?,
			            :tw_share_on => self.current_user.setting.post_to_twitter?,
			            :tumblr_share_on => self.current_user.setting.post_to_tumblr?}%>
			  <%end%> <!-- /form --> 
			  
			<br>
			<br>
		  
		  <span id="example" class="example rounded-8">
		  </span>
		  
		</div> <!-- /search-box -->
	
  </div> <!-- box -->
	
</div> <!-- onboarding -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create({
          nextURL : "<%=root_path(:src => 'welcome')%>",
          suggestions : <%=@suggestions.to_json%>,
          extraSuggestion: <%=@extra_suggestion.to_json%>,
          currentSuggestionID : <%=h @current_suggestion_id%>,
          source : "<%=h @source%>"});
  </script>
<%end%>
