<div class="container onboarding">

	<div class="heading" id="step_1">
		Pick the item you’d like to add first:
	</div>
	
	<div class="heading" id="step_2" style="display:none;" >
		Let's find your shoes.
		<!-- Let's find your media item -->
		<!-- Let's find your phone -->
	</div>
	
	<div class="cards clearfix">
	
		<!-- card 1 -->
		<a href="" class="card relative rounded-5 three-to-two">
    	<div class="photo rounded-5">
      	<%=image_tag "ob/icon-big-white-phone.png",
     			:class => ""%>
    	</div>
    
    	<div class="title-box border-box relative">
    		Add the phone<br />
    		you use
    	</div>	
  	</a>
  	
  	<!-- card 2 -->
  	<a href="" class="card relative rounded-5 three-to-two">
    	<div class="photo rounded-5">
      	<%=image_tag "ob/icon-big-white-media.png",
     			:class => ""%>
    	</div>
    
    	<div class="title-box border-box relative">
				Add a media item<br/>
    		(music, DVD, book…)
    	</div>	
  	</a>
  	
  	<!-- card 3 -->
  	<a href="" class="card relative rounded-5 three-to-two">
    	<div class="photo rounded-5">
      	<%=image_tag "ob/icon-big-white-shoe.png",
     			:class => ""%>
    	</div>
    
    	<div class="title-box border-box relative">
    		Add a pair of shoes<br />
    		bought recently
    	</div>	
  	</a>
		
	</div> <!-- /cards -->
	
	
  <%=render 'purchases/chooser'%>
  
  <div id="creation" class="create-box rounded-5">
  	
  	<div class="first-box relative">
  	
  		<div class="tip">
  			Find the <u>exact</u> shoes you bought:
  		</div>
  
		  <%form_for Purchase.new,
		      :html => {
		        :class => "form-horizontal",
		        :style => "margin-bottom: 0;"} do |f|%>
		
		      <%=render :partial => 'purchases/input', 
		          :locals => {
		            :f => f,
		            :suggestion => nil,
		            :submit_text => "Add to <span class='mine'>mine</span>",
		            :show_cancel_button => false,
		            :show_delete_button => false,
		            :show_query_box => true,
		            :show_query_sub_box => true,
		            :search_placeholder => "Type your item's brand, color, name, store etc.",
		            :search_action => "Find <i class='icon-search icon-white'></i>",
		            :show_extra_steps => false,
		            :show_fb_share => true,
		            :show_tw_share => true,
		            :fb_share_on => self.current_user.setting.post_to_timeline?,
		            :tw_share_on => self.current_user.setting.post_to_twitter?}%>
		  <%end%> <!-- /form --> 
		  
		  <div class="caret-box absolute">
			  <div class="caret">
	  		</div>
  		</div>
	  
	  </div> <!-- /first-box -->
	  
	  <div class="example">
	  	Example: “New Balance WT20GB Trail Minimus Black”
	  	<!-- Example: “Game of Thrones Season 1 HD” -->
	  	<!-- Example: “Samsung Galaxy S3 White” -->
	  </div>
	  
	</div> <!-- create-box -->

		
</div>	<!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create({
          nextURL : "<%=root_path(:src => 'welcome')%>"});
  </script>
<%end%>