<div class="container onboarding">

	<div class="heading">
		<span class="mine">Adding a purchase on mine</span><br />
		is fast, like a web search. Try this:
	</div>
	
  <%=render 'purchases/chooser'%>
  	
  <div id="creation" class="create-box" style="background: none; border: none;">
    <%form_for Purchase.new,
        :html => {
          :class => "form-horizontal",
          :style => "margin-bottom: 0;"} do |f|%>
  
        <%=render :partial => 'purchases/input', 
            :locals => {
              :f => f,
              :suggestion => nil,
              :submit_text => "Add to <span class='mine'>mine</span>",
              :submit_class => "new",
              :show_cancel_button => false,
              :show_delete_button => false,
              :show_query_box => true,
              :show_query_sub_box => true,
              :search_placeholder => "Type your best description of a recent purchase.",
              :search_action => "Search <i class='icon-search icon-white'></i>",
              :show_extra_steps => false,
              :show_fb_share => true,
              :fb_share_on => self.current_user.setting.post_to_timeline?}%>
    <%end%> <!-- /form --> 
  
  </div> <!-- create-box -->
	
	<div class="hint">Tip: Adding your item's 
		<span style="color:#F7921E">c</span><span style="color:#EF4923">o</span><span style="color:#B61F8E">l</span><span style="color:#00AEEF">o</span><span style="color:#65BC46">r</span> 
    and <span class="nike">brand</span> can help you find it.
	</div> <!-- /hint -->
	
	<div class="examples">
		<p>Recently added examples:</p>
		
    <%@samples = [
      {:user => "Natala Menezes",:title => "Cole Haan Air Bria", :image => "natala.jpg"},
      {:user => "Richard Perez",:title => "Cohen Brothers Collection Box Set", :image => "richard.jpg"},
      {:user => "Craig Dos Santos",:title => "TRX Pro Kit", :image => "craig.jpg"},
      {:user => "Gabrielle Adams",:title => "Blue and white Marimekko Duvet", :image => "gabe.jpg"},
      {:user => "Dawoon Kang",:title => "InStyle Magazine June 2012", :image => "dawoon.jpg"},
      {:user => "Mike Hudack",:title => "Black LED Alarm Clock White Light", :image => "mike.jpg"},
      {:user => "David Blumenstein",:title => "Nook Color Tablet", :image => "david.jpg"},
      {:user => "Cathy Vigrass",:title => "Gap 1969 Jeans", :image => "cathy.jpg"}]%>

    <%@samples.each do |sample|%>
      <div class="example rounded-5">

        <%=image_tag "products/#{sample[:image]}",
            :class => "item-photo rounded-3"%>

        <div class="text">
          <span class="item-name">"<%=sample[:title]%>"</span><br />
          <span class="sub">added by <span class="user-name"><%=sample[:user]%></span></span>
        </div>
      </div>
    <%end%>
		
	</div> <!-- /examples -->
	
</div>	<!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Create();
  </script>
<%end%>

