<div class="well-box padded border-box rounded-8 relative">
	<h2>Hi Jamie!</h2>
	<p class="txt m border-box" style="margin-bottom:20px">
		Add a few details and you're set.
	</p>

	 <%form_tag "/welcome",:method => :post,
	    :class  => 'form-horizontal',
	    :style  => 'margin-bottom: 0;',
	    :id     => 'edit_user' do%>

    <%=hidden_field_tag :filter,WelcomeFilter::Info%>

    <div class="box-title" style="padding-top: 4px;">
      Your Email - No spam, we promise.
    </div>
    <%=text_field_tag :email,self.current_user.email,
          :class => "enter txt l rounded-3 border-box",
          :style => "width: 320px"%>

    <div class="box-title" style="padding-top: 15px;">
      Your Sex
    </div>
    
    <label class="txt l relative border-box pointer rounded-3-left gradient v-FFF-DDD unselectable" style="color: #555; text-shadow: 0 1px 0px white; display: inline-block; height: 32px; line-height: 32px; padding: 0 20px 0 38px; border-right: 2px solid #ddd;">
	    <%=radio_button_tag :gender,"male",
	        self.current_user.is_male?,
	        :class => "absolute",
	        :style => "top: 7px; left: 16px;"%>
	        
	     Male
    </label>

		<label class="txt l relative border-box pointer rounded-3-right gradient v-FFF-DDD unselectable" style="color: #555; text-shadow: 0 1px 0px white; display: inline-block; height: 32px; line-height: 32px; padding: 0 20px 0 38px;">
	    <%=radio_button_tag :gender,"female",
	        self.current_user.is_female? || self.current_user.gender.nil?,
	        :class => "absolute",
	        :style => "top: 7px; left: 16px;"%>
	        
       Female
    </label>
    
    <br>

    <button id="submit_button" 
        type="submit" 
        class="btn btn-large border-box shaded rounded-5"
        style="width: 100px; margin-top: 24px;">
        <span class="hide-when-loading">
          Next
          <%=image_tag "icons/PNG-Arrows/32px-white/rounded-big-2-01-white.png", 
                :style => "height: 14px; margin: 13px 0 0 4px; vertical-align: top;"%>
        </span>
        <i class="icon-loading icon-white"></i>
    </button> <!-- submit -->
  <%end%>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Info();
  </script>
<%end%>
