<div class="feed-container onboarding relative rounded-8" style="background: white; margin-top: 2px; padding: 5.384615384615%;">

	<h1 style="color: #333; padding: 12px 0 6px;">
		Hi there
	</h1>
	
	<h2 style="color: #999;">
		Mine needs a few details to get started:
	</h2>

	 <%form_tag "/welcome",:method => :post,
	    :class  => 'form-horizontal',
	    :style  => 'margin-bottom: 0;',
	    :id     => 'edit_user' do%>

    <%=hidden_field_tag :filter,WelcomeFilter::Info%>

    <div class="box-title" style="padding-top: 24px;">
      Email
    </div>

    <%if params[:exists]%>
      <div class="message-drawer border-box alert alert-error rounded-3 txt m"
            style="display: ; margin: 0px 0 12px;">
        Sorry, this email address is being used by another user. If you previously signed up
        with Facebook
        <%=link_to "sign out and Sign in with Facebook",
            logout_path(:forever => true),
            :style => "font-weight: bold;color: #B94A48;"%>.
      </div>
    <%end%>

    <%=text_field_tag :email,self.current_user.email,
          :class => "enter txt l rounded-3 border-box",
          :style => "width: 75%"%>

    <div class="box-title" style="padding-top: 24px;">
      Sex
    </div>
    
    <label class="txt l relative border-box pointer unselectable" style="color: #555; text-shadow: 0 1px 0px white; display: inline-block; height: 32px; line-height: 32px; padding: 0 20px 0 38px; border-right: 2px solid #ddd;">
	    <%=radio_button_tag :gender,"male",
	        self.current_user.is_male?,
	        :class => "absolute",
	        :style => "top: 7px; left: 16px;"%>
	        
	     Male
    </label>

		<label class="txt l relative border-box pointer unselectable" style="color: #555; text-shadow: 0 1px 0px white; display: inline-block; height: 32px; line-height: 32px; padding: 0 20px 0 38px;">
	    <%=radio_button_tag :gender,"female",
	        self.current_user.is_female? || self.current_user.gender.nil?,
	        :class => "absolute",
	        :style => "top: 7px; left: 16px;"%>
	        
       Female
    </label>
    
    <br>

    <button id="submit_button" 
        type="submit" 
        class="btn btn-large btn-silver light border-box shaded rounded-5"
        style="width: 120px; margin-top: 24px;">
        <span class="hide-when-loading">
          Next
        </span>
        <i class="icon-loading icon-white"></i>
    </button> <!-- submit -->
  <%end%>
</div> <!-- /feed-container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Info();
  </script>
<%end%>
