<div class="steps">
	<div class="container">
	
		<div class="title">
			Welcome to Mine, 
      <span class="name"><%=self.current_user.first_name%></span>. <br />
			<span style="color: #ccc;">You'll be sharing your first purchase in seconds.</span>
		</div>
	
		<div class="squares clearfix">
		
			<div class="square text light">
				Add friends to see what they buy and where they shop.
			</div>
			<div class="rectangle">
				<%=image_tag "home_mine/intro/"\
                      "intro1-#{user_gender(self.current_user)}.jpg"%>
			</div>
			
			<div class="rectangle">
				<%=image_tag "home_mine/intro/"\
                      "intro2-#{user_gender(self.current_user)}.jpg"%>
			</div>
			<div class="square text light">
				Mine syncs neatly with your Facebook Timeline.
			</div>
			
			<div class="square text light last">
				Flick a switch to post favorites as large photos.
			</div>
			<div class="rectangle last">
				<%=image_tag 'home_mine/intro/intro3.jpg'%>
			</div>	
					
		</div> <!-- /squares -->
	</div>	
</div> <!-- /steps -->



<div class="bottom-bar">
	<div class="container">
    <%=link_to "Share a purchase <i class='large-icon-chevron-right large-icon-white'></i>",
        root_path(:src => "welcome"),
        :class => "btn btn-primary btn-large go"%>
	</div>
</div> <!-- /bottom-bar -->


<%content_for :javascript do%>
  <script type="text/javascript">
    mixpanel.track("Welcome View");
    mixpanel.track("$born");
    mixpanel.track("User Created");

    mixpanel.name_tag("<%=self.current_user.email%>");

    mixpanel.register_once({"Age" : <%=self.current_user.age%>}); 
    mixpanel.register_once({"Gender" : "<%=self.current_user.gender%>"}); 
  </script>
<%end%>
