<! -- welcome / intro -->

<div id='header'>

	<div class='navbar narrow unselectable'>

		 <%=image_tag('oncloset_logo_30_white.png', 
		 		:alt => CONFIG[:name],
		 		:class => "logo")%>
		 		
		<ol id='indicators'>
        <li class='first'></li>
        <li class='second'></li>
        <li class='third'></li>
    </ol> 		

	</div>

</div>

<div id="container" class="narrow">

		<div class="heading unselectable">
      Welcome to OnCloset, <%=current_user.first_name%>!<br />
			A showcase of what you and your friends are buying
			<!-- your shoes, clothes, accessories and more! -->
		</div>

    <%=image_tag 'welcome.png', :style => 'margin: -20px 0px 0px 0px;'%>
		
    <%=link_to '',
                welcome_path(WelcomeFilter::Stores),
                :class => 'pick_top_stores',
                :style => 'position: relative; top: -217px;'%>

</div> <!-- container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show({source:'<%=@source%>'});
  </script>
<%end%>
