<div class="header unit-box border-box fixed" 
  style="height: 90px; background: url('<%=image_path "header-ob-bg-hack.png"%>'); z-index: 10000; font-size: 15px; color: white; top: 0;">
    
    <%=image_tag("logos/mine-h-white-48-shaded-2x.png", 
          :class => "logo absolute")%>
        
    <a href="<%=welcome_path(WelcomeFilter::Create)%>"
			class="btn btn-large btn-red border-box rounded-3 shaded"
			style="width: 176px; top: -60px; right: 0; float: right;">
			Start your mine 
			<%=image_tag "icons/PNG-Arrows/32px-white/rounded-big-2-01-white.png", 
	                :style => "height: 14px; margin: 13px 0 0 4px; vertical-align: top;"%>
		</a>
    
</div> <!-- /header (fixed) -->


<div class="well-box padded border-box rounded-8 relative">

	<a href="<%=welcome_path(WelcomeFilter::Create)%>"
			class="btn btn-large btn-red border-box rounded-3 absolute shaded"
			style="width: 176px; top: -60px; right: 0;">
		Start your mine 
		<%=image_tag "icons/PNG-Arrows/32px-white/rounded-big-2-01-white.png", 
                :style => "height: 14px; margin: 13px 0 0 4px; vertical-align: top;"%>
	
	</a>

	<h2>People use mine to share their best buys</h2>
	<p class="txt m border-box">
		It's the ultimate way for everyone to discover great stuff.
	</p>

	<div class="feed-container rounded-5" 
	  style="background: #f5f5f5; margin: 20px 0 32px;">
	
		<div id="feed" class="feed link-disabled rounded-5 shaded relative">
	  </div>
	
		<div id="feed-spinner" class="feed-loading whitesmoke">
		</div> 
	</div> <!-- feed container -->

</div>


<!--div class="bar bottom border-box gradient v-555-444" style="text-align: center;">
	<a href="<%#welcome_path(WelcomeFilter::Create)%>"
			class="btn btn-large btn-red border-box rounded-3 shaded"
			style="width: 484px;">
		Start your mine 
		<%#image_tag "icons/PNG-Arrows/32px-white/rounded-big-2-01-white.png", 
                :style => "height: 14px; margin: 13px 0 0 6px; vertical-align: top;"%>
	</a>
</div-->



<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
