<div class='fb-like <%=klass%>'
      data-href='<%=url%>'
      data-layout='button_count'
      data-send='<%=send_button%>' 
      data-width='<%=width%>' 
      data-show-faces='<%=faces%>'>
</div>
