<%@stores.each do |store|%>
  <tr id="tr_<%=store.id%>">
    <td width="400">
      <%= text_field_tag  'name',
                          store.name,
                          :id     => "store_name_#{store.id}",
                          :class  => "creation_input box_shadow"%>
    </td>
    <td width="200">
      <%=link_to  'Approve', 
                  'javascript:void(0);',
                  :id     => "store_update_#{store.id}",
                  :class  => 'submit_red_12'%>
    </td>
    <td width="200">
      <%=link_to  'Store', 
                  admin_store_path(store),
                  :id     => "store_link_#{store.id}",
                  :target => '_newtab'%>
    </td>
  </tr>
<%end%>


<%content_for :javascript do%>
  <script type="text/javascript">

    $(document).ready(function(){
      approved_stores   = new Denwen.Stores(<%=@approved_stores.to_json%>);
      unapproved_stores = new Denwen.Stores(<%=@stores.to_json%>);

      storesEditView    = new Denwen.AdminStoresEditView({
                                  approved_collection   : approved_stores,
                                  unapproved_collection : unapproved_stores});
    });
  </script>
<%end%>
