<div class="container well" id="container">

  <%form_for @store, 
      :url => "/admin/stores/#{@store.id}?filter=generic" do |f|%>

    <%=f.hidden_field :image_path%>
    <%=f.hidden_field :favicon_path%>

    Name - <%=f.text_field :name%> <br>
    Domain - <%=f.text_field :domain%> <br>
    Byline - <%=f.text_field :byline%> <br>
    Description - <%=f.text_area :description%> <br>

    <%=f.label :is_approved,"Is Approved"%>
    <%=f.check_box :is_approved%>

    <br>

    <div id='store_image'>
      <%if @store.image_path.present?%>
        <img src="<%=h @store.image_url%>" />
      <%else%>
        No Image
      <%end%>
    </div>

    <div id='store_favicon'>
      <%if @store.favicon_path.present?%>
        <img src="<%=h @store.favicon_url%>" />
      <%else%>
        No Favicon
      <%end%>
    </div>

    Click below to Add/Change Main store Image <br>
    <a href='javasvript:void(0)' id='image_uploader'>
    </a> 

    <br>
    Click below to Add/Change store favicon<br>
    <a href='javasvript:void(0)' id='favicon_uploader'>
    </a> 

    <br><br>
    <h4>Crawl Datum</h4>
    <br>

    <%f.fields_for @store.crawl_datum do |j|%>
      <%=j.label :active,"Crawlable"%>
      <%=j.check_box :active%>
      <br>
      <%=f.label :use_og_image,"Use OG Image"%>
      <%=j.check_box :use_og_image%>
      <br>
      Launch URL - <%=j.text_field :launch_url%>
    <%end%>

    <br><br>


    <br><br>
    <h4>Email Parse Datum</h4>
    <br>

    <%f.fields_for @store.email_parse_datum do |j|%>
      <%=j.label :is_active,"Parseable"%>
      <%=j.check_box :is_active%>
      <br>
      Emails -  <%=j.text_field :emails%>
      <br>
      Weight -  <%=j.text_field :weight%>
    <%end%>

    <br><br>

    <%=submit_tag "Update", :name => nil%>
  <%end%>

</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Admin.Stores.Edit({
          el            : $('#container'),
          uploadConfig  : <%=@upload_config.to_json%>});
  </script>
<%end%>
