<div id="container">

  <%form_for @store, 
      :url => "/admin/stores/#{@store.id}?filter=generic" do |f|%>

    <%=f.hidden_field :image_path%>

    <%=f.text_field :name%> <br>
    <%=f.text_field :domain%> <br>

    <%=f.label :is_approved,"Is Approved"%>
    <%=f.check_box :is_approved%>

    <div id='store_image'>
      <%if @store.image_path.present?%>
        <img src="<%=@store.image_url%>" />
      <%else%>
        No Image
      <%end%>
    </div>

    Click below to Add/Change Main store Image <br>
    <a href='javasvript:void(0)' id='uploader'>
    </a> 
    
    <br>

    <%=submit_tag "Update", :name => nil%>
  <%end%>

</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Admin.Stores.Edit({
          el            : $('#container'),
          uploadConfig  : <%=@upload_config.to_json%>});
  </script>
<%end%>
