<div class="container settings">
	<div class="row settings">
		<div class="span6 offset3">
			<div class="well">

				 <%form_for @settings,:url => "/settings/#{@settings.id}",
		      :html => {
		        :class  => 'form-horizontal',
		        :id     => 'edit_setting'} do |f|%>
		      
		      <fieldset>
		
						<!-- Notifications -->
						
						<legend>Notifications</legend>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">Activity</label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :email_interaction,
						                  "#{f.check_box :email_interaction} Email me when someone owns, wants, likes or comments 
						                  on one of my items or sets",
						                  :class => "checkbox"%>
					    </div>
						</div>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">Influencers</label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :email_influencer,
						                  "#{f.check_box :email_influencer} Email me when someone adds me as an influencer, 
						                  or when my influencers add new items and sets",
						                  :class => "checkbox"%>
					    </div>              
						</div>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">Upates</label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :email_update,
						                  "#{f.check_box :email_update} Email me feature updates and reminders",
						                  :class => "checkbox"%>
					    </div>              
				    </div>
						
						<!-- /Notifications -->
						<!-- Social Sharing -->
						
						<legend>Social Sharing</legend>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">Facebook</label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :post_to_timeline, 
						    							"#{f.check_box :post_to_timeline} Post my new items and sets to my Timeline",
						                  :class => "checkbox"%>
						  </div>
				    </div>
						
						<!-- /Social Sharing -->
				    
				    <div class="form-actions" style="padding-left: 100px; padding-bottom: 0px;">
				    	<%=submit_tag "Save Changes",
					                  :class  => 'btn btn-primary',
					                  :name   => nil%>
				    </div>
			    
			    </fieldset>
			                          
			  <%end%> <!-- /form -->
			 			  
		  </div> <!-- /well -->
	 	</div> <!-- /span6 -->
	</div> <!-- /row -->
</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Settings.Index({
          el            : $('#edit_setting'),
          updated       : '<%=flash[:updated]%>',
          source        : '<%=@source%>'});
  </script>

<%end%>
