<div class="container">
  <div class="col">
    &nbsp;
  </div>
	<div class="col-triple settings">
			<div class="item">

				 <%form_for @settings,:url => "/settings/#{@settings.id}",
		      :html => {
		        :class  => 'form-horizontal',
		        :id     => 'edit_setting'} do |f|%>
		      
		      <fieldset>
		
						<!-- Notifications -->
            <h4 style="font-size: 15px; margin-bottom: 18px;">
              Notifications
            </h4>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">
                Friends
              </label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :email_influencer,
                    "#{f.check_box :email_influencer} Email me "\
                    "when a friend starts sharing with me, "\
                    "and when friends shares new purchases",
                    :class => "checkbox"%>
					    </div>              
						</div>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">
                Updates
              </label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :email_update,
                    "#{f.check_box :email_update} Email me feature "\
                    "updates and reminders",
                    :class => "checkbox"%>
					    </div>              
				    </div>
						<!-- /Notifications -->

						<!-- Social Sharing -->
            <h4 style="font-size: 15px; margin-bottom: 18px;">
              Social Sharing
            </h4>
						
						<div class="control-group">
							<label class="control-label" style="width: 80px;">
                Facebook
              </label>
							<div class="controls" style="margin-left: 100px;">
						    <%=f.label :post_to_timeline, 
                    "#{f.check_box :post_to_timeline} Sync my "\
                    "#{CONFIG[:name]} with my Facebook Timeline",
                    :class => "checkbox"%>
						  </div>
				    </div>
						
						<!-- /Social Sharing -->
				    
				    <div class="form-actions" 
                  style="border-top:none; padding-left: 100px; 
                          background: none;
                          padding-bottom: 0px;">
				    	<%=submit_tag "Save Changes",
					                  :class  => 'btn btn-mid',
					                  :name   => nil%>
				    </div>
			    
			    </fieldset>
			                          
			  <%end%> <!-- /form -->
			 			  
		  </div> <!-- /item -->
	 	</div> <!-- /col-triple -->
</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Settings.Index({
          el            : $('#edit_setting'),
          source        : '<%=@source%>'});
  </script>

<%end%>
