<%content_for :head do%>
  <%=render :partial => 'misc/meta',
      :locals => {
        :title => "Settings"}%>
<%end%>


<%form_for @settings,:url => "/settings/#{@settings.id}",
	  :html => {
	    :class  => 'form-horizontal',
	    :style  => 'margin-bottom: 0;',
	    :id     => 'edit_setting'} do |f|%>

	<div class="box-title" style="margin-top: -6px;">
		Email Notifications
	</div>
	
	<div class="well-box border-box rounded-8" style="padding: 20px; margin-bottom: 18px;">
		  
		  <fieldset>
        <%=f.hidden_field :theme_id%>
		
				<!-- Notifications -->
				
				<div class="control-group" style="margin-bottom: 10px;">
					<label class="control-label txt m" style="width: 80px;">
		        Activity
		      </label>
					<div class="controls" style="margin-left: 100px;">
				    <%=f.label :email_influencer,
		            "#{f.check_box :email_influencer} Email me "\
		            "when someone likes or comments on my items",
		
		            :class => "checkbox txt m pointer unselectable"%>
			    </div>              
				</div>
				
				<div class="control-group" style="margin-bottom: 10px;">
					<label class="control-label txt m" style="width: 80px;">
		        Follows
		      </label>
					<div class="controls" style="margin-left: 100px;">
				    <%=f.label :email_follower,
		            "#{f.check_box :email_follower} Email me "\
		            "when someone starts following me",
		
		            :class => "checkbox txt m pointer unselectable"%>
			    </div>              
				</div>
				
				<div class="control-group" style="margin-bottom: 10px;">
					<label class="control-label txt m" style="width: 80px;">
		        Digest
		      </label>
					<div class="controls" style="margin-left: 100px;">
				    <%=f.label :email_digest,
		            "#{f.check_box :email_digest} Email me "\
		            "a weekly digest from people I'm following",
		
		            :class => "checkbox txt m pointer unselectable"%>
			    </div>              
				</div>
				
				<div class="control-group" style="margin-bottom: 0;">
					<label class="control-label txt m" style="width: 80px;">
		        Updates
		      </label>
					<div class="controls" style="margin-left: 100px;">
				    <%=f.label :email_update,
		            "#{f.check_box :email_update} Email me feature "\
		            "updates and reminders",
		            :class => "checkbox txt m pointer unselectable"%>
			    </div>              
		    </div>
				
				<div class="control-group" style="margin-bottom: 0;">
					<label class="control-label txt m" style="width: 80px;">
		        E-receipt Importer
		      </label>
					<div class="controls" style="margin-left: 100px;">
				    <%=f.label :email_importer,
		            "#{f.check_box :email_importer} Email me about new e-receipts in my email",
		            :class => "checkbox txt m pointer unselectable"%>
			    </div>              
		    </div>
				<!-- /Notifications -->
		  
		  </fieldset>

	</div> 
	
	<div class="box-title" style="margin-top: -6px;">
		Background
	</div>
	
	<div class="well-box border-box rounded-8 backgrounds" 
    style="padding: 14px; margin-bottom: 18px;">

    <%@themes.each do |theme|%>
      <div id="theme_<%=theme.id%>" 
        class="tile inline-block rounded-3 
                pointer border-box 
                <%=theme.id == @settings.theme_id ? 'selected' : '' %>" 
        style="background: url('<%=theme.background_tile_url%>');">
      </div>
    <%end%>
	</div>
	
  <div style="border-top:none; padding-left: 20px; background: none; padding-bottom: 0px;">
  	<%=submit_tag "Save Changes",
                  :class  => 'btn shaded',
                  :name   => nil%>
  </div>
	
<%end%> <!-- /form -->


<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Settings.Index({
          el            : $('#body'),
          themes        : <%=@themes.to_json(
                                :only => [:id,:background_body_class],
                                :methods => [:background_url])%>,
          source        : '<%=h @source%>'});
  </script>

<%end%>
