<div id="container">

	<div class="well">
	
	  <%form_for @settings,:url => "/settings/#{@settings.id}",
      :html => {
        :class  => '',
        :id     => 'edit_setting'} do |f|%>

			<!-- Notifications -->
			
			<h3>Notifications</h3>
			
			<h4>Activity</h4>
	    <%=f.label :email_interaction,
	                  "#{f.check_box :email_interaction} Email me when someone owns, wants, likes or comments on one "\
	                  "of my items or sets ",
	                  :class => "checkbox"%>
			
			<h4>Influencers</h4>
	    <%=f.label :email_influencer,
	                  "#{f.check_box :email_influencer} Email me when someone adds me as an influencer, or if my influencers "\
	                  "add new items and sets",
	                  :class => "checkbox"%>
			
			<h4>Updates</h4>
	    <%=f.label :email_update,
	                  "#{f.check_box :email_update} Email me updates and reminders about OnCloset features and tips",
	                  :class => "checkbox"%>
			
			<!-- /Notifications -->
			<!-- Social Sharing -->
			
			<h3>Social Sharing</h3>
			
			<h4>Facebook</h4>
		    
	    <%=f.label :post_to_timeline, 
	    							"#{f.check_box :post_to_timeline} Post to my Facebook Timeline when I add a new item or set",
	                  :class => "checkbox"%>
	    
			
			<!-- /Social Sharing -->
	    
	    <p>
	    	<%=submit_tag "Save Changes",
		                  :class  => 'btn',
		                  :name   => nil%>
	    </p>
	                          
	  <%end%> <!-- /form -->
	  
  </div> <!-- /well -->

</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Settings.Index({
          el            : $('#edit_setting'),
          source        : '<%=@source%>'});
  </script>

<%end%>
