<div id="container" class="container well">
  <h1>Admin UI Routes & Features</h1> <br>

  <h3>General</h3> 
  <%=link_to 'Exceptions',logged_exceptions_path%> <br>
  <%=link_to 'Health Report',admin_health_index_path%> <br>

  <br> <h3>Users</h3> 
  <%=link_to 'Daily',
              admin_users_path(:filter => 'active',:period => 'daily')%> <br>
  <%=link_to 'Weekly',
              admin_users_path(:filter => 'active',:period => 'weekly')%> <br>
  <%=link_to 'Bi-Weekly',
              admin_users_path(:filter => 'active',:period => 'biweekly')%> <br>
  <%=link_to 'Monthly',
              admin_users_path(:filter => 'active',:period => 'monthly')%> <br>
  <%=link_to 'Email Mined',
              admin_users_path(:filter => 'email_parsed')%> <br>

  Admin View of User. /admin/users/{handle} 
  Example - <%=link_to 'Anna Smith',admin_user_path('anna-smith')%>
  <br>

  <br> <h3>Activity</h3> 
  <%=link_to 'Purchases',
              admin_purchases_path(:filter => 'recent')%> <br>
  <%=link_to 'Comments',
              admin_comments_path(:filter => 'recent')%> <br>
  <%=link_to 'Invites',
              admin_invites_path(:filter => 'recent')%> <br>

  <br> <h3>Purchases</h3> 
  <%=link_to 'Recent',
              admin_purchases_path(:filter => 'recent')%> <br>
  <%=link_to 'Special',
              admin_purchases_path(:filter => 'special')%> <br>

  <br> <h3>Searches</h3> 
  <%=link_to 'Creation',
              admin_searches_path(:filter => 'creation')%> <br>
  <%=link_to 'User',
              admin_searches_path(:filter => 'user')%> <br>
  <%=link_to 'Purchase',
              admin_searches_path(:filter => 'purchase')%> <br>

  <br> <h3>Stores</h3> 
  <%=link_to 'Unapproved',
              admin_stores_path(:filter => 'unapproved')%> <br>

  <%=link_to 'Popular',
              admin_stores_path(:filter => 'popular')%> <br>

  <%=link_to 'Crawlable',
              admin_stores_path(:filter => 'crawlable')%> <br>

  <%=link_to 'Parseable',
              admin_stores_path(:filter => 'parseable')%> <br>

  Edit View of Store. /admin/stores/{handle}/edit
  Example - <%=link_to 'Target',edit_admin_store_path('target')%>
  <br>

  <br> <h3>Suggestions</h3> 
  <%=link_to 'New', new_admin_suggestion_path%> <br>
  <%=link_to 'All', admin_suggestions_path%> <br>

  <br> <h3>Themes</h3> 
  <%=link_to 'New', new_admin_theme_path%> <br>
  <%=link_to 'All', admin_themes_path%> <br>

  <br> <h3>Emails</h3> 
  <%=link_to 'All', admin_emails_path%> <br>

  <br> <h3>Live Commits</h3> 
  <table width="900">
    <%@commits.each do |commit|%>
      <tr>
        <td width="200">
          <%=commit.committer%>
        </td>
        <td width="500">
          <%=commit.message%>
        </td>
        <td width="150">
          <%=commit.id[0..9] + "..."%>
        </td>
      </tr>
    <%end%>
  </table>
</div>
