<div class="well styles" id="container">

<div class="control-group">

  <ul class="thumbnails" id="styles">

    <%@styles.each do |style|%>
      <li class="span2">
	      <a class="thumbnail" id="style_picker_<%=style[:id]%>"> 
          <%=image_tag style[:image]%>
          <div class="caption">
              <h5><%=style[:caption]%></h5>
          </div>
	      </a> <!-- /thumbnail -->
      </li>
    <%end%>

  </ul>

</div> <!-- /control-group -->

</div> <!-- /styles_container.well -->

<%form_tag '/welcome',
    :id   => 'new_styles' do |f|%>

  <%=hidden_field_tag :id, WelcomeFilter::Style%>
  <%=hidden_field_tag :style%>
  <%=submit_tag '',
      :class    => 'invite_friends',
      :id       => 'styles_picked_button',
      :disabled => true,
      :name     => nil%>
<%end%>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Styles.New({
          styles  : <%=@styles.to_json%>,
          source  : '<%=@source%>',
          el      : $('#container')});
  </script>
<%end%>
