
    <%=f.hidden_field :image_path%>
    <%=f.hidden_field :small_image_path%>

    Title - <%=f.text_field :title%> <br>
    Short Title - <%=f.text_field :short_title%> <br>
    Thing <%=f.text_field :thing%> <br>
    Example <%=f.text_field :example%> <br>
    Weight - <%=f.text_field :weight%> <br>
    Gender - <%=f.text_field :gender%> (0 Neutral, 1 for Male, 2 for Female)<br>

    <div id='suggestion_image'>
      <%if @suggestion.image_path.present?%>
        <img src="<%=h @suggestion.image_url%>" />
      <%end%>
    </div>

    <div id='suggestion_small_image'>
      <%if @suggestion.small_image_path.present?%>
        <img src="<%=h @suggestion.short_image_url%>" />
      <%end%>
    </div>

    Click below to add/change image<br>
    <a href='javasvript:void(0)' id='image_uploader'>
    </a> <br><br>

    Click below to add/change small image<br>
    <a href='javasvript:void(0)' id='small_image_uploader'>
    </a> <br><br>

    <%=submit_tag submit_text, :name => nil%>
