
<div class="container well" id="container" class="container well">
  <legend>
    Suggestions - 
    <%=link_to "Add",new_admin_suggestion_path%>
  </legend>

  <table width="900">
    <tr height="20">
    </tr>
    <%@suggestions.each do |suggestion|%>
      <tr>
        <td width="200">
          <%=link_to suggestion.title,admin_suggestion_path(suggestion)%>
        </td>
        <td width="50">
          <%=suggestion.weight%>
        </td>
        <td width="50">
          <%=suggestion.gender%>
        </td>
        <td width="150">
          <%if suggestion.image_path.present?%>
            <%=image_tag suggestion.image_url,:width => 100%>
          <%end%>
        </td>
        <td width="150">
          <%if suggestion.small_image_path.present?%>
            <%=image_tag suggestion.small_image_url,:width => 30%>
          <%end%>
        </td>
        <td>
          <%=link_to "Edit",edit_admin_suggestion_path(suggestion)%>
        </td>
        <td>
          <%=link_to "Delete", {
                :controller => 'admin/suggestions',
                :action => 'destroy',
                :id => suggestion.id},
              :method => :delete,
              :confirm  => "There is no undo on this, sure?"%></h3>
        </td>
      </tr>
    <%end%>
  </table>
</div>
