
<div id="container" class="container well">
  <legend>Create a new suggestion</legend>

  <%form_for @suggestion, :url => "/admin/suggestions" do |f|%>
    <%=f.hidden_field :image_path%>
    Title - <%=f.text_field :title%> <br>
    Weight - <%=f.text_field :weight%> <br>

    <div id='suggestion_image'>
      <%if @suggestion.image_path.present?%>
        <img src="<%=@suggestion.image_url%>" />
      <%end%>
    </div>

    Click below to add/change image<br>
    <a href='javasvript:void(0)' id='image_uploader'>
    </a> <br><br>

    <%=submit_tag "Create", :name => nil%>
  <%end%>

</div>

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Admin.Suggestions.New({
          el            : $('#container'),
          uploadConfig  : <%=@upload_config.to_json%>});
  </script>
<%end%>
