<div class="box-title" style="margin-top: -6px;">
	About Mine
</div>

<div class="info-box well-box border-box rounded-5 alias-smooth relative">
	<p class="txt m border-box" style="margin-bottom: 0;">
		Mine is a quick and easy service for telling people when you buy something. 
		Post your item's official picture, store and link; control who you share with; and build your online catalog of purchases.
	</p>
</div>


<div class="box-title">
	The team
</div>

<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative">

	 <%=link_to image_tag(@pierre.square_image_url,
	 			:alt => @pierre.full_name,
        :class => "user-photo xxl rounded-3 absolute"),
        user_path(@pierre.handle,:src => "about")%>
	
	<div id="follow_box_pierre">
	</div>
	
	<h2 style="margin-bottom: 5px;">
		<a class="dark" href="<%=user_path(@pierre.handle,:src => "about")%>">
			<%=@pierre.first_name.capitalize%> <%=@pierre.last_name.capitalize%>
		</a>
	</h2>
	
	<p class="txt m border-box">
		Pierre spends his days <del>making hard-nosed business decisions</del> doing front-end design and development at Mine.
		He graduated in Information Design from the University of the Arts, London, and loves all things layout- and type-related.
		He worked in ad planning, political polling and media at WPP before moving to Stanford for his MBA. 
		Post-Stanford, he was Twitter's first PMM, working on Promoted Tweets, Accounts and Trends.
	</p>    

  <div class="user-box">
    <%=render :partial => "users/modal",
        :locals => {:user => @pierre} unless logged_in?%>
  </div>
</div> <!--/about-box -->



<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative" style="margin-top: 0;">
  
	 <%=link_to image_tag(@sid.square_image_url,
	 			:alt => @sid.full_name,
        :class => "user-photo xxl rounded-3 absolute"),
        user_path(@sid.handle,:src => "about")%>

	<div id="follow_box_sid">
	</div>
	
	<h2 style="margin-bottom: 5px;">
		<a class="dark" href="<%=user_path(@sid.handle,:src => "about")%>">
			<%=@sid.first_name.capitalize%> <%=@sid.last_name.capitalize%>
		</a>
	</h2>
	
	<p class="txt m border-box">
		Sid graduated from Stanford in 2010 with an MS in Computer Science, specializing in artificial intelligence. 
		Prior to Mine, he was a LightSpeed Fellow, and worked on a broad range of startup projects. 
		He has a long-standing passion for machine learning, computer vision, scaling and CS architecture 
		and has published a number of papers on these topics. He holds a patent in video content augmentation. 
		When he's not working on Mine, he's either watching cricket or MasterChef, or pushing himself on a grueling run.
	</p>
	   
  <div class="user-box">
    <%=render :partial => "users/modal",
        :locals => {:user => @sid} unless logged_in?%>
  </div>
</div> <!--/about-box -->



<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative" style="margin-top: 0;">
  
	 <%=link_to image_tag(@deepak.square_image_url,
	 			:alt => @deepak.full_name,
        :class => "user-photo xxl rounded-3 absolute"),
        user_path(@deepak.handle,:src => "about")%>

	<div id="follow_box_deepak">
	</div>
	
	<h2 style="margin-bottom: 5px;">
		<a class="dark" href="<%=user_path(@deepak.handle,:src => "about")%>">
			<%=@deepak.first_name.capitalize%> <%=@deepak.last_name.capitalize%>
		</a>
	</h2>
	
	<p class="txt m border-box">
		Deepak was born and raised in Delhi. 
		During his MS in Computer Science at Stanford, he specialized in robotics at the Artifical Intelligence Lab.
		After graduating, he joined the LightSpeed Fellowship program, exploring startup ideas before teaming up with Pierre and Sid to work on Mine.
		With a keen eye for all things technical as well as aesthetic, he works across the product on both web and mobile. He lives in San Francisco.
	</p>    
       
  <div class="user-box">
    <%=render :partial => "users/modal",
        :locals => {:user => @deepak} unless logged_in?%>
  </div>
</div> <!--/about-box -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Partials.Followings.Following({
          el:$('#follow_box_sid'),
          userID: <%=@sid.id%>});

    new Denwen.Partials.Followings.Following({
          el:$('#follow_box_pierre'),
          userID: <%=@pierre.id%>});

    new Denwen.Partials.Followings.Following({
          el:$('#follow_box_deepak'),
          userID: <%=@deepak.id%>});

    Denwen.Track.action("About View",{"Source" : "<%=@source%>"});
  </script>
<%end unless @web_view_mode%>
