<div class="container well" id="container">

  <h1><%=@store.name%></h1>

  <br>

  <%form_tag admin_products_path, :method => 'get' do%>
    <%=hidden_field_tag :filter, "store"%>
    <%=hidden_field_tag :store_id, @store.id%>
    <%=text_field_tag :q, @query%>
  <%end%>

  <br>
  
  <h3>Page <%=@page+1%> of <%=@total%> Products</h3>

  <br>
  
  <%=link_to "<h3>Next Page</h3>",
      admin_products_path(
        :filter => "store",
        :q => @query,
        :store_id => @store.id,
        :page => @page+1)%>

  <br>

  <table with="900" border="1">
      <tr>
        <td width="200">
          <b>Title</b>
        </td>
        <td width="150">
          <b>Image</b>
        </td>
        <td width="150">
          <b>Description</b>
        </td>
        <td width="150">
          <b>Link</b>
        </td>
      </tr>
    <%@products.each do |product|%>
      <tr>
        <td><%=product.title%></td>
        <td><%=link_to image_tag(product.thumbnail_url,"max-height" => 180),
                product.image_url,
                :target => "_blank"%></td>
        <td><%=product.description%></td>
        <td><%=link_to "Link",product.source_url,:target => "_blank"%></td>
      </tr>
    <%end%>
  </table>

</div>

<%content_for :javascript do%>
  <script type="text/javascript">
    $('#q').focus();
  </script>
<%end%>


