	<div id='header'>
	
		<div class='navbar wide'>
	
	      <%=link_to_if !is_onboarding?,
	                    image_tag('oncloset_logo_30_white.png', :alt => CONFIG[:name], :class => "logo"),
	                     logged_in? ? 
	                        user_path(self.current_user.handle,:src => "top") : 
	                        home_path(
	                          @origin && @origin != "direct" ? @origin : "",
	                          :src => "top") %>
	    
	    <ul class='nav'>
	    
	    	<%if !logged_in?%>
	      
			<li>
					<%=link_to "Log In",
	                	fb_auth_path(
                      :src    => @origin ? @origin : "login",
                      :target => request.request_uri),
	                	:class => "nav_menu",
	                	:id => "action_link" %>
			</li>
	    
	      <%else%>
	
	   	<li>
	   	
	      <%if !is_onboarding?%>
<!-- 	        <div class='buttons'> -->
	        
	        
	        	<a href="<%=new_invite_path(:src => 'bar')%>" class="nav_menu">Invite friends</a>
	        
<!-- 	        </div> -->
	      <%end%>
	   	
	   	</li>
	   
	   
			<li>
	      <%if !is_onboarding? || is_onboarding_create?%>
	      
	        <a class='nav_menu nav_add_item_button'></a>
	        
	        <ul class='nav_add_list'>
	          
	          <%@categories.each do |category|%>
	            <%=link_to "<li>#{category.id == 8 ? 
	                                'Anything!' : 
	                                category.name}</li>",
	                    (is_onboarding_create? ?
	                      welcome_create_path(
	                        :category => category.handle) :
	                      new_product_path(
	                        :category => category.handle,
	                        :src      => 'dropdown')),
	                    :class => ''%>
	          <%end%>
	        </ul>
	      <%end%>
			</li>
			
	
			<li>
	
				<a href="<%=is_onboarding? ? 
	                  "javascript:void(0)" : 
	                  user_path(self.current_user.handle,:src => 'bar')%>" 
	          class='nav_menu nav_user_button'>
					 <%=image_tag self.current_user.photo_url, 
	                    :class => "nav_user_button_user_photo",
	                    :alt => ""
	                    %>
					<%=user_full_name(self.current_user)%>
				</a
				
				
			</li>
			<li>
		    <%if !is_onboarding?%>	
	        <a class='nav_menu nav_login_button'>
	        	<img src='/images/v.png'>
	        </a>
	        
	        <ul class='nav_login_list'>
	          <%=link_to "<li>Log Out</li>", 
	              logout_path,
	              :class => "login_list_item"%>
	        </ul>
	      <%end%> 
			</li>
	         
	         <%end%>
	         
	         
	    </ul> <!-- nav -->
	    
	  </div> <!-- navbar -->
	    
	</div> <!-- header -->
