<div class="header unit-box border-box">
    
    <%=link_to_if !is_onboarding?,
        image_tag("logos/mine-h-white-48-2x.png", 
          :class => "logo absolute"),
        root_path(:src => "bar")%>
      
    <%if logged_in?%>
      <div class="btn-group unselectable well-box border-box rounded-5" 
        style="padding: 6px; float: right;">

        <%if !is_onboarding?%>
          <a href="<%=user_path(self.current_user.handle,:src => "bar")%>"
            class="btn-user relative pointer txt m dark" 
            style="float: left; padding: 0; border: 0; margin-right: 5px;">
            <%=image_tag self.current_user.square_image_url,
                  :class => "user-photo m rounded-3 shaded",
                  :style => "margin-right: 2px;"%>
            <%=h self.current_user.full_name%>      	
          </a>
          
          <!--a class="border-box pointer opacity-80-100" 
            style="width: 28px; height: 28px; padding: 6px 7px 8px; float: left;">
            <%#image_tag "icons/icon-search-14-2x-white.png", 
                :style => "height: 14px;"%>
          </a-->
          
          <%=link_to image_tag("icons/icon-home-14-2x-white.png",
                      :style => "height: 14px;"),
                  root_path(:src => "bar-icon"),
                  :class => "border-box opacity-80-100", 
                  :style => "height: 28px; padding: 6px 7px 8px; float: left;"%>
          
          
          <a class="dropdown-toggle border-box pointer" 
            style="width: 28px; height: 28px; padding: 11px 8px; float: right;" 
            data-toggle="dropdown">
            <b class="caret opaque"></b>  
          </a>
      

          <ul class="dropdown-menu pull-right rounded-3">
            <li class="txt s">
              <%=link_to "Your purchases",
                  user_path(self.current_user.handle,:src => "bar")%>
            </li>
            <li class="txt s">
              <%=link_to "Invite friends",new_invite_path(:src => "bar")%>
            </li>
            <li class="txt s">
              <%=link_to "Settings",settings_path(:src => "bar")%>
            </li>
            <li class="txt s">
              <%=link_to "Log Out",logout_path%>
            </li>
          </ul>

        <%else%>
          <div class="btn-user relative txt m dark" 
            style="float: left; padding: 0; border: 0;">
            <%=image_tag self.current_user.square_image_url,
                  :class => "user-photo m rounded-3 shaded",
                  :style => ""%>  	
          </div>
        <%end%>
    
      </div>  <!--/btn-group -->
    <%else%>
      <a href="<%=fb_auth_path(:src => @origin)%>" 
          onclick="this.className += ' load';"
          class="btn btn-large btn-facebook relative shaded"
          style="float: right; width: 122px;">
        <span class='hide-when-loading'>
          <%=image_tag "social/f-box.png",
              :class => "f-box"%>
          Join now
        </span>
        <i class='icon-loading icon-white'></i>
      </a> 	
    <%end%>
    
    <!--div class="well-box border-box rounded-5" 
          style="padding: 6px; margin-right: 6px; float: right;">
      <input type="text" style="height: 28px; width: 160px;"/>
    </div-->
    
</div> <!-- /header -->
    

<!--div class="caret-box border-box absolute rounded-3-bottom">
	<b class="caret opaque"></b>
</div-->
