<div class="header">
	<div class="navigation">
		
    <%=link_to image_tag("mine_78_2x.png", :class => "logo"),
        root_path(:src => "bar")%>
		

    <%if logged_in?%>

      <div class="btn-group" style="float: right; margin-top: 15px;">

        <a href="<%=user_path(self.current_user.handle,:src => "bar")%>"
            class="btn btn-large btn-white btn-user relative" 
            style="float: left;">
            <%=image_tag self.current_user.square_image_url,
                :class => "self-photo absolute"%>
            <%=h self.current_user.full_name%>
        </a>

        <a class="btn btn-large btn-white dropdown-toggle" 
          style="float: right;" 
          data-toggle="dropdown">
          <i class="icon-chevron-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li><%=link_to "Settings",settings_path(:src => "bar")%></li>
          <li><%=link_to "Log Out",logout_path%></li>
        </ul>

      </div> <!-- /btn-group -->

    <%else%>
      <%=link_to "<i class='icon-facebook icon-white'></i> "\
                  "Log in with Facebook "\
                  "<i class='icon-chevron-right icon-white'></i>",
          fb_auth_path(:src => @origin), 
          :class => "btn btn-large btn-facebook action"%>
    <%end%>
      
	</div> <!-- /navigation -->
</div> <!-- /header -->
