	<div id='header'>
	
    <%=link_to_if !is_onboarding?,
      				CONFIG[:name],
               logged_in? ? 
                  user_path(self.current_user.handle,:src => "top") : 
                  home_path(
                    @origin && @origin != "direct" ? @origin : "",
                    :src => "top"),
               			:class => "logo" %>
	
		<div class='navbar'>
	    
	    <ul class='nav'>
	    
	    	<%if !logged_in?%>
	      
			<li>
					<%=link_to "Log In",
	                	fb_auth_path(
                      :src    => @origin ? @origin : "login",
                      :target => request.request_uri),
	                	:class => "nav_menu log_in",
	                	:id => "action_link" %>
			</li>
	    
	      <%else%>
	
	   	<li>
	   	
	      <%if !is_onboarding?%>

	        	<a href="<%=new_invite_path(:src => 'bar')%>" class="nav_menu">Invite friends</a>
	      
	      <%end%>
	   	
	   	</li>
	   
			<li>
	      <%if !is_onboarding? || is_onboarding_create?%>
	      
          <%=link_to 'Add item +', 
              new_product_path(:src => 'bar'),
              :class => 'nav_menu add_item'%>
	        
	        <!--<ul class='nav_add_list'>
	          
	          <#@categories.each do |category|%>
	            <#=link_to "<li>#{category.id == 8 ? 
	                                'Anything!' : 
	                                category.name}</li>",
	                    (is_onboarding_create? ?
	                      welcome_create_path(
	                        :category => category.handle) :
	                      new_product_path(
	                        :category => category.handle,
	                        :src      => 'dropdown')),
	                    :class => ''%>
	          <#end%>
	        </ul>-->
	       
	      <%end%>
			</li>
			
	   	<li>
        <%=link_to 'New set',
            new_collection_path(:src => 'bar'),
            :class => "nav_menu new set" if self.current_user.products_count > 
                                              CONFIG[:products_threshold]%>
	   	</li>
	
			<li>
	
				<a href="<%=is_onboarding? ? 
	                  "javascript:void(0)" : 
	                  user_path(self.current_user.handle,:src => 'bar')%>" 
	          class='nav_menu nav_user_button'>
					 <%=image_tag self.current_user.photo_url, 
	                    :class => "nav_user_button_user_photo",
	                    :alt => ""
	                    %>
					<%=user_full_name(self.current_user)%>
				</a
				
				
			</li>
			<li>
		    <%if !is_onboarding?%>	
	              
	        <a class='nav_menu nav_login_button'>
	        	▼
	        </a>
	        
	        <ul class='nav_login_list'>
	           <li>Settings</li>
	           <%=link_to "<li>Log out</li>", 
	              logout_path,
	              :class => "login_list_item"%>
	        </ul>

	      <%end%> 
			</li>
	         
	         <%end%>
	         
	         
	    </ul> <!-- nav -->
	    
	  </div> <!-- navbar -->
	    
	</div> <!-- header -->
	
  <div class="omnibox">
		Welcome to omnibox,<br />
		a space for us to talk to you, the user <3.
	</div>
