<%if logged_in? && !is_onboarding?%>

	<div class="header fixed border-box">
	    
	    <%=link_to image_tag("mine-h-white.png", :class => "logo absolute"),
	        root_path(:src => "bar")%>
	      
     	<div class="btn-group" style="float: right;">

		    <a class="btn-user dropdown-toggle relative opacity-80-100 pointer" 
		      style="padding: 0; border: 0;" 
		      data-toggle="dropdown">
		      <div class="caret-box border-box absolute rounded-3-bottom">
		      	<b class="caret opaque"></b>
		      </div>
		      <%=image_tag self.current_user.square_image_url,
                :class => "user-photo xl rounded-3 shaded"%>		      	
		    </a>
		
		    <ul class="dropdown-menu pull-right rounded-3">
		    	<li class="txt s"><%=link_to "Your items",root_path%></li>
		      <li class="txt s"><%=link_to "Settings",settings_path(:src => "bar")%></li>
		      <li class="txt s"><%=link_to "Log Out",logout_path%></li>
		    </ul>
    
     	</div>  <!--/btn-group -->
	    
	</div> <!-- /header -->
    
<%end%>