  	<!-- only customization is rwd-show and negative margin -->
		<div class="rwd-show header unit-box border-box" style="margin-bottom: -24px;">
		    
		    <div class="logo-box absolute" style="height: 62px; line-height: 62px;">
          <%=link_to image_tag("logos/mine-h-white-58-brighter-2x.png", 
                :class => "logo"),
              root_path(:src => "bar")%>
		    </div>

        <div class="well-box border-box rounded-5" style="float: right; padding: 7px; margin-top: -3px;">
          <a href="<%=fb_auth_path(:src => @origin)%>" 
              onclick="this.className += ' load';"
              class="btn btn-facebook rounded-3-right relative shaded"
              style="float: right; width: 172px; border-left: 1px solid rgba(0,0,0,0.1);">
            <span class='hide-when-loading'>
              <%=image_tag "social/f-box.png",
                  :class => "f-box"%>
              Sign in<span class="rwd-hide"> with Facebook</span>
            </span>
            <i class='icon-loading icon-white'></i>
          </a> 	
          <a href="<%=tw_auth_path(:src => @origin)%>" 
              onclick="this.className += ' load';"
              class="btn btn-twitter rounded-3-left relative shaded"
              style="float: right; width: 160px;">
            <span class='hide-when-loading'>
              <%=image_tag "social/t-box.png",
                  :class => "t-box"%>
              Sign in<span class="rwd-hide"> with Twitter</span>
            </span>
            <i class='icon-loading icon-white'></i>
          </a> 	
        </div> <!--/well-box-->
		      
		</div>
  

