
<div id="header">
  <div id="navbar">

    <div id="logo" alt="Felvy">
      <%=link_to image_tag('felvy_logo_white.png', :alt => "Felvy"),
                 logged_in? ? 
                    user_path(self.current_user) : 
                    home_path(
                      @origin && @origin != "direct" ? @origin : "",
                      :src => "top")
                 %>
    </div> <!-- logo -->


    <ul class="nav">
    
    	<%if !logged_in?%>
      
		<li>
				<%=link_to "Log In",
                	fb_auth_path(:source => "login"),
                	:class => "nav_menu",
                	:id => "action_link" %>
		</li>
    
      <%else%>

   
		<li>
			
			<a class="nav_menu nav_add_item_button">Add item +</a>
			
			<ul class="nav_add_list">
				
				<%=link_to "<li>Shoes</li>",
	              new_product_path(:category => "shoes"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Accessories</li>",
	              new_product_path(:category => "accessories"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Clothing</li>",
	              new_product_path(:category => "clothing"),
	              	:class => "nav_choice"%>
	              
	            <%=link_to "<li>Home Decor</li>",
	              new_product_path(:category => "decor"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Cosmetics</li>",
	              new_product_path(:category => "cosmetics"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Electronics</li>",
	              new_product_path(:category => "electronics"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Jewelry</li>",
	              new_product_path(:category => "jewelry"),
	              	:class => "nav_choice"%>
	              	
	            <%=link_to "<li>Anything!</li>",
	              new_product_path(:category => "anything"),
	              	:class => "nav_choice"%>
				
			</ul>
			
		</li>
		

		<li>

			<a class="nav_menu nav_login_button">
				 <%=image_tag self.current_user.photo_url, 
                    :class => "nav_login_button_user_photo",
                    :alt => ""
                    %>
				<%=user_full_name(self.current_user)%>
				<div class="logout_v"></div>
			</a>
			
			<ul class="nav_login_list">
			
				<%=link_to "<li>Your Closet</li>", 
                	user_path(self.current_user),
                	:class => "nav_choice"%>
             	<%=link_to "<li>Log Out</li>", 
                	logout_path,
                	:class => "nav_choice"%>
                	
			</ul>
			
		</li>
         
         <%end%>
         
         
    </ul> <!-- nav -->
    

  </div> <!-- navbar -->
</div> <!-- header -->
