
<div id="header">
  <div id="navbar">

    <div id="logo" alt="Felvy">
      <%=link_to image_tag('felvy_logo_white.png', :alt => "Felvy"),
                 logged_in? ? 
                    user_path(self.current_user,:src => "top") : 
                    home_path(
                      @origin && @origin != "direct" ? @origin : "",
                      :src => "top")
                 %>
    </div> <!-- logo -->


    <ul class="nav">
    
    	<%if !logged_in?%>
      
		<li>
				<%=link_to "Log In",
                	fb_auth_path(:source => @origin ? @origin : "login"),
                	:class => "nav_menu",
                	:id => "action_link" %>
		</li>
    
      <%else%>

   
		<li>
			<a class="nav_menu nav_add_item_button">Add item +</a>
			
			<ul class="nav_add_list">
				
        <%@categories.each do |category|%>
          <%=link_to "<li>#{category.id == 8 ? 
                              'Anything!' : 
                              category.name}</li>",
                  new_product_path(
                    :category => category.handle,
                    :src => 'dropdown'),
                  :class => 'nav_choice'%>
        <%end%>
			</ul>
		</li>
		

		<li>

			<a class="nav_menu nav_login_button">
				 <%=image_tag self.current_user.photo_url, 
                    :class => "nav_login_button_user_photo",
                    :alt => ""
                    %>
				<%=user_full_name(self.current_user)%>
				<div class="logout_v"></div>
			</a>
			
			<ul class="nav_login_list">
			
				<%=link_to "<li>Your Closet</li>", 
                	user_path(self.current_user,:src => "dropdown"),
                	:class => "nav_choice"%>
             	<%=link_to "<li>Log Out</li>", 
                	logout_path,
                	:class => "nav_choice"%>
                	
			</ul>
			
		</li>
         
         <%end%>
         
         
    </ul> <!-- nav -->
    

  </div> <!-- navbar -->
</div> <!-- header -->
