<div id='header' class='slim_shadow_dark'>

	<div id='navbar'>

    <div id='logo' alt='<%=CONFIG[:name]%>'>
      <%=link_to_if !is_onboarding?,
                    image_tag('oncloset_logo_white.png', :alt => CONFIG[:name]),
                     logged_in? ? 
                        user_path(self.current_user.handle,:src => "top") : 
                        home_path(
                          @origin && @origin != "direct" ? @origin : "",
                          :src => "top") %>
    </div> <!-- logo -->
    
    <%if logged_in?%>
    	<div class='buttons'>
		    <div class='button'>
		    	<%=link_to "Invite friends",new_invite_path(:src => 'bar')%>
		    </div>
		  </div>
    <%end%>
    
    <ul class='nav'>
    
    	<%if !logged_in?%>
      
		<li>
				<%=link_to "Log In",
                	fb_auth_path(:source => @origin ? @origin : "login"),
                	:class => "nav_menu",
                	:id => "action_link" %>
		</li>
    
      <%else%>

   
		<li>
      <%if !is_onboarding? || is_onboarding_create?%>
        <a class='nav_menu nav_add_item_button'>Add item +</a>
        
        <ul class='nav_add_list slim_shadow_light'>
          
          <%@categories.each do |category|%>
            <%=link_to "<li>#{category.id == 8 ? 
                                'Anything!' : 
                                category.name}</li>",
                    new_product_path(
                      :category => category.handle,
                      :src => is_onboarding_create? ? 'login' : 'dropdown'),
                    :class => ''%>
          <%end%>
        </ul>
      <%end%>
		</li>
		

		<li>

			<a href="<%=is_onboarding? ? 
                  "javascript:void(0)" : 
                  user_path(self.current_user.handle,:src => 'bar')%>" 
          class='nav_menu nav_user_button'>
				 <%=image_tag self.current_user.photo_url, 
                    :class => "nav_user_button_user_photo",
                    :alt => ""
                    %>
				<%=user_full_name(self.current_user)%>
			</a>
			
			
		</li>
		<li>
	    <%if !is_onboarding?%>	
        <a class='nav_menu nav_login_button'></a>
        
        <ul class='nav_login_list slim_shadow_light'>
          <%=link_to "<li>Log Out</li>", 
              logout_path,
              :class => "login_list_item"%>
        </ul>
      <%end%> 
		</li>
         
         <%end%>
         
         
    </ul> <!-- nav -->
    
  </div> <!-- navbar -->
    
</div> <!-- header -->
