
<div class="container well" id="container">
  <h1><%=user_full_name(@user)%><h1>
  <h3><%=@user.byline%></h3>
  <h3><%=link_to 'Link to Closet',user_path(@user.handle)%><h3>
  <h3><%=link_to 'Link to FB',"https://www.facebook.com/profile.php?id=#{@user.fb_user_id}"%><h3>
  <h3><%=@user.products_count%> Products</h3>
  <h3><%=link_to "Think before you click",
            {:controller => 'admin/users',:action => 'destroy',:id => @user.id},
            :method => :delete,
            :confirm  => "There is no undo on this, sure?"%></h3>
  <br><br>
  <table>
    <tr>
        <td width="400"><i>QUERY</i></td>
        <td width="400"><i>PRODUCT</i></td>
    </tr>
    <tr height="20"></tr>
    <%@set.each do |c| %>
      <tr>
        <%if c.class == Product%>
          <td></td>
          <td><u><%= link_to h(c.title), product_path(@user.handle,c.handle)%></u></td>
        <%else%>
          <td><%=c.query%></td>
        <%end%>
        </td>
      </tr>
    <%end%>
  </table>
</div>
