
<div class="container well" id="container">
  <h1><%=user_full_name(@user)%></h1>

  <%=image_tag @user.large_image_url%>

  <br><br>

  <b>Byline: </b><%=@user.byline%> <br>
  <b>Age: </b><%=@user.age%> <br>
  <b>Source: </b><%=@user.source%> <br>
  <b>Email: </b><%=@user.email%> <br>
  <b>Created: </b><%=time_ago_in_words @user.created_at%> <br>
  <b>Visited: </b><%=time_ago_in_words @user.visited_at if @user.visited_at%> <br>
  
  <br>

  <%=link_to 'Link to Profile',user_path(@user.handle)%> <br>
  <%if @user.fb_user_id%>
    <%=link_to 'Link to FB',@user.fb_profile_url%> <br>
  <%end%>
  <%if @user.tw_user_id%>
    <%=link_to 'Link to TW',@user.tw_profile_url%> <br>
  <%end%>
  <%=link_to "Think before you click",
            {:controller => 'admin/users',:action => 'destroy',:id => @user.id},
            :method => :delete,
            :confirm  => "There is no undo on this, sure?"%> <br>
  <br>

  <b><%=@user.purchases_count%> Approved purchases </b> <br>
  <b><%=@user.purchases.size%> Total purchases </b> <br>
  <b><%=@user.inverse_followings_count%> Friends </b> <br>

  <br>
  <h3><%=link_to "Edit",edit_admin_user_path(@user.handle)%></h3>

  <br>
  <h3><b>Settings</b></h3>
  <b>Email influencer</b>: <%=@user.setting.email_influencer%> <br>
  <b>Email follower</b>: <%=@user.setting.email_follower%> <br>
  <b>Email digest</b>: <%=@user.setting.email_digest%> <br>
  <b>Email update</b>: <%=@user.setting.email_update%> <br>

  <br>
  <br><br>
  <table border="0" width="100%">
    <tr>
        <td width="10%"><i>TIME</i></td>
        <td width="80%"><i>PURCHASE or QUERY</i></td>
    </tr>
    <tr height="20"></tr>
    <%@set.each do |c| %>
      <tr>
        <td><%=time_ago_in_words c.created_at%></td>
        <%if c.class == Purchase%>
          <td><u><%= link_to h(c.title), purchase_path(@user.handle,c.handle)%></u></td>
        <%else%>
          <td style="overflow:hidden;white-space:nowrap"><%=c.query%></td>
        <%end%>
        </td>
      </tr>
    <%end%>
  </table>
</div>
