<div id="background">
	<img src="/images/home_batch_2.jpg" class="stretch unselectable" />
</div>

<div id="pic_bg" class="fixed_bg">

	<div id='header_onboarding'>
	
		<div class='navbar'>
	
			 <%=image_tag('oncloset_logo_30_white.png', 
			 		:alt => CONFIG[:name],
			 		:class => "logo")%>
			 		
			<ol id='indicators'>
	        <li class='first on'></li>
	        <li class='second'></li>
	        <li class='third'></li>
	    </ol> 		
	
		</div>
	
	</div>

	<div id="container">

			<div class="heading">
				Click a few stores you shop at <br />
				so we can suggest other shoppers to follow:
			</div>
	      
	    <table> 
	    <div id="stores">
	    </div>
	    
	    	<%form_tag '/welcome',
              :id   => 'new_shopping' do |f|%>

		      <%=hidden_field_tag :id, WelcomeFilter::Stores%>
		      <%=hidden_field_tag :store_ids%>
		      <%=submit_tag '',
		                    :class  => 'follow_people',
		                    :name   => nil%>
		    <%end%>

	</div> <!-- container -->

</div> <!-- pic_bg -->


<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Welcome.Shoppings({
            currentUserJSON : <%=self.current_user.to_json%>,
                     source : '<%=@source%>',
                         el : $('#container')});

  </script>
<%end%>
