<span id="product_endorsement_box">
    
  <%if is_current_user(product.user)%>

    <!-- endorsement editing -->
    
	    <%=text_area_tag "product_endorsement",
				          product.endorsement.to_s,
				          :class  => '',
				          :rows   => '2',
				          :style 	=> "display: none; width: 543px; "\
                              "margin-top: 6px; clear: both;"%>    
				          
			<%=link_to 	'Save', 
									'javascript:void(0)',
									:id			=> 'product_update',
									:class  => 'btn btn-primary',
									:style	=> 'display:none'%>  		
	    
	    <%=link_to 	'Cancel', 
	    						'javascript:void(0)',
	    						:id			=> 'product_cancel',
	    						:class  => 'btn',
	    						:style	=> 'display:none'%>
	
	    <!-- endorsement display-->
	    
	    	<span id="product_endorsement_text">
		      <%=h product.endorsement.to_s%>
		    </span>   
	
					<%=link_to 'Edit', 'javascript:void(0)',
											:id			=> 'product_edit',
		          				:style 	=> product.endorsement.present? ?
		                  		    		'' : 
			                      			'display:none'%>            		
	
	      <!-- endorsement empty-->
	      <%=link_to "Add your review",
	                  'javascript:void(0)',
	                  :id     => 'product_edit_initiate',
	                  :style  => product.endorsement.present? ?
	                              'display:none' :
	                              ''%>
		
  <%elsif product.endorsement.present?%>
	    	<%=h product.endorsement.to_s%>
  <%end%>
  
</span> <!-- /#product_endorsement_box -->
  



  
