
  <%=f.hidden_field :category_id, :value => category.id%>
  <%=f.hidden_field :price%>
  <%=f.hidden_field :is_gift%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  <%=f.hidden_field :is_hosted%>
  
	<div id="query_box" style="<%=show_query_box ? '' : 'display:none'%>">
	
		<%if !onboarding%>
			<label id="query_text">
	      Type your item's name, or item page URL
	    </label>
	  <%end%>

    <%=f.text_field :query,
        :class    => "span4"%>
    	<a id="product_search" 
    					class="btn btn-primary" 
    					value="" 
    					title="Search" 
    					type="button" 
    					alt="Search">
    		<i class="icon-camera icon-white"></i>
    		Find photo
    	</a>
		
		<%if !onboarding%>
			<p class="help-block">
	      e.g. 'Zara high-heeled boot' or 'http://zara.com/high…'
	    </p>
	  <%end%>
    
	</div> <!-- /query_box -->
	
	<div class="photo_box" id="product_selection">
		<!-- image inserted is #product_selection_photo.photo -->
	</div> <!-- /photo_box -->

  <%if onboarding%>
    <div id='onboarding'>
      <%=image_tag 'create_suggestion.png', :class => "create_suggestion unselectable"%>
    </div>
  <%end%>

  <div id="extra_steps" style="display:none">
  
		<div class="control-group">
      <label class="control-label" style="width: 120px;">
				Item name
      </label>
      <div class="controls" style="margin-left: 130px;">
	      <%=f.text_field :title,
	                  :style => "width: 200px;"%>
      </div>
    </div> <!-- /title -->
	
		<div class="control-group">
	    <label class="control-label" style="width: 120px;">
	      Store where bought
	    </label>
			<div class="controls" style="margin-left: 130px;">
		    <%=f.text_field :store_name,
		                :style => "width: 200px;"%>
		    <span class="help-inline faded-80">          
			    <%=f.label :is_store_unknown, 
							"#{f.check_box :is_store_unknown} Not sure",
		          :class => "checkbox",
		          :style => "padding-top: 5px;"%>
	      </span> 
		  </div>
	  </div> <!-- /store -->  
	  
		<div class="strike-thru" id="endorsement_initiate">
		  <%=link_to  "<i class='icon-pencil faded-30'></i> Add an optional review?", 
            "javascript:void(0)"%>
		</div>
		
		<div class="control-group" id="endorsement_container" style="display:none">
      <label class="control-label" style="width: 120px;">
        Review
      </label>
			<div class="controls" style="margin-left: 130px;">
	      <%=f.text_area :endorsement,
	            :value  => "",
	            :rows 	=> 6,
	            :style 	=> "width: 200px;"%>
			</div>
    </div> <!-- /endorsement -->

		<button type="submit" class="btn btn-large btn-primary" style="width: 420px;">
			Add to closet
		</button> <!-- submit -->
    
	</div>
