
  <%=f.hidden_field :category_id, :value => category.id%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  <%=f.hidden_field :is_hosted%>
  

  <!-- query -->
	<div class='step' 
        id='query_box' 
        style='<%=show_query_box ? '' : 'display:none'%>'>
	
		<%if !onboarding%>
			<p id='query_text' class='step_title'>
	      <%=placeholders[:query]%>
	    </p>
	  <%end%>

    <%=f.text_field :query,
        :class    => "creation_input creation_search"%><input id='product_search' class='find_photo' value='' title='Search' type='button' alt='Search'>
		
		<%if !onboarding%>
			<p class='step_example'>
	      <%=placeholders[:query_eg]%>
	    </p>
	  <%end%>
	  
    <%=blocker%>
    
	</div> 
  <!-- query step -->

	<div class='create_photo_box'>
		<div class='change_photo_overlay' id='product_change_photo'>
		</div>
		<div id='product_selection' class='step rounded_3'>
		</div>
	</div>

  <%if onboarding%>
    <div id='onboarding'>
      <%=image_tag 'create_suggestion.png', :class => "create_suggestion unselectable"%>
    </div>
  <%end%>

  <div id='extra_steps' style='display:<%=onboarding ? 'none' : ''%>'>

    <!-- title -->
    <div class='step'>
      <p id='title_text' class='step_title'>
        <%=placeholders[:title]%>
      </p>

      <%=f.text_field :title,
                  :class    => "creation_input"%>
      <%=blocker%>
    </div> 

    <!-- title step -->


    <!-- store -->
    <div class='step' id='store_box'>
    
      <div id='is_store_unknown_box' class='creation_checkbox_right'>
        <%=f.check_box :is_store_unknown%>
        <%=f.label :is_store_unknown,"Not sure"%>
      </div>

      <p id='store_text' class='step_title'>
        Store where bought
      </p>

      <%=f.text_field :store_name,
                  :class    => "creation_input"%>
      
      <%=blocker%>
                        
    </div> 
    <!-- store step -->  


    <!-- price -->
    <div class="step" id='price_box'>

      <div id='is_gift_box' class='creation_checkbox_right gift'>
        <%=f.check_box :is_gift%>
        <%=f.label :is_gift,"Gift"%>
      </div>

      <p id='price_text' class='step_title'>
        Price
      </p>
      
      <div id='creation_dollar' class='creation_dollar'>
        $
      </div>

      <%=f.text_field :price,
                  :class    => "creation_input creation_price"%>
                  
      <div id='price_invalid_msg' class='price_invalid'>
      </div>
                 
      <%=blocker%>
    </div> 
    <!-- price step -->


    <%=link_to  'Add an optional review', 
                'javascript:void(0)',
                :id    => 'endorsement_initiate',
                :class => 'edit_555555_18 add_review'%>

    <!-- endorsement step-->
    <div id='endorsement_container' class="step" style='display:none'>
      <p class="step_title">
        Review
      </p>

      <%=f.text_area :endorsement,
            :value    => "",
            :class    => "creation_input creation_endorsement"%>

      <p class="step_example">
        <%=placeholders[:endorsement_eg]%>
      </p>
    </div> 
    <!-- endorsement step -->


    <%=submit_tag "",
                  :class  => submit_class,
                  :name   => nil%>
    
    <%=blocker%>

</div>
