
  <%=f.hidden_field :category_id, :value => category.id%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  <%=f.hidden_field :is_hosted%>
  

  <!-- query -->
	<div class="step">
		<p class="step_title">
      <%=placeholders[:query]%>
    </p>

    <%=f.text_field :query,
        :class    => "creation_input creation_search"%><input id="product_search" value="Go" title="Search" type="button" alt="Search">
		
		<p class="step_example">
      <%=placeholders[:query_eg]%>
    </p>
    <%=blocker%>
	</div> 
  <!-- query step -->
	

	<div id="product_selection" class="step rounded_3">
	</div>

  <%if onboarding%>
    <div id='onboarding'>
      <%=image_tag 'create_suggestion.png',:height => 130%>
    </div>
  <%end%>

  <div id='extra_steps' style="display:<%=onboarding ? 'none' : ''%>">

    <!-- title -->
    <div class="step">
      <p class="step_title">
        <%=placeholders[:title]%>
      </p>

      <%=f.text_field :title,
                  :class    => "creation_input"%>
      <%=blocker%>
    </div> 

    <!-- title step -->


    <!-- store -->
    <div class="step" id='store_box'>
    
      <div id='is_store_unknown_box' class='creation_checkbox_right'>
        <%=f.check_box :is_store_unknown%>
        <%=f.label :is_store_unknown,"Not sure"%>
      </div>

      <p id='store_text' class='step_title'>
        Store where bought
      </p>

      <%=f.text_field :store_name,
                  :class    => "creation_input"%>
      <%=blocker%>
    </div> 
    <!-- store step -->  


    <!-- price -->
    <div class="step" id='price_box'>

      <div id='is_gift_box' class="creation_checkbox_right">
        <%=f.check_box :is_gift%>
        <%=f.label :is_gift,"Gift"%>
      </div>

      <p id='price_text' class="step_title">
        Price
      </p>
      
      <div id='creation_dollar' class='creation_dollar'>
        $
      </div>

      <%=f.text_field :price,
                  :class    => "creation_input creation_price"%>
      <%=blocker%>
    </div> 
    <!-- price step -->


    <%=link_to  'Add an optional review', 
                'javascript:void(0)',
                :id    => 'endorsement_initiate',
                :class => 'edit_light_gray_inverse_14'
                %>

    <!-- endorsement step-->
    <div id='endorsement_container' class="step" style='display:none'>
      <p class="step_title">
        Review
      </p>

      <%=f.text_area :endorsement,
            :value    => "",
            :class    => "creation_input creation_endorsement"%>

      <p class="step_example">
        <%=placeholders[:endorsement_eg]%>
      </p>
    </div> 
    <!-- endorsement step -->


    <%=submit_tag "Add to your closet",
                  :class  => "add_to_closet_button button_red slim_shadow_dark",
                  :name   => nil%>
    
    <%=blocker%>

</div>
