  <fieldset>

  <%=f.hidden_field :suggestion_id, :value => suggestion ? suggestion.id : nil%>
  <%=f.hidden_field :source_product_id%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  
	<div id="query_box" style="<%=show_query_box ? '' : 'display:none'%>">

    <h4 style="margin-bottom: 8px;">
      What did you buy?
    </h4>
	
    <%=f.text_field :query,
        :placeholder => "Detailed item name or URL",
        :style => "width: 412px;"%>
    	<a id="product_search" 
    					class="btn" 
    					value="" 
    					title="Search" 
    					type="button" 
    					alt="Search">
    		<i class="icon-camera"></i>
    		Find item
    	</a>
	</div> <!-- /query_box -->

  <div id="extra_steps" 
      style="<%=show_extra_steps ? '' : 'display: none'%>">
	
    <div class="edit-box">
        <div class="btn change-photo" id="product_change_photo">
          <i class="icon-camera"></i> Change photo
        </div>
      <div class="photo-box" id="product_selection">
        <!-- image inserted is #product_selection_photo.photo -->
      </div> <!-- /photo_box -->
    </div>
  
		<div class="control-group" id="title_box">
      <label class="control-label" style="width: 145px;">
				Item name
      </label>
      <div class="controls" style="margin-left: 155px;">
	      <%=f.text_field :title,
            :size => 30,
            :style => "width: 200px;"%>
      </div>
    </div> <!-- /title -->
	
		<div class="control-group" id="store_box">
	    <label class="control-label" style="width: 145px;">
	      Store where bought
	    </label>
			<div class="controls" style="margin-left: 155px;">
		    <%=f.text_field :store_name,
            :autocomplete => :off,
            :style => "width: 200px;"%>
		    <span class="help-inline faded-80">          
			    <%=f.label :is_store_unknown, 
							"#{f.check_box :is_store_unknown} Not sure",
		          :class => "checkbox",
		          :style => "padding-top: 5px;"%>
	      </span> 
		  </div>
	  </div> <!-- /store -->  
	  
		<div class="strike-thru" id="endorsement_initiate">
		  <%=link_to  "<i class='icon-pencil faded-30'></i> "\
                  "Add an optional note?", 
            "javascript:void(0)"%>
		</div>
		
		<div class="control-group" 
      id="endorsement_container" 
      style="display:none">

      <label class="control-label" style="width: 145px;">
        Review
      </label>

			<div class="controls" style="margin-left: 155px;">
	      <%=f.text_area :endorsement,
	            :value  => "",
	            :rows 	=> 6,
	            :style 	=> "width: 200px;"%>
			</div>
    </div> <!-- /endorsement -->

		<button type="submit" 
      class="btn btn-mid <%=submit_class%>" 
      style="margin-left: 155px;">
			<%=submit_text%>
		</button> <!-- submit -->
		
		<a class="btn" style="width: 44px; <%=show_cancel_button ? '' : 'display:none'%>">
			Cancel
		</a> <!-- cancel -->
		
		<a href="#" class="delete-item" style="<%=show_delete_button ? '' : 'display:none'%>">
			<i class='icon-trash faded-30'></i> Delete item
		</a> <!-- cancel -->
    
	</div>

  </fieldset>
