
  <%=f.hidden_field :category_id, :value => category.id%>
  <%=f.hidden_field :price%>
  <%=f.hidden_field :is_gift%>
  <%=f.hidden_field :source_url%>
  <%=f.hidden_field :orig_image_url%>
  <%=f.hidden_field :orig_thumb_url%>
  <%=f.hidden_field :is_hosted%>
  
	<div id="query_box" style="<%=show_query_box ? '' : 'display:none'%>">
	
		<%if !onboarding%>
			<label id="query_text">
	      Type your item's name, or item page URL
	    </label>
	  <%end%>

    <%=f.text_field :query,
        :class    => "span4"%>
    	<a id="product_search" 
    					class="btn btn-primary" 
    					value="" 
    					title="Search" 
    					type="button" 
    					alt="Search">
    		<i class="icon-camera icon-white"></i>
    		Find photo
    	</a>
		
		<%if !onboarding%>
			<p class="help-block">
	      e.g. 'Zara high-heeled boot' or 'http://zara.com/high…'
	    </p>
	  <%end%>
    
	</div> <!-- /query_box -->
	
	<div class="photo_box" id="product_selection">
		<!-- image inserted is #product_selection_photo.photo -->
	</div> <!-- /photo_box -->

  <%if onboarding%>
    <div id='onboarding'>
      <%=image_tag 'create_suggestion.png', :class => "create_suggestion unselectable"%>
    </div>
  <%end%>


	
  <div id="extra_steps" style="display:none">
  
		<div class="control-group">
      <label class="control-label" style="width: 120px;">
				Item name
      </label>
      <div class="controls" style="margin-left: 130px;">
	      <%=f.text_field :title,
	                  :class => "span3"%>
      </div>
    </div> <!-- /title -->

	
		<div class="control-group">
	    <label class="control-label" style="width: 120px;">
	      Store where bought
	    </label>
			<div class="controls" style="margin-left: 130px;">
		    <%=f.text_field :store_name,
		                :class    => "span3"%>
		    <%=f.label :is_store_unknown, 
						"#{f.check_box :is_store_unknown} Not sure",
	          :class => "checkbox",
	          :style => "float: right; padding-top: 5px;"%>
		  </div>
	  </div> <!-- /store -->  

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">
				<i class="icon-ok icon-white"></i>
				Add to your OnCloset
			</button>
	  </div>
    
</div>
