<li>
	<a class="product" href="<%=product_path product.id,product.handle%>">
		<div class="product_left">
			<%=image_tag product.thumbnail_url, 
            :class => "product_left_image"%>
		</div> <!-- product_left -->

		<div class="product_right">
			<p class="product_title">
				<%=h truncate(product.title, 
				:length 	  => 80, 
				:omissions 	=> "…")%>
			</p>
			<p class="product_endorsement">
				<%=h truncate(product.endorsement, 
				:length 	  => 100, 
				:omissions 	=> "…")%>
			</p>

		      <div class="product_comment_count">
		        <%if product.comments_count != 0%>
		          <%=product.comments_count%>
		          <%=image_tag "comment_bubble.png", 
		              :class => "product_comment_bubble faded"%>
		        <%end%>
		      </div>
		      
		</div> <!-- product_right -->

	</a> <!-- product -->
</li>


