<li>
  <div class="product"> 
  
    <a class="product_link" href="<%=product_path product.id,
                                        product.handle,
                                        :src => "profile"%>">
        
      <div class="product_left">
      
        <%=image_tag product.thumbnail_url, 
                    :class => "product_left_image",
                    :alt => "",
                    :onclick => "if($.browser.msie && "\
                                "parseInt($.browser.version,10) == 7){"\
                                "window.location="\
                                "'#{product_path product.id,
                                      product.handle,
                                      :src => "profile"}'}"
              %>
                  
      </div> <!-- product_left -->
  
      <div class="product_right">
        <p class="product_title">
          <%=h truncate(product.title, 
          :length 	  => 80, 
          :omissions 	=> "…")%>
        </p>
 
        <p class="product_particulars">
        	<%=h product.store ? product.store.name : ""%><br />
        	<%=h display_currency(product.price) if product.price%>
        </p>
  
        <div class="product_comment_count">
          <%if product.comments_count != 0%>
            <%=product.comments_count%>
            <%=image_tag "comment_bubble.gif", 
                :class => "product_comment_bubble",
                :alt => ""
            %>
          <%end%>
        </div>
            
      </div> <!-- product_right -->
      
    </a> <!-- product_link -->

  </div> <!-- product -->
</li>



