
<div>

    <div id="left" class="photo">
      <%=link_to_if !product.is_hosted,
                    image_tag(
                      product.photo_url,
                      :id => "left_photo"),
                    product.website_url,
                    :target => "_blank" %>
    </div> <!-- left -->

    
    <div id="right">
      <div id="right_content">

          <div id="right_titlebox">
            <%=image_tag product.user.photo_url, 
                          :id => "user_photo"%>

            <div id="user_name">
              <%=user_share_text(product.user)%>
            </div>

            <div id="item_name">
              <%=h product.title%>
            </div>
          </div> <!--right_titlebox-->

          <div id="right_commentbox">
          	<div id="speechmarks_open"></div>
            	<div id="user_comment"><%=h product.endorsement%></div>
          	<div id="speechmarks_close"></div>
          </div> <!--right_commentbox-->
          
                    <div id="blocker">
          </div>
      </div> <!-- right_content -->
          
          
          <%if !logged_in?%>  
            <%=link_to "<img src='/images/f.png' class='f'> Login with Facebook &rsaquo;",
            			fb_auth_path,
            			:class  => "large blue awesome action",
                        :id => "action_link" %>
          <%elsif self.current_user.id == product.user.id%>
            <%=link_to "Done! Share another item &rsaquo;",
            			new_product_path,
            			:class  => "large blue awesome action",
                        :id => "action_link" %>
          <%else%>
            <%=link_to "Share your own item &rsaquo;",
            			new_product_path,
            			:class  => "large blue awesome action",
                        :id => "action_link" %>
          <%end%>

      
    </div> <!-- right -->

</div>
