<%product_presenter = presenter_for(product)%>

<li>
  <div class='product'> 
  
    <a class='product_link' href='<%=product_presenter.url('profile')%>'>
        
      <div class='product_left'>
        <%=product_presenter.preview_image%>
      </div> 
  
      <div class='product_right'>
        <p class='product_title'>
          <%=h product_presenter.preview_title%>
        </p>
 
        <p class='product_particulars'>
        	<%=h product_presenter.store_name%><br />
        	<%=product_presenter.price%>
        </p>
  
        <div class='product_comment_count'>
          <%=product_presenter.comment_bubble%>
        </div>
      </div>
      
    </a> <!-- product_link -->

  </div> <!-- product -->
</li>



