<%product_presenter = presenter_for(product)%>

<li>
  <div class='product'> 
        
      <div class='product_left'>
        <a href='<%=product_presenter.path('profile')%>'>
        	<%=product_presenter.preview_image%>
        </a>
      </div> <!-- product_left -->
  
      <div class='product_right'>
      
        <p class='product_title'>
          <a href='<%=product_presenter.path('profile')%>'>
          	<%=h product_presenter.preview_title%>
          </a>
        </p>
 
        <p class='product_particulars'>
          <%if product.store%>
            <a href='<%=product_presenter.path('profile')%>'>
              Bought for <%=product_presenter.price%><br />
              at <%=h product_presenter.store_name%>
            </a>
          <%end%>
        </p>
        
        <!--<a class='product_add_review' href=''>
        	Add a review ›
        </a>-->
  
        <a class='product_comment_count' href='<%=product_presenter.path('profile')%>'>
          <%=product_presenter.comment_bubble%>
        </a>
        
      </div> <!-- product_right -->

  </div> <!-- product -->
</li>



