<li>
  <%if active%>
    <div class="product">
    
     <a class="product_link" href="<%=new_product_path(:category => category)%>">
    
  <%else%>
    <div class="sample">
  <%end%>
  
	    <div class="product_left">
	        <%=image_tag image, 
	        :class => "product_left_image",
	        :alt => "",
	        :onclick => "if(#{active.to_s} && $.browser.msie && "\
	            "parseInt($.browser.version,10) == 7){"\
	            "window.location="\
	            "'#{new_product_path(:category => category)}'}"
	        %>
	    </div> <!-- product_left -->
	    
      	<div class="product_right">
	        <p class="product_title_sample">
	          <%=title%>
	        </p>
	        <p class="product_endorsement_sample">
	          <%=endorsement%>
	        </p>
	        <div class="product_comment_count faded">
	          <%=comments%>
	          <%=image_tag "comment_bubble.gif", 
	              :class => "product_comment_bubble faded",
	              :alt => ""
	              %>
	        </div>
      </div> <!-- product_right -->
      
      
    <%if active%>
    
    </a>
    
    </div>
    
    <%else%>
    
    </div>
    
    <%end%>
</li>
