<div id="pic_bg">

	<div id="container narrow">

		<!-- item -->
		
		  <%form_for @product,:url => "/products/#{@product.id}",
		        :html => {
		          :class  => 'new_product',
		          :id     => 'edit_product'} do |f|%>
		
		    <%=render :partial  => 'input', 
		              :locals   => {
		                :f            => f,
		                :category     => @category,
		                :placeholders => @placeholders,
                    :onboarding   => false,
                    :submit_class => 'update_product'}%>
		
		  <%end%> <!-- form -->
	
	</div> <!-- container -->
   
</div> <!-- pic_bg -->

		
<%=render 'chooser'%>	



<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.Edit({
                        el            : $('body'),
                        productJSON   : <%=@product.to_json(
                                              :only     => [:endorsement],
                                              :methods  => [:photo_url])%>,
                        categoryJSON  : <%=@category.to_json%>,
                        source        : '<%=@source%>'});
  </script>

<%end%>

