<div id="pic_bg">

	<div id="container">

		<div id="box">
		
      <%if is_onboarding? && @category.name == 'Shoes'%>
        <p class="heading">
            <span class="title">Add your first item</span><br />
            <span class="futura_bold">What shoes are you wearing <u>right now?</u></span>
        </p>
      <%end%>
		

		<!-- item -->
		
		  <%form_for @product,
		        :html => {:class => 'new_product'} do |f|%>
		
		    <%=render :partial  => 'input', 
		              :locals   => {
		                :f            => f,
		                :category     => @category,
		                :placeholders => @placeholders,
                    :onboarding   => is_onboarding?}%>
		
		  <%end%> <!-- form -->
  
		</div> <!-- box -->

		<div id="footer">
			<%=CONFIG[:name]%> © 2011 · <%=email_link%>
		</div>
	
	</div> <!-- container -->
   
</div> <!-- pic_bg -->


<%=render 'chooser'%> 

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.New({
                        el            : $('body'),
                        categoryJSON  : <%=@category.to_json%>,
                        source        : '<%=@source%>'});
  </script>

<%end%>

