
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 3} if is_onboarding?%>


<div class="container creation">
	<div class="row">
		<div class="span6 offset3">
		
		  <%form_for @product,
		      :html => {:class => "well form-horizontal"} do |f|%>
		
		    <%=render :partial  => 'input', 
		        :locals   => {
		          :f                => f,
		          :category         => @category,
              :suggestion       => @suggestion,
		          :placeholders     => @placeholders,
		          :onboarding       => is_onboarding? && @category.name == 'Shoes',
		          :submit_text      => "Add to closet",
		          :show_query_box   => true,
              :show_extra_steps => false}%>
		
		  <%end%> <!-- /form -->
		  
		  <div id="url_alert_box" 
            class="alert alert-info ways" 
            style="padding: 19px;">
		    <h3 style="color: #3A87AD;">Two ways to add your item!</h3>
		    <p style="margin-top: 6px">1. Type in your item's detailed name</p>
		    <img style="margin: -26px 0 0 -19px; max-width: none;" src="<%=image_path 'create-placeholder-name.png'%>" />
		    <p style="margin-top: -16px">2. Paste in the URL of a page containing your item</p>
		    <img style="margin: -26px 0 -12px -19px; max-width: none;" src="<%=image_path 'create-placeholder-url.png'%>" />
		  </div> <!-- /alert -->
	
		</div> <!-- /span6 -->
	</div> <!-- /row -->
</div> <!-- /container -->


<%=render 'chooser'%> 


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.New({
          el            : $('body'),
          source        : '<%=@source%>',
          suggestion    : <%=@suggestion.to_json(:only => [:id,:title])%>});
  </script>
<%end%>

