<!--
<div id="background">
	<img src="/images/home_batch_2.jpg" class="stretch unselectable" />
</div>
-->

<div id="pic_bg" class="fixed_bg">
	
		<%if is_onboarding? && @category.name == 'Shoes'%>
			<div id='header_onboarding'>
			
				<div class='navbar unselectable'>
			
					 <%=image_tag('oncloset_logo_30_white.png', 
					 		:alt => CONFIG[:name],
					 		:class => "logo")%>
					 		
					<ol id='indicators'>
			        <li class='first'></li>
			        <li class='second'></li>
			        <li class='third on'></li>
			    </ol> 		
			
				</div>
			
			</div>
		<%end%>
			
			<div id='container'>

		<%if is_onboarding? && @category.name == 'Shoes'%>
      <div class='heading unselectable'>
      	To start your closet, type the name<br /> 
      	of the favorite pair of shoes you own:
      </div>
    <%end%>
		

		<!-- item -->
		
		  <%form_for @product,
		        :html => {:class => 'new_product unselectable'} do |f|%>
		
		    <%=render :partial  => 'input', 
		              :locals   => {
		                :f            => f,
		                :category     => @category,
		                :placeholders => @placeholders,
                    :onboarding   => is_onboarding? && @category.name == 'Shoes'}%>
		
		  <%end%> <!-- form -->
		
	</div> <!-- container -->
   
</div> <!-- pic_bg -->


<%=render 'chooser'%> 

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.New({
                        el            : $('body'),
                        categoryJSON  : <%=@category.to_json%>,
                        source        : '<%=@source%>'});
  </script>

<%end%>

