
<!-- item -->

<%form_for @product, :html => {:multipart => true} do |f|%>

      <%=f.hidden_field :category, :value => @category%>
      <%=f.hidden_field :website_url%>
      <%=f.hidden_field :image_url%>
      <%=f.hidden_field :thumb_url%>
      <%=f.hidden_field :is_hosted%>
      
	<div class="step">
		<p class="step_title">
      <%=@placeholders[:query]%>
    </p>

    <%=f.text_field :query,
        :value 	=> "",			
        :class    => "creation_input box_shadow creation_search"%><input id="product_search" value="Go" title="Search" type="button" alt="Search">
		
		<p class="step_example">
      <%=@placeholders[:query_eg]%>
    </p>
	</div> <!-- step -->
	
	<div id="product_selection" class="step rounded">
	</div>

  <div id="product_extra" style="display:block">
	
	  <div class="step">
	  	<p class="step_title">
        <%=@placeholders[:title]%>
      </p>

	  	<%=f.text_field :title,
                  :value    => "",
                  :class    => "creation_input box_shadow"%>
	  </div> <!-- step -->
	  
	  <!--div class="step">
	  	<p class="step_title">
        <%=@placeholders[:endorsement]%>
      </p>

      <%=f.text_area :endorsement,
            :value    => "",
            :class    => "creation_input box_shadow creation_endorsement"%>

	  	<p class="step_example">
        <%=@placeholders[:endorsement_eg]%>
      </p>
	  </div--> <!-- step -->
	  
    <%=submit_tag "Save and Share",
                  :name   => :nil,
                  :class  => "large blue awesome creation_submit_button"%>
  
  </div>


<%end%> <!-- form -->




	

	<div id="chooser" class="shadow_overlay" style="display:none">
		<div id="chooser_cancel_bar">
			<div id="chooser_closebox" class="cancel_chooser dark_button">Close</div>
		</div>
		<div id="results"></div>
	</div> <!-- chooser -->

	

<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>


<script type="text/javascript">
    var productInputView = new Denwen.ProductInputView({el:$('body')});
</script>

<%end%>
