
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 3} if is_onboarding?%>
	

<div class="container">
	<div class="row">
		
		<div class="span6 offset3">
	
			<%if is_onboarding? && @category.name == 'Shoes'%>
			  <div id="onboarding_create_msg">
			  	To start your closet, type the name<br /> 
			  	of the favorite pair of shoes you own:
			  </div>
			<%else%>
			
			<%end%>
		
		
			<!-- item -->
		
		  <%form_for @product,
		      :html => {:class => "well form-inline"} do |f|%>
		
		    <%=render :partial  => 'input', 
		        :locals   => {
		          :f                => f,
		          :category         => @category,
		          :placeholders     => @placeholders,
		          :onboarding       => is_onboarding? && @category.name == 'Shoes',
		          :submit_class     => "",
		          :show_query_box   => true}%>
		
		  <%end%> <!-- /form -->
	
		</div> <!-- /span8 -->
		
	</div> <!-- /row -->
</div> <!-- /container -->


<%=render 'chooser'%> 


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.New({
          el            : $('body'),
          source        : '<%=@source%>',
          categoryJSON  : <%=@category.to_json(
                              :only => [:id,:name,:handle,:weight])%>});
  </script>
<%end%>

