
	<!-- item -->
	<div id="container">
	
    <div id="instructions_1" style="display:block" class="unselectable">
      <%=image_tag "instructions_1.png"%>
    </div>
    <div id="instructions_2" style="display:block" class="unselectable">
      <%=image_tag "instructions_2.png"%>
    </div>
    <div id="instructions_3" style="display:block" class="unselectable"> 
      <%=image_tag "instructions_3.png"%>
    </div> <!-- instructions -->
	
    <%form_for @product, :html => {:multipart => true} do |f|%>
      <%=f.hidden_field :website_url%>
      <%=f.hidden_field :image_url%>
      <%=f.hidden_field :is_hosted%>

			<div id="left">

       <div id="product_selection">
         <div id="product_image">
         </div>
         <div id="product_cancel" 
             class="change_photo dark_button rounded faded">
           Change photo
         </div>
       </div> <!-- product_selection-->

        <div id="product_input">
          <div id="item_search">
            <%=f.text_field :query,
                  :value    => "Search for an item by name...",
                  :class    => "box_shadow"%>
            <input id="product_search" value="" 
                    title="Search" type="button" alt="Search">
          </div>
          <%=image_tag "or.png"%>
          <span id="product_upload"></span>
        </div> <!--product_input-->

			</div> <!-- left -->
			
			<div id="right">
				<div id="right_new_content">
					<div id="right_titlebox">	
            <%=image_tag self.current_user.photo_url, 
                          :id => "user_photo"%>
            <span id="user_name" class="is_sharing">
              <%=user_share_text(self.current_user)%>&hellip;
            </span>
					</div>
							
          <%=f.text_field :title,
                :value    => "Item name",
                :class    => "box_shadow"%>

          <%=f.text_area :endorsement,
                :value    => "Why do you love it?",
                :class    => "box_shadow"%>

          <%=submit_tag "", 
                        :id     => "action_button",
                        :class  => "save_and_share shadow"%>
				</div>
			</div> <!-- right -->
			
		</form>

	</div> <!-- container -->

	<div id="chooser" class="shadow_overlay" style="display:none">
		<div id="chooser_cancel_bar">
			<div id="chooser_closebox" class="cancel_chooser dark_button">Close</div>
		</div>
		<div id="results"></div>
	</div> <!-- chooser -->

  <%end%>

  <script type="text/javascript">
    var newProductViewController = new NewProductViewController(
                    {<%=@uploader.map{|k,v| "'#{k}':'#{v}'"}.join(",")%>});

    center_based_on_element('#container');
  </script>

