  <%=self.current_user.first_name%>
  <%=image_tag self.current_user.image_url, :alt => "user image"%>


  <%form_for @product, :html => {:multipart => true} do |f|%>
    <%=f.hidden_field :website_url%>
    <%=f.hidden_field :image_url%>


    Title  <%=f.text_field :title%> <br>
    Endorsement <%=f.text_field :endorsement%> <br>

    Search  <%=f.text_field :query%> <br>
    <%#f.file_field :image%> <br>

    <%=submit_tag "Create"%>
  <%end%>

  <div id="selection">
  </div>

  <h2>RESULTS</h2>
  <div id="results"></div>

  <script type="text/javascript">
    var newProductViewController = new NewProductViewController();
  </script>

