
  <%=render :partial => "misc/welcome", 
        :locals => {
          :user   => @product.user,
          :source => "product_" + @product.id.to_s} unless logged_in?%>


  <div id="container">

    <%=link_to "â† " + @product.user.first_name + "'s Collection",
        user_path(@product.user,:src => "collection"),
        :class => "navigation" %>
    
    <%=@next_path ? link_to("&raquo;",@next_path, :class => "next") : ""%>
    <%=@prev_path ? link_to("&laquo;",@prev_path, :class => "previous") : ""%>


    <!-- product -->
      <div>

          <div id="left" class="photo">
            <%=link_to_if !@product.is_hosted,
                          image_tag(
                            @product.photo_url,
                            :id => "left_photo",
                            :alt => ""),
                          @product.website_url,
                          :target => "_blank" %>
          </div> <!-- left -->

          
          <div id="right">
            <div id="right_content">

                <div id="right_titlebox">
                
                  <%=link_to image_tag (@product.user.photo_url, 
                               :id => "user_photo",
                               :alt => ""),
                               user_path(@product.user,
                                  :src => "product_photo")%>

                  <div id="user_name">
                    <%=user_share_text(@product.user)%>
                  </div>

                  <div id="item_name">
                    <%=h @product.title%>
                  </div>
                </div> <!--right_titlebox-->

                <div id="right_commentbox">
                  <div id="speechmarks_open">
                  </div>
                  <div id="user_comment">
                    <%#h @product.endorsement%>
                    <%=h @product.price%> <br>
                    <%=h @product.store ? @product.store.name : ""%> 
                  </div>
                  <div id="speechmarks_close">
                  </div>
                </div> <!--right_commentbox-->
                
                <div id="blocker"></div>
            </div> <!-- right_content -->
          </div> <!-- right -->

      </div>
    <!-- end of product -->


    <div id="blocker"></div>

    <div id="comments_container">

      <%if logged_in?%>
      
        <%=image_tag self.current_user.photo_url,
            :id => "comment_photo_self",
            :alt => ""%>

        <%=text_area_tag "comment_data","What do you think?",
            :class => "box_shadow" %>
          
        <div id="blocker"></div>
        <div class="post_comment">
            <input id="comment_post" class="small_button" 
                    value="Post Comment" title="Post" type="button" alt="">
        </div>
      <%end%> <!-- comment entry box -->


      <div id="comments">
        <%=render @comments%> 
      </div> <!-- comments -->
        
      <div id="blocker"></div>
      
    </div> <!-- comment_container -->
      
      <div id="blocker"></div>
    
  </div> <!-- container -->

  <%content_for :javascript do%>
    <script type="text/javascript">

      analytics.userLandsOn('product_<%=@product.id.to_s%>');

      center_based_on_element('#container',<%=logged_in? ? 50 : 50%>);

      var comment = new Denwen.Comment({
                          'defaultData':$('#comment_data').val(),
                          'product_id':<%=@product.id%>});
      var commentInputView = new Denwen.CommentInputView({
                                  model: comment,
                                  el:$('#comments_container')});
        
      analytics.productProfileView('<%=@source%>');
    </script>
  <%end%>
