<!-- Generate presenters for the view -->
<%@user_presenter     = presenter_for(@product.user)%>
<%@product_presenter  = presenter_for(@product)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @product_presenter.page_title(
                                  @user_presenter.full_name),
              :type         => 'product',
              :description  => @user_presenter.usage_description,
              :url          => @product_presenter.url('fb'),
              :image        => @product_presenter.thumbnail_url}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
  <%=render :partial => 'misc/welcome', 
        :locals => {
          :user_presenter => @user_presenter,
          :source         => 'product_' + @product.id.to_s} unless logged_in?%>


  <div id="container">
  
  	<div id="product_section" class="slim_shadow_light">
  	
      <!-- link to closet -->
      <%=@user_presenter.closet_breadcrumb 'product'%>

  		<div class="left_delete">
        <%=@product_presenter.destroy_link%>
      </div>

    
      <!-- navigation to other products -->
      <%=@product_presenter.next(@next_path)%>
      <%=@product_presenter.prev(@prev_path)%>
	
	
	    <!-- product -->
      <div>

        <div id="left" class="photo">
          <%=@product_presenter.large_image%>
        </div>

        
        <div id="right">
        
          <div id="right_user_image">
            <%=@user_presenter.large_picture('','product_user')%>
          </div>

          <table id="right_text">
            <tr>
              <td>
                <div id="right_text_div">
                  <%=@user_presenter.bought_text%> <br/>
                    
                  <span class="right_title">
                    <%=h @product_presenter.title%>
                  </span>
                  
                  <br/>
                  
                  <%=@product_presenter.byline%>

                  <div id="right_relativist">
                    <div id="right_extras">
                        <%=render :partial => 'endorsement',
                                  :locals   => {
                                                :source   => @source,
                                                :product  => @product}%>
                    </div> <!--right_extras-->
                  </div> <!--right_relativist-->
                </div>
              </td>
            </tr>
           </table>
           
        </div> <!-- right -->
        
        <%=blocker%>

      </div> <!-- product -->
	      
		</div> <!-- product_section -->
	  
	  <div id="extras_container">
	      	
	    <div id="comments_container">
	    
	    	<%if logged_in?%>
	     
		      <div id="add_comment">
			      
			        <%=image_tag self.current_user.photo_url,
			            :id => "comment_photo_self",
			            :class => "slim_shadow_dark",
			            :alt => ""%>
			
			        <%=text_area_tag "comment_data","Add a comment",
			            :class => "box_shadow" %>
			          
		          <input id="comment_post" class="small_button" 
		                  value="Post" title="Post" type="button" alt=""> 
			      
		        <%=blocker%>
		      </div>
	      
	      <%end%> <!-- comment entry box -->
	
	
	      <div>
          <div id="comments">
          <div>
	        <%=blocker%>
	      </div>
	      
	      <%=blocker%>
	      
	    </div> <!-- comments_container -->
	    
	    <div id="product_goodies_container">
	    
			  <!-- like button for the page -->
	      <%=render :partial => 'facebook/like', 
	                :locals => {
	                	:style				=> 'margin-top: 6px;',
	                  :url          => @product_presenter.url('fb'),
	                  :send_button  => true,
	                  :width        => 200,
	                  :faces        => false}%>
	                  
	    </div> <!-- product_goodies_container -->
	   
	   </div> <!-- extras_container -->
	   
	   <%=blocker%>
    
  </div> <!-- container -->



  <%content_for :javascript do%>
    <script type="text/javascript">

      analytics.userLandsOn('product_<%=@product.id.to_s%>');

      var fb = new Denwen.Partials.Facebook();

      <%if is_current_user(@product.user)%>
        var product = new Denwen.Models.Product(<%=@product.to_json%>);
        var productEndorsementView = new Denwen.ProductEndorsementView({
                                          model:product,
                                          el:$('#right_extras'),
                                          source:'<%=@source%>'});
      <%end%>

      new Denwen.Partials.Comments({
            product_id:<%=@product.id%>,
            el:$('#comments_container')});

      analytics.productProfileView('<%=@source%>',<%=@product.id%>);

    </script>
  <%end%>

