<!-- Generate presenters for the view -->
<%@user_presenter     = presenter_for(@product.user)%>
<%@product_presenter  = presenter_for(@product)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @product_presenter.title, 
              :type         => OGObject::Item, 
              :description  => @product_presenter.description, 
              :url          => @product_presenter.url('fb'),
              :image        => @product_presenter.thumbnail_url,
              :store        => @product.store}%>
<%end%>

<!-- Welcome box to signup if user is not logged in -->
<%=render :partial => 'misc/welcome', 
      :locals => {
        :src    => @product_presenter.source_id,
        :target => @product_presenter.path('footer')} unless logged_in?%>

<div class="container item">
	<div class="row">
    <div class="span8 offset2">
    	<div class="well">
    		<div class="control-group">
					<div class="thumbnail" style="background: white; position: relative; min-height: 200px;">
					
					
						<%if logged_in?%>
							<div class="btn-group" style="position: absolute; top: 6px; left: 6px; width: 150px;">
						    <%unless is_current_user(@product.user)%>
						    	<a id="want_actionable" href="javascript:void(0)" class="btn">
						      	Want
						     	</a>
						      <a id="own_actionable" href="javascript:void(0)" class="btn">
						      	Own
						      </a>
						    <%else%>  
						      <%=@product_presenter.edit_link%>
						       <%=@product_presenter.destroy_link%>
						    <%end%>
							</div>
						<%end%> <!-- /own + want -->


				    <%unless @next_product.id == @prev_product.id && 
				             @next_product.id == @product.id%>
				      <div class="btn-group" style="position: absolute; top: 6px; right: 6px; width: 71px;">      
				      	<%=@product_presenter.prev(@next_product,@product.user)%>  
					      <%=@product_presenter.next(@prev_product,@product.user)%>
					    </div>
				    <%end%> <!-- /previous + next -->


						<%=@product_presenter.large_image%>
						
						
						<div class="caption" style="padding-top: 18px;">
							<h5 style="font-weight: normal">
								<strong><%=h @product_presenter.title%></strong> 
								<%=@product_presenter.byline%>
							</h5>
							<p style="margin: 0;">
								<%=render :partial => 'endorsement',
	           					:locals   => {:product  => @product}%>
           		</p>			
						</div> <!-- /caption -->
						
						
					</div> <!-- /thumbnail -->
				</div> <!-- /control-group -->
				
				<div id="comments_container">
					<div id="comments"></div>
		    
		    	<%if logged_in?%>
			      <div id="add_comment">
				      
				        <%=image_tag self.current_user.photo_url,
				            :class => "",
				            :alt => ""%>
				
				        <%=text_area_tag "comment_data","Add a comment",
				            :class => "" %>
				          
			          <input id="comment_post" class="btn" 
			                  value="Post" title="Post" type="button" alt=""> 
				      
			      </div> <!-- /add_comment -->
		      <%end%> 
		    </div> <!-- comments_container -->
		    
		    <div id="feed_items"></div>
			
      </div> <!-- /well -->
    </div> <!-- /span12 -->
  </div> <!-- /row -->
</div> <!-- /container -->

<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.Show({
          productJSON : <%=@product.to_json(
                              :only => [:id,:user_id,:endorsement])%>,
          source      : '<%=@source%>'});

  </script>
<%end%>

