<!-- Generate presenters for the view -->
<%@user_presenter     = presenter_for(@product.user)%>
<%@product_presenter  = presenter_for(@product)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @product_presenter.page_title(
                                  @user_presenter.full_name),
              :description  => @user_presenter.usage_description,
              :url          => @product_presenter.url('fb'),
              :image        => @product_presenter.thumbnail_url}%>
<%end%>


<!-- Welcome box to signup if user is not logged in -->
  <%=render :partial => 'misc/welcome', 
        :locals => {
          :user_presenter => @user_presenter,
          :source         => 'product_' + @product.id.to_s} unless logged_in?%>


  <div id="container">
  
  	<div id="product_section">
  	
      <!-- link to closet -->
      <%=@user_presenter.closet_breadcrumb 'product'%>

  		<div class="left_delete">Delete this item</div>
    
      <!-- navigation to other products -->
      <%=@product_presenter.next(@next_path)%>
      <%=@product_presenter.prev(@prev_path)%>
	
	
	    <!-- product -->
      <div>

        <div id="left" class="photo">
          <%=@product_presenter.large_image%>
        </div>

        
        <div id="right">
        
          <div id="right_user_image">
            <%=@user_presenter.large_picture('','product_user')%>
          </div>

          <table id="right_text">
            <tr>
              <td>
                <div id="right_text_div">
                  <%=@user_presenter.bought_text%> <br/>
                    
                    <span class="right_title">
                      <%=h @product_presenter.title%>
                    </span>
                    
                    <br/>
                    
                    <%=@product_presenter.byline%>

                    <div id="right_relativist">
                      <div id="right_extras">
                        <%=h @product_presenter.endorsement%><br/>
                      </div>
                    </div>
                </div>
              </td>
            </tr>
           </table>
           
        </div> <!-- right -->
        
        <%=blocker%>

      </div> <!-- product -->
	      
		</div> <!-- product_section -->
	      




	
    <div id="comments_container">
     
      <div id="add_comment">

	      <%if logged_in?%>
	      
	        <%=image_tag self.current_user.photo_url,
	            :id => "comment_photo_self",
	            :alt => ""%>
	
	        <%=text_area_tag "comment_data","Add a comment",
	            :class => "box_shadow" %>
	          
          <input id="comment_post" class="small_button" 
                  value="Post" title="Post" type="button" alt=""> 
	                    
	      <%end%> <!-- comment entry box -->
	      
        <%=blocker%>
      </div>


      <div id="comments">
        <%=render @comments%> 
      </div>
        
      <%=blocker%>
      
    </div> <!-- comment_container -->
      
    <%=blocker%>
    
  </div> <!-- container -->



  <%content_for :javascript do%>
    <script type="text/javascript">

      analytics.userLandsOn('product_<%=@product.id.to_s%>');

      var comment = new Denwen.Comment({
                          'defaultData':$('#comment_data').val(),
                          'product_id':<%=@product.id%>});
      var commentInputView = new Denwen.CommentInputView({
                                  model: comment,
                                  el:$('#comments_container')});
        
      analytics.productProfileView('<%=@source%>');
    </script>
  <%end%>

