
  <%=render :partial => "misc/welcome", 
        :locals => {
          :user   => @product.user,
          :source => "product_" + @product.id.to_s} unless logged_in?%>


  <div id="container">

    <%=link_to "â† " + @product.user.first_name + "'s Collection",
        user_path(@product.user),
        :class => "navigation" %>
    
    <%=@next_path ? link_to("&raquo;",@next_path, :class => "next") : ""%>
    <%=@prev_path ? link_to("&laquo;",@prev_path, :class => "previous") : ""%>

    <%=render @product%>

    <div id="blocker"></div>

    <div id="comments_container">

      <%if logged_in?%>
      
        <%=image_tag self.current_user.photo_url,
            :id => "comment_photo_self",
            :alt => ""%>

        <%=text_area_tag "comment_data","What do you think?",
            :class => "box_shadow" %>
          
        <div id="blocker"></div>
        <div class="post_comment">
            <input id="comment_post" class="small_button" 
                    value="Post Comment" title="Post" type="button" alt=""></div>
      <%end%> <!-- comment entry box -->


      <div id="comments">
        <%=render @comments%> 
      </div> <!-- comments -->
        
      <div id="blocker"></div>
      
    </div> <!-- comment_container -->
      
      <div id="blocker"></div>
    
  </div> <!-- container -->

  <script type="text/javascript">
    var productShowViewController = new ProductShowViewController(
                                          <%=@product.id%>);

    mpq.register_once({'landed_on' : 'product_<%=@product.id.to_s%>'});

    <%if logged_in?  && 
          @product.user.id == self.current_user.id && 
          !@product.is_shared%>
      productShowViewController.share();
    <%end%>

    center_based_on_element('#container',<%=logged_in? ? 50 : 50%>);
      
  </script>
