
    <!-- item -->
  <div id="container">
  
    <%unless logged_in?%>
      <div id="instructions_1" style="display:block">
        <%=image_tag "instructions_1.png"%>
      </div>
      <div id="instructions_2" style="display:block">
        <%=image_tag "instructions_2.png"%>
      </div>
      <div id="instructions_3" style="display:block">
        <%=image_tag "instructions_3.png"%>
      </div> <!-- instructions -->
    <%end%>
    
    
    <div id="left" class="photo">
      <%=link_to_if !@product.is_hosted,
                    image_tag(
                      @product.photo_url,
                      :id => "left_photo"),
                    @product.website_url,
                    :target => "_blank" %>
    </div> <!-- left -->

    
    <div id="right">
      <div id="right_content">

          <div id="right_titlebox">
            <%=image_tag @product.user.photo_url, 
                          :id => "user_photo"%>

            <span id="user_name">
              <%=user_share_text(@product.user)%>
            </span><br>

            <span id="item_name">
              <%=@product.title%>
            </span>
          </div> <!--right_titlebox-->

          <div id="right_commentbox">
          	<div id="speechmarks_open"></div>
            	<div id="user_comment"><%=@product.endorsement%></div>
          	<div id="speechmarks_close"></div>
          </div> <!--right_commentbox-->

          <%if !logged_in?%>
            <%=link_to image_tag("login_facebook.png", 
                          :class  => "shadow",
                          :id     => "action_button"),
                        fb_auth_path%>
          <%elsif self.current_user.id == @product.user.id%>
            <%=link_to image_tag("done_post_another_button.png", 
                          :class  => "shadow",
                          :id     => "action_button"),
                        new_product_path%>
          <%else%>
            <%=link_to image_tag("share_own_item.png", 
                          :class  => "shadow",
                          :id     => "action_button"),
                        new_product_path%>
          <%end%>
			<div id="blocker"></div>
      </div> <!-- right_content -->
    </div> <!-- right -->


  </div> <!-- container -->

  <script type="text/javascript">
    var productShowViewController = new ProductShowViewController(
                                          <%=@product.id%>);

    <%if logged_in?  && 
          @product.user.id == self.current_user.id && 
          !@product.is_shared%>
      productShowViewController.share();
    <%end%>

    center_based_on_element('#container');
      
  </script>
