
  <!-- item -->
  <div id="container">
    <%unless logged_in?%>
      <div id="instructions_1" style="display:block">
        <%=image_tag "instructions_1.png"%>
      </div>
      <div id="instructions_2" style="display:block">
        <%=image_tag "instructions_2.png"%>
      </div>
      <div id="instructions_3" style="display:block">
        <%=image_tag "instructions_3.png"%>
      </div>
    <%end%>

    <%=render @product%>

    <%if logged_in?%>
      <%=text_field_tag "comment_data","Type a lovely comment"%>
        <input id="comment_post" value="Post" 
                title="Post" type="button" alt="Post">
    <%end%>

    <div id="comments">
      <%=render @product.comments.reverse%>
    </div>
  </div> <!-- container -->

  <script type="text/javascript">
    var productShowViewController = new ProductShowViewController(
                                          <%=@product.id%>);

    <%if logged_in?  && 
          @product.user.id == self.current_user.id && 
          !@product.is_shared%>
      productShowViewController.share();
    <%end%>

    <%if !logged_in?%>
      productShowViewController.setupLoggedOutAnalytics();
    <%elsif self.current_user.id == @product.user.id%>
      productShowViewController.setupPostCreationAnalytics();
    <%else%>
      productShowViewController.setupLoggedInAnalytics();
    <%end%>

    center_based_on_element('#container');
      
  </script>
