<!-- Generate presenters for the view -->
<%@product_presenter  = presenter_for(@product)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @product_presenter.title, 
              :type         => OGObject::Item, 
              :description  => @product_presenter.description, 
              :url          => @product_presenter.url('fb'),
              :image        => @product_presenter.thumbnail_url,
              :store        => @product.store}%>
<%end%>

<div class="container">

  <%=link_to("<i class='icon-chevron-left'></i>",
            product_path(
              @product.user.handle,
              @next_product.handle,
              :src => 'previous'),
            :class => 'btn') if @next_product%>

  <%=link_to("<i class='icon-chevron-right'></i>",
            product_path(
              @product.user.handle,
              @prev_product.handle,
              :src => 'next'),
            :class => 'btn') if @prev_product%>

  <div class="col-triple" style="margin-left: 189px;">
    <div id="feed" class="feed">
    </div>
  </div>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.Show({
        productJSON     : <%=render :partial => "products/display.json.erb",
                              :locals => {:object => @product}%>,
        friends         : <%=logged_in? ? self.current_user.ifollowers.to_json(
                                          :only => [:id]) : nil.to_json%>,
        source          : '<%=@source%>'});

  </script>
<%end%>

