<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
    
    <div id="fb-root"></div>    

    <%=render "misc/header"%>
 
    <%=yield%>
    
    <div id="blocker"></div>


    <!--div id="footer">
     <%=CONFIG[:name]%> © 2011 · <%=email_link%>
    </div-->

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);

      <%if @categories%>
        var Categories = new Denwen.Collections.Categories(
                              <%=@categories.to_json%>);
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      make_ie_compatible();
    </script>
  </body>
</html>



