<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged    :application-%>

    <%=yield :head%>


    <%=csrf_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
    
    <div id="fb-root"></div>    

    <%=render "misc/header"%>
 
    <%=yield%>
    
    <div id="blocker"></div>

<!--
   <div id="footer">© 2011 FELVY. ALL RIGHTS RESERVED | 
    	<a href="mailto:contact@felvy.com">contact@felvy.com</a>
    </div>
-->
    <%=render :partial => "misc/analytics"%>
    <%=javascript_include_merged :application-%>

    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);
    </script>

    <%=yield :javascript%>
  </body>
</html>



