<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=current_user_gender_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
  </head>

  <body>
    <%=yield :top%>
  	
  	<!-- wrapper for sticky header -->
  	<div class="wrapper">
    
	    <div id="fb-root">
      </div> 
	    
	  	<div class="dimmer eighty">
    	</div>
	    
	    <div class="container relative">   
	
		    <%=render "headers/default" unless is_onboarding?%>
		    
		    <div id="message-drawer" 
		          class="message-drawer border-box alert rounded-5"
		          style="display: none;">
				</div>
		 
		    <%=yield%>
		   
			</div> <!-- /container -->
	  
	  </div> <!-- /wrapper -->

    <%=render "footers/default" unless is_onboarding?%>

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      Denwen.Flash = new Backbone.Model(<%=flash.to_json%>);
      Denwen.Device = new Backbone.Model({
                          "is_mobile" : <%=is_mobile_device? ? true : false%>,
                          "is_phone"  : <%=is_phone_device? ? true : false%>,
                          "is_tablet" : <%=is_tablet_device? ? true : false%>});

      <%if logged_in?%>
        Denwen.H.currentUser = new Denwen.Models.User(
                               <%=self.current_user.to_json(
                                 :only    => [:id,:fb_user_id,:email,:gender,
                                              :first_name,:last_name,
                                              :created_at],
                                 :methods => [:square_image_url,:full_name,
                                                :age],
                                 :include => {
                                  :setting => {
                                   :only    => [],
                                   :methods => [:fb_publish_permissions,
                                                :fb_auth,
                                                :tw_auth,
                                                :tumblr_auth]}})%>);

       <%if session[:renewed] && self.current_user.setting.fb_auth%>
          new Denwen.Partials.Settings.FBAccessToken();
       <%end%>
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      <%if logged_in? && !is_onboarding? && !is_phone_device? && !Rails.env.starts_with?('d')%>
          var uvOptions = {};
          (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/TYBI4jm5X9Dg69VO7vLW5w.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
      <%end%>
    </script>
    
  </body>
</html>
