<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=current_user_gender_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
  </head>

  <body <%=yield :body_attribute%> id="body">
  	
  	<!-- wrapper for sticky footer -->
  	<div class="wrapper">
    
	    <div id="fb-root"></div>    
	
	    <%=render "headers/default"%>
	    
	    <div id="message-drawer" 
	          class="message-drawer border-box alert rounded-5"
	          style="display: none;">
			</div>
	 
	    <%=yield%>
	  
	  </div> <!-- /wrapper -->

    <footer>
      <div class="inner">
        <%=CONFIG[:name]%> © 2012 · <%=email_link%>
      </div>
    </footer>

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      Denwen.Flash = new Backbone.Model(<%=flash.to_json%>);

      <%if logged_in?%>
        Denwen.H.currentUser = new Denwen.Models.User(
                               <%=self.current_user.to_json(
                                 :only    => [:id,:fb_user_id,:email,:gender],
                                 :methods => [:square_image_url,:full_name,
                                                :age],
                                 :include => {
                                  :setting => {
                                   :only    => [],
                                   :methods => [:fb_publish_permissions,
                                                :fb_extended_permissions,
                                                :tw_permissions]}})%>);
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      make_ie_compatible();
    </script>
    
  </body>
</html>
