<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged    :application-%>
    <%=javascript_include_merged :application-%>

    <!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","957a671eef60497cdc0087021a6b3bf3"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
    </script><!-- end Mixpanel -->

    <%=yield :head%>
  </head>

  <body>
    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);
    </script>

    <div id="logo">
      <%=link_to image_tag('felvy_logo.png'),
      			  root_path%>
    </div>

    <%=yield%>

    <%#render :partial => "misc/ganalytics"%>
    
    <div id="footer">© 2011 FELVY. ALL RIGHTS RESERVED | <a href="mailto:contact@felvy.com">contact@felvy.com</a></div>
    
  </body>
</html>



