<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged    :application-%>
    <%=javascript_include_merged :application-%>


    <%=yield :head%>

    <%=render :partial => "misc/analytics"%>

    <%=csrf_meta_tag%>
  </head>

  <body>
    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);
    </script>

<div id="logo">
      <%=link_to image_tag('felvy_logo.png'),
      			  root_path%>
    </div>
 
    <%=yield%>

    
    <div id="footer">© 2011 FELVY. ALL RIGHTS RESERVED | 
    <a href="mailto:contact@felvy.com">contact@felvy.com</a></div>
    
  </body>
</html>



