<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
  	
	  <div class="background">
			<div class="canvas">
			  <%=image_tag 'home_path/glowrack.jpg'%>
			  <div class="fade_bottom"></div>
		  </div>
		</div>
	
		<div class="outer_frame"></div>
    
    <div id="fb-root"></div>    

    <%=render "headers/default" unless is_onboarding?%>
 
    <%=yield%>
    
    <div id="blocker"></div>

    <%unless is_onboarding?%>
      <div id="footer">
        <%=CONFIG[:name]%> © 2012 · <%=email_link%>
      </div>
    <%end%>

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);

      <%if @categories%>
        var Categories = new Denwen.Collections.Categories(
                              <%=@categories.to_json(
                                  :only => [:id,:name,:handle,:weight])%>);
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      make_ie_compatible();
    </script>
  </body>
</html>



