<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged    :application-%>
    <%=javascript_include_merged :application-%>

    <%=yield :head%>
  </head>

  <body>
    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);
    </script>

    <h1 id="logo">
      <%=link_to "Felvy", root_path%>
    </h1>

    <%=yield%>

    <%#render :partial => "misc/ganalytics"%>
    
    <div id="footer">© 2011 FELVY. ALL RIGHTS RESERVED | <a href="mailto:contact@felvy.com">contact@felvy.com</a></div>
    
  </body>
</html>



