<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged    :application-%>
    <%=javascript_include_merged :application-%>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>


    <%=yield :head%>

    <%=render :partial => "misc/analytics"%>

    <%=csrf_meta_tag%>
  </head>

  <body>
    <script type="text/javascript">
      setupDeviceVariables(
        <%=is_mobile_device? ? true : false%>,
        <%=is_device_ipad?%>,
        <%=is_device_iphone?%>);
    </script>
    
    <div id="header">
	    <div id="navbar">
		    <div id="logo">
		      <%=link_to image_tag('felvy_logo.png'),
		      			     logged_in? ? user_path(self.current_user) : root_path%>
			</div>
			
			<%if !logged_in?%>  
				<%=link_to image_tag('f.png',:class => 'f') + 
				            "Login with Facebook &rsaquo;",
							fb_auth_path(@campaign),
							:class  => "large blue awesome nav",
				            :id => "action_link" %>
		     <%else%>
		     
			     <ul class="logout">
			     	
			     		<li class="button">
					     	<%=image_tag self.current_user.photo_url, 
					        	:class => "logout_user_photo"%><div class="logout_v"></div>
					        	<%=self.current_user.first_name + " " + self.current_user.last_name%>
			        	</li>
			        	<%=link_to "<li class='choice'>Your Collection</li>", user_path(self.current_user)%>
			        	<%=link_to "<li class='choice last_item'>Log Out</li>", logout_path%>
			     </ul>
		
		    <%end%>
	
	    </div>
    </div>

 
    <%=yield%>
    
    <div id="blocker"></div>



<!--
   <div id="footer">© 2011 FELVY. ALL RIGHTS RESERVED | 
    	<a href="mailto:contact@felvy.com">contact@felvy.com</a>
    </div>
-->




  </body>
</html>



