<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=current_user_gender_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
  </head>

  <body <%=yield :body_attribute%> id="body">
  	
  	<!-- wrapper for sticky footer -->
  	<div class="wrapper">
    
	    <div id="fb-root"></div>    
	
	    <%=render "headers/default"%>
	    
	    <div id="message-drawer" 
	          class="message-drawer border-box alert rounded-5"
	          style="display: none;">
			</div>
	 
	    <%=yield%>
	  
	  </div> <!-- /wrapper -->

		<%if logged_in? && !is_onboarding?%>
	    <footer>
	      <div class="inner">
	        <%=CONFIG[:name]%> © 2012 · <%=email_link%>
	      </div>
	    </footer>
	  <%else%>
	  	<footer class="dark">
	      <div class="inner relative">
	      <div class="absolute border-box" style="height: 26px; left: 20px; bottom: 0; overflow: hidden;">
	      	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMine%2F428223863873172&amp;send=false&amp;layout=button_count&amp;width=86&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=245230762190915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:86px; height:21px;" allowTransparency="true"></iframe>
	      </div>
	      <%=CONFIG[:name]%> © 2012 · Palo Alto CA · <a href="mailto:contact@getmine.com">Contact Us</a>
	      </div>
	    </footer>
	  <%end%>
	  

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      Denwen.Flash = new Backbone.Model(<%=flash.to_json%>);

      <%if logged_in?%>
        Denwen.H.currentUser = new Denwen.Models.User(
                               <%=self.current_user.to_json(
                                 :only    => [:id,:fb_user_id,:email,:gender],
                                 :methods => [:square_image_url,:full_name,
                                                :age],
                                 :include => {
                                  :setting => {
                                   :only    => [],
                                   :methods => [:fb_publish_permissions,
                                                :fb_extended_permissions,
                                                :fb_auth,
                                                :tw_auth,
                                                :tumblr_auth]}})%>);

       <%if session[:renewed] && self.current_user.setting.fb_auth%>
          new Denwen.Partials.Settings.FBAccessToken();
       <%end%>
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      make_ie_compatible();
    </script>
    
  </body>
</html>
