<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=current_user_gender_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
    
    <div id="fb-root"></div>    

    <%=render "headers/default" unless is_onboarding?%>
    
    <div id="message-drawer" 
          class="message-drawer faded-95 alert"
          style="display: none;">
		</div>
 
    <%=yield%>

    <%unless is_onboarding?%>
      <footer style="text-align: center;">
      	<p>
        	<%=CONFIG[:name]%> © 2012 · <%=email_link%>
        </p>
      </footer>
    <%end%>

    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :application-%>

    <script type="text/javascript">
      Denwen.Flash = new Backbone.Model(<%=flash.to_json%>);

      <%if logged_in?%>
        Denwen.H.currentUser = new Denwen.Models.User(
                               <%=self.current_user.to_json(
                                 :only    => [:id,:fb_user_id,:email,:gender],
                                 :methods => [:square_image_url,:full_name,
                                                :age],
                                 :include => {
                                  :setting => {
                                   :only    => [],
                                   :methods => [:fb_publish_permissions,
                                                :fb_extended_permissions]}})%>);
      <%end%>
    </script>

    <%=yield :javascript%>

    <script type="text/javascript">
      make_ie_compatible();
    </script>
  </body>
</html>
