<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :application-%>

    <%=yield :head%>

    <%=csrf_meta_tag%>
    <%=asset_host_meta_tag%>
    <%=current_user_id_meta_tag%>
    <%=current_user_gender_meta_tag%>
    <%=is_onboarding_meta_tag%>
    <%=version_meta_tag%>
    
  </head>

  <body <%=theme_body_attributes%>>
    <%=yield :top%>
  	
  	<!-- wrapper for sticky header -->
  	<div id="wrapper" 
         class="wrapper"
         style="<%=is_fullscreen_page? ? 'background: none': ''%>">
    
	    <div id="fb-root">
      </div> 
      
    	<div id="message-drawer" 
	          class="message-drawer border-box alert square txt m"
	          style="display: none;">
			</div>
	    
	    <div id="container" 
        class="container border-box 
                relative <%=is_fullscreen_page? ? 'fullscreen' : ''%>">   
	
		    <%=render "headers/default" unless hide_header?%>
		 
		    <%=yield%>
		   
			</div> <!-- /container -->
	  
	  </div> <!-- /wrapper -->


    <%unless @web_view_mode%>

      <%=render "footers/default" unless hide_footer?%>

      <%=render :partial => "misc/analytics"%>

      <%=include_javascripts :application-%>

      <script type="text/javascript">
        Denwen.Flash = new Backbone.Model(<%=flash.to_json%>);
        Denwen.Device = new Backbone.Model({
                            "is_mobile" : <%=is_mobile_device? ? true : false%>,
                            "is_phone"  : <%=is_phone_device? ? true : false%>,
                            "is_tablet" : <%=is_tablet_device? ? true : false%>});

        <%if logged_in?%>
          Denwen.H.currentUser = new Denwen.Models.User(
                                 <%=self.current_user.to_json(
                                   :only    => [:id,:fb_user_id,:email,:gender,
                                                :first_name,:last_name,:handle,
                                                :created_at],
                                   :methods => [:square_image_url,:full_name,
                                                  :age,:obfuscated_id,
                                                  :google_authorized?,:hotmail_authorized?,
                                                  :yahoo_authorized?],
                                   :include => {
                                    :setting => {
                                     :only    => [],
                                     :methods => [:fb_auth,
                                                  :tw_auth,
                                                  :tumblr_auth]}})%>);

          <%if session[:renewed] && self.current_user.setting.fb_auth%>
            new Denwen.Partials.Settings.FBAccessToken();
          <%end%>

          new Denwen.Partials.Users.Search({el:$("#users_search_query")});
        <%end%>
      </script>

      <%=yield :javascript%>

      <script type="text/javascript">
        <%if logged_in? && !is_onboarding?%>

          new Denwen.Partials.Notifications.List({el:$('#notifications_box')});

          <%if false && !is_phone_device? && !Rails.env.starts_with?('d')%>
            var uvOptions = {};
            (function() {
              var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
              uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/TYBI4jm5X9Dg69VO7vLW5w.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
            })();
          <%end%>
        <%end%>
      </script>
    <%end%>
    
  </body>
</html>
