<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


<!-- logo -->
<table 
	scale="1"
	border="0" 
	width="100%" 
	cellpadding="0" 
  cellspacing="0" 
  align="center"
  bgcolor="#444">
	<tr>
	  <td height="52" align="center">
	  	<a href="<%=root_url(:src => @source)%>">
	  		<img alt="" width="91" height="40" src="<%=image_path "#{(is_dev? ? "http://#{CONFIG[:host]}/images/" : '')}logos/mine-email-2x.png"%>"/>
	  	</a>
	  </td>
	</tr>
</table>
	

<%=yield :headline%>

<!-- description -->
<table 
	scale="1"
	border="0" 
	width="100%"
	bgcolor="#FFF" 
	cellpadding="0" 
  cellspacing="0" 
  align="center"
  bgcolor="#FFF">
	<tr>
    <%=yield%>
  </tr>
</table>


<!-- footer -->	
<table 
	scale="1"
	border="0" 
	width="100%" 
	cellpadding="0" 
  cellspacing="0" 
  align="center"
  bgcolor="#EEE">
	<tr>
	  <td align="center" style="-webkit-text-size-adjust:none; padding: 16px 12px;">
	  	<font face="Arial" color="#CCC">
	    	<p style="font-size:12px; line-height: 16px; font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
	    		This message was sent to you by <%=CONFIG[:name]%>.
	    		<br>
		    	<a href="javascript:void(0)"
		    		style="font-size:12px; font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;color:#CCC; text-decoration:none;">
	        	855 El Camino Real #330 Palo Alto CA 94301
	      	</a>
	      	<br>
	      	<a href="<%=settings_url(:src => @source)%>"
	      		style="font-size:12px; font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;color:#CCC; text-decoration:none;">
	        	Click here to change your notification settings.
	      	</a>
	    </font>
	  </td>
	</tr>
</table>
