<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :home-%>

    <%=yield :head%>
  </head>

  <body style='overflow:hidden' class='home7'>
    <%=yield%>
    
    <%=render :partial => "misc/analytics"%>

    <%=yield :javascript%>
  </body>
</html>
