<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :home-%>

    <%=yield :head%>
  </head>

  <body class="home">
    <%=yield%>
    
    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :home-%>

    <%=yield :javascript%>
  </body>
</html>
