<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :home-%>

    <%=yield :head%>
  </head>

  <body <%=yield :body_attribute-%>>
    <%=yield%>
    
    <%=render :partial => "misc/analytics"%>

    <%#include_javascripts :home-%>

    <%=yield :javascript%>
  </body>
</html>
