<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged :home-%>

    <%=yield :head%>


    <%=csrf_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
    
    <%=render "misc/header"%>
 
    <%=yield%>
    
    <div id="blocker"></div>

    <%=render :partial => "misc/analytics"%>
    <%=javascript_include_merged :home-%>

    <%=yield :javascript%>
  </body>
</html>



