<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=include_stylesheets :home-%>
    <%=include_stylesheets :tablet if is_tablet_device? || 
                                      Rails.env.starts_with?('d')-%>
    <%=include_stylesheets :mobile if is_phone_device? ||
                                      Rails.env.starts_with?('d')-%>

    <%=yield :head%>
  </head>

  <body>
    <%=yield%>
    
    <%=render :partial => "misc/analytics"%>

    <%=include_javascripts :home-%>

    <%=yield :javascript%>
  </body>
</html>
