<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial => "misc/head"%> 

    <%=stylesheet_link_merged :home-%>

    <%=yield :head%>


    <%=csrf_meta_tag%>
  </head>

  <body <%=yield :body_attribute%>>
    
    
    <%=render "misc/header" if @home == 'girl'%>
 
    <%=yield%>
    
    <%=blocker%>

    <%=render :partial => "misc/analytics"%>

    <%=yield :javascript%>
  </body>
</html>



